Kernel/Lazirku/avto_2
[{"id":"afe7c760.be3a18","type":"tab","label":"Вагова 1","disabled":false,"info":"Машини лише на виїзд"},{"id":"8cc9c6eb.ff7ab8","type":"tab","label":"RFID UHF","disabled":false,"info":""},{"id":"e0072cdc.8f9e","type":"tab","label":"Табло 1 (СТ 1 і 2)","disabled":false,"info":""},{"id":"e9ecd30a.5a31f","type":"tab","label":"Табло 2 Ближнє (СТ 1 і 2)","disabled":false,"info":""},{"id":"7fbc3aed.2fc7a4","type":"tab","label":"Зчитувач","disabled":false,"info":""},{"id":"316a9f4f.43109","type":"tab","label":"Периметр","disabled":false,"info":""},{"id":"55c7dc36.ccf604","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ff94a736.741768","type":"tab","label":"Ваги","disabled":false,"info":""},{"id":"6944b786.c5ee68","type":"subflow","name":"ETTN","info":"","in":[],"out":[]},{"id":"8558f227.8bfad","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"fdf83e23.ca231","type":"subflow","name":"ETTN (2)","info":"","in":[],"out":[]},{"id":"f0d9c911.019928","type":"subflow","name":"Subflow 1 (2)","info":"","in":[],"out":[]},{"id":"ab252d11.be5c7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce30736.849af9","type":"ui_group","z":"","name":"Зчитувачі","tab":"e988d0b4.d3aaf","order":5,"disp":true,"width":"6","collapse":false},{"id":"e988d0b4.d3aaf","type":"ui_tab","z":"","name":"Monitoring","icon":"dashboard","disabled":false,"hidden":false},{"id":"ca5b9a5e.962308","type":"ui_group","z":"","name":"Вага","tab":"e988d0b4.d3aaf","order":6,"disp":true,"width":"6","collapse":false},{"id":"799c02b5.2516fc","type":"ui_group","z":"","name":"Периметр","tab":"e988d0b4.d3aaf","order":7,"disp":true,"width":"5","collapse":false},{"id":"96d8624a.a86e5","type":"ui_group","z":"","name":"Табло 1 IN Сторона 1","tab":"e988d0b4.d3aaf","order":2,"disp":true,"width":"6","collapse":false},{"id":"38fcbfb0.3854e","type":"ui_group","z":"","name":"Табло 1 IN Сторона 0","tab":"e988d0b4.d3aaf","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb54a8cb.14efb8","type":"ui_group","z":"","name":"Табло 2 OUT Сторона 0","tab":"e988d0b4.d3aaf","order":3,"disp":true,"width":"6","collapse":false},{"id":"220c91a4.27f1ae","type":"ui_group","z":"","name":"Табло 2 OUT Сторона 1","tab":"e988d0b4.d3aaf","order":4,"disp":true,"width":"6","collapse":false},{"id":"3d92b1aa.58660e","type":"ui_group","z":"","name":"Графік ваги","tab":"e988d0b4.d3aaf","order":8,"disp":true,"width":"6","collapse":false},{"id":"649c659.618be9c","type":"serial-port","z":"","serialport":"/dev/rfid_r_2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"500","bin":"bin","out":"time","addchar":"false","responsetimeout":"10000"},{"id":"8e569540.6150a8","type":"serial-port","z":"","serialport":"/dev/rfid_r_1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"200","bin":"bin","out":"time","addchar":"false","responsetimeout":"10000"},{"id":"b3372e76.9d3b4","type":"ui_group","z":"","name":"Номери автомобілів","tab":"e988d0b4.d3aaf","order":9,"disp":true,"width":"6","collapse":false},{"id":"e7682fd2.cb40f","type":"comment","z":"7fbc3aed.2fc7a4","name":"Вїзд дальні","info":"","x":90,"y":60,"wires":[]},{"id":"257b4d6.fcde0b2","type":"debug","z":"316a9f4f.43109","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":200,"wires":[]},{"id":"5b9b377d.ee2288","type":"comment","z":"316a9f4f.43109","name":"Виїзд Init","info":"","x":120,"y":160,"wires":[]},{"id":"82261bb8.5343b8","type":"comment","z":"316a9f4f.43109","name":"Вїзд Init","info":"","x":110,"y":60,"wires":[]},{"id":"eb686465.bee038","type":"comment","z":"316a9f4f.43109","name":"1 Не пересічено: 0 Пересічено","info":"","x":410,"y":40,"wires":[]},{"id":"27a1849e.b7fe1c","type":"link out","z":"7fbc3aed.2fc7a4","name":"ЗЧ Вїзд","links":["de0306a3.44eb18","1de42153.98be8f","699fa55f.843b7c","38e0f8e5.10ab38","96e400b2.8de26","47390084.f994a"],"x":735,"y":100,"wires":[]},{"id":"a5c4b8d2.74b7c8","type":"link out","z":"7fbc3aed.2fc7a4","name":"ЗЧ Виїзд","links":["7f9b68cc.93c368","3e95de93.84c1f2","1dbc6cc8.424e53","c23506e5.4fd798"],"x":735,"y":200,"wires":[]},{"id":"ee80ced9.dce64","type":"rpi-gpio in","z":"316a9f4f.43109","name":"","pin":"12","intype":"down","debounce":"1000","read":false,"x":200,"y":200,"wires":[["257b4d6.fcde0b2"]]},{"id":"c1aa6316.1ab6a","type":"tcp in","z":"ff94a736.741768","name":"","server":"server","host":"","port":"2500","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":100,"wires":[["b981c9e8.3cbf78"]]},{"id":"8bd0af4a.68599","type":"debug","z":"ff94a736.741768","name":"weight","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":700,"y":280,"wires":[]},{"id":"b981c9e8.3cbf78","type":"delay","z":"ff94a736.741768","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":100,"wires":[["4432f954.be4208","a60c5682.172618","2adbf65.04f5a0a","109f73d8.af2cfc"]]},{"id":"a1bc5928.3890b8","type":"inject","z":"316a9f4f.43109","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["35062c5b.425b24"]]},{"id":"35062c5b.425b24","type":"exec","z":"316a9f4f.43109","command":"cat /sys/class/gpio/gpio17/value","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"В'їзд","x":270,"y":360,"wires":[["687c27fa.23b578","e584f523.688858","3810a359.95739c"],[],[]]},{"id":"687c27fa.23b578","type":"debug","z":"316a9f4f.43109","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"20048bf.f2db274","type":"inject","z":"316a9f4f.43109","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["50fff875.b64418"]]},{"id":"50fff875.b64418","type":"exec","z":"316a9f4f.43109","command":"cat /sys/class/gpio/gpio18/value","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Виїзд","x":270,"y":420,"wires":[["ded1c118.7ddfb","8ab9c8e5.77a078","fae27e0a.009ac"],[],[]]},{"id":"ded1c118.7ddfb","type":"debug","z":"316a9f4f.43109","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":420,"wires":[]},{"id":"6ad6e9da.c43248","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"ce30736.849af9","order":3,"width":0,"height":0,"passthru":false,"label":"NFC В'їзд","tooltip":"","color":"","bgcolor":"","icon":"","payload":"nfc_2","payloadType":"flow","topic":"NFC В'їзд","x":360,"y":520,"wires":[["4cc27841.8b0208"]]},{"id":"6932f4b6.80a37c","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"ce30736.849af9","order":5,"width":0,"height":0,"passthru":false,"label":"NFC Виїзд","tooltip":"","color":"","bgcolor":"","icon":"","payload":"nfc_3","payloadType":"flow","topic":"NFC Охорона","x":370,"y":560,"wires":[["5cc8ca13.7f60b4"]]},{"id":"2a824c53.a21f54","type":"link out","z":"55c7dc36.ccf604","name":"T2_side_0","links":["65ef34cd.17e22c"],"x":975,"y":160,"wires":[]},{"id":"53f3a621.328a78","type":"ui_form","z":"55c7dc36.ccf604","name":"","label":"Табло 1 IN Сторона 0 (До вагів)","group":"38fcbfb0.3854e","order":1,"width":0,"height":0,"options":[{"label":"Номер","value":"r1","type":"text","required":false},{"label":"Вага","value":"r2","type":"text","required":false}],"formValue":{"r1":"","r2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":160,"wires":[["b9ece431.79e8a8"]]},{"id":"5ffffa4d.bc5924","type":"ui_form","z":"55c7dc36.ccf604","name":"","label":"Табло2 OUT Сторона 0 (Від вагів)","group":"cb54a8cb.14efb8","order":1,"width":0,"height":0,"options":[{"label":"Номер","value":"r1","type":"text","required":false,"rows":null},{"label":"Вага","value":"r2","type":"text","required":false,"rows":null}],"formValue":{"r1":"","r2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":800,"y":160,"wires":[["2a824c53.a21f54"]]},{"id":"dce229a2.000588","type":"ui_gauge","z":"55c7dc36.ccf604","name":"Вага","group":"ca5b9a5e.962308","order":0,"width":0,"height":0,"gtype":"gage","title":"Вага, кг","label":"units","format":"{{value}}","min":0,"max":"60000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20000","seg2":"40000","x":330,"y":700,"wires":[]},{"id":"32d19d64.654cc2","type":"link out","z":"ff94a736.741768","name":"scale","links":["75cd2006.e7318"],"x":675,"y":160,"wires":[]},{"id":"4432f954.be4208","type":"function","z":"ff94a736.741768","name":"","func":"msg.payload = global.set(\"weight\",Number(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":160,"wires":[["32d19d64.654cc2"]]},{"id":"75cd2006.e7318","type":"link in","z":"55c7dc36.ccf604","name":"scale","links":["32d19d64.654cc2"],"x":100,"y":700,"wires":[["dce229a2.000588","7b460bf7.f98a54"]]},{"id":"4cc27841.8b0208","type":"ui_text","z":"55c7dc36.ccf604","group":"ce30736.849af9","order":4,"width":0,"height":0,"name":"","label":"ID:","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":520,"wires":[]},{"id":"5cc8ca13.7f60b4","type":"ui_text","z":"55c7dc36.ccf604","group":"ce30736.849af9","order":6,"width":0,"height":0,"name":"","label":"ID:","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":560,"wires":[]},{"id":"deaf459d.6d5068","type":"debug","z":"55c7dc36.ccf604","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":460,"wires":[]},{"id":"6a106fd1.85324","type":"link in","z":"55c7dc36.ccf604","name":"","links":["e4690a36.062b38"],"x":75,"y":480,"wires":[["a781e69b.1f4e48"]]},{"id":"1de42153.98be8f","type":"link in","z":"55c7dc36.ccf604","name":"","links":["27a1849e.b7fe1c"],"x":75,"y":520,"wires":[["908beacc.43db78","d9a4fba.f053e08"]]},{"id":"3e95de93.84c1f2","type":"link in","z":"55c7dc36.ccf604","name":"","links":["a5c4b8d2.74b7c8"],"x":75,"y":560,"wires":[["6e945575.15c69c"]]},{"id":"908beacc.43db78","type":"function","z":"55c7dc36.ccf604","name":"2 nfc","func":"flow.set(\"nfc_2\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":520,"wires":[["4cc27841.8b0208"]]},{"id":"6e945575.15c69c","type":"function","z":"55c7dc36.ccf604","name":"3 nfc","func":"flow.set(\"nfc_3\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":560,"wires":[["5cc8ca13.7f60b4"]]},{"id":"fae27e0a.009ac","type":"link out","z":"316a9f4f.43109","name":"Периметр в'їзд","links":["68ba1d55.2888c4","c7693f9.7ef73c"],"x":535,"y":460,"wires":[]},{"id":"3810a359.95739c","type":"link out","z":"316a9f4f.43109","name":"Периметр виїзд","links":["6a30a675.ca2fb8","41192ee0.1c066"],"x":535,"y":320,"wires":[]},{"id":"68ba1d55.2888c4","type":"link in","z":"55c7dc36.ccf604","name":"","links":["fae27e0a.009ac"],"x":95,"y":800,"wires":[["8130d62f.bb04a8"]]},{"id":"6a30a675.ca2fb8","type":"link in","z":"55c7dc36.ccf604","name":"","links":["3810a359.95739c"],"x":95,"y":840,"wires":[["b816a333.736d6"]]},{"id":"361d2069.f917","type":"ui_text","z":"55c7dc36.ccf604","group":"799c02b5.2516fc","order":2,"width":0,"height":0,"name":"","label":"Статус в'їзд","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":800,"wires":[]},{"id":"a0b3a7f9.9b6c48","type":"ui_text","z":"55c7dc36.ccf604","group":"799c02b5.2516fc","order":1,"width":0,"height":0,"name":"","label":"Статус виїзд","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":840,"wires":[]},{"id":"8130d62f.bb04a8","type":"function","z":"55c7dc36.ccf604","name":"","func":"if(msg.payload == 1){\n    msg.payload = \"В нормі\"\n}else{\n    msg.payload = \"Порушений\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":800,"wires":[["361d2069.f917"]]},{"id":"b816a333.736d6","type":"function","z":"55c7dc36.ccf604","name":"","func":"if(msg.payload == 1){\n    msg.payload = \"В нормі\"\n}else{\n    msg.payload = \"Порушений\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":840,"wires":[["a0b3a7f9.9b6c48"]]},{"id":"9c07cd4a.a742","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"ce30736.849af9","order":7,"width":0,"height":0,"passthru":false,"label":"Зважування завершене","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"date","topic":"","x":290,"y":640,"wires":[["76e536a6.71b0a8"]]},{"id":"76e536a6.71b0a8","type":"function","z":"55c7dc36.ccf604","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":640,"wires":[["4cc27841.8b0208","5cc8ca13.7f60b4"]]},{"id":"a781e69b.1f4e48","type":"debug","z":"55c7dc36.ccf604","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":420,"wires":[]},{"id":"d9a4fba.f053e08","type":"debug","z":"55c7dc36.ccf604","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":420,"wires":[]},{"id":"715ce1b7.1cde5","type":"http in","z":"8cc9c6eb.ff7ab8","name":"","url":"/api/platform/setAccessTable","method":"post","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["1123badc.b93195","dc39c54d.ea63c8","56a3f1c9.b248e"]]},{"id":"1123badc.b93195","type":"function","z":"8cc9c6eb.ff7ab8","name":"set Access Table","func":"// var accessTable = [exampleAcess];\n// var exampleAcess = {\n//     \"pointID\":\"35235325325235\"\n//     \"ip\":\"10.3.5.210\",\n//     \"antennaID\":\"1\",\n//     \"direction\":0,\n//     \"tags\":[\"124124\",\"3525235\"],\n//     \"gpo\":['80','00'],\n//      \"marked\":false\n// }\n\nflow.set('accessTable',msg.payload);\nflow.set('accessTableUpdate',new Date());\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["29ffbe93.d7abc2"]]},{"id":"29ffbe93.d7abc2","type":"http response","z":"8cc9c6eb.ff7ab8","name":"","x":630,"y":240,"wires":[]},{"id":"e7bfdbbe.dfc748","type":"inject","z":"8cc9c6eb.ff7ab8","name":"init","repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"str","x":110,"y":40,"wires":[["c143a21e.45fcb"]]},{"id":"c143a21e.45fcb","type":"function","z":"8cc9c6eb.ff7ab8","name":"NFC conf","func":"//040300000012000001dd0000db0007000280 - 02 GPO index, 80 or 00 - on/off\nflow.set('accessTable',[]);\n//timeout for delay to getting infrared state, ms\nflow.set('infraredtimeout',5000);\nglobal.set('zeroWeight',false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":40,"wires":[["85c2444b.76da68"]]},{"id":"78cd86bc.eb0b18","type":"function","z":"8cc9c6eb.ff7ab8","name":"get row from Access Table","func":"var aT = flow.get('accessTable');\nvar serviceTagsObj = flow.get('serviceTagsObj');\nmsg.do = false;\n\nif(serviceTagsObj[msg.tag.tagID.toUpperCase()] === 'service'){\n    msg.do = true;\n}\n\nfor (var i = 0; i < aT.length; i++){\n    var temp_tags = aT[i].tags.slice();\n    if ((aT[i].ip === msg.ip) && (Number(aT[i].antenna)===msg.antennaID) && (temp_tags.indexOf(msg.tag.tagID) >= 0)&&!(aT[i].done)){\n        msg.accessTable = aT[i];\n        msg.aTLength = aT.length;\n        if ((aT[i].pointID != \"Неопределенно\")){\n            aT[i].done = true;\n        }\n        \n        break;\n     }\n}\nmsg.temp_tags = temp_tags;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["7df632fb.37a58c"]]},{"id":"bef19a0f.40d348","type":"function","z":"8cc9c6eb.ff7ab8","name":"get IP","func":"msg.tagID = msg.payload;\nvar  s = \"-\";\nmsg.tagID = msg.tagID.substring(0,2)+s+msg.tagID.substring(2,4)+s+msg.tagID.substring(4,6)+s+msg.tagID.substring(6,8);\nmsg.tag   = {\"tagID\":msg.tagID};\nmsg.antennaID = msg.antennaID;\nmsg.elk_log = JSON.stringify({\n    tagID: msg.tagID,\n    antennaID: msg.antennaID,\n    antennaIP: msg.ip\n});\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["78cd86bc.eb0b18","cb6b21fc.a3278"]]},{"id":"d7026222.a538e","type":"http in","z":"8cc9c6eb.ff7ab8","name":"","url":"/api/platform/getReaderConfig","method":"get","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["5488c678.170f48","450bad55.406f84"]]},{"id":"c55f8759.9337e8","type":"http response","z":"8cc9c6eb.ff7ab8","name":"","x":630,"y":600,"wires":[]},{"id":"c96a13b6.a6959","type":"http in","z":"8cc9c6eb.ff7ab8","name":"","url":"/api/platform/setDefaultTable","method":"post","upload":false,"swaggerDoc":"","x":160,"y":300,"wires":[["959b5533.c7f488","e3bf08f8.39de88","8acfbe71.06236","56a3f1c9.b248e"]]},{"id":"959b5533.c7f488","type":"function","z":"8cc9c6eb.ff7ab8","name":"set default Table","func":"// var accessTable = [];\n// var exampleAcess = {\n//     \"ip\":\"10.3.5.210\",\n//     \"port\":5084,\n//     \"gpo\":['0180','0200']\n// }\n\nflow.set('accessTable',msg.payload);\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["6ca40c61.3e2564"]]},{"id":"6ca40c61.3e2564","type":"http response","z":"8cc9c6eb.ff7ab8","name":"","x":630,"y":320,"wires":[]},{"id":"9b5fb2c5.25ce7","type":"function","z":"8cc9c6eb.ff7ab8","name":"FRONT","func":"msg.ip = \"NFC_front\";\nmsg.antennaID = 1;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["bef19a0f.40d348"]]},{"id":"5a2ddf5c.52066","type":"function","z":"8cc9c6eb.ff7ab8","name":"IN","func":"msg.ip = \"NFC_in_1\";\nmsg.antennaID = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":400,"wires":[["bef19a0f.40d348"]]},{"id":"2b19b7d5.ac5c08","type":"function","z":"8cc9c6eb.ff7ab8","name":"OUT","func":"msg.ip = \"NFC_out_1\";\nmsg.antennaID = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":440,"wires":[["bef19a0f.40d348"]]},{"id":"917541c0.f0ae7","type":"http in","z":"8cc9c6eb.ff7ab8","name":"","url":"/api/platform/setReaderConfig","method":"post","upload":false,"swaggerDoc":"","x":660,"y":40,"wires":[["736aa992.989a78","e4487654.c50e58","3af31d41.668c12","35ff096c.02cb36"]]},{"id":"736aa992.989a78","type":"http response","z":"8cc9c6eb.ff7ab8","name":"","x":910,"y":100,"wires":[]},{"id":"4d558f5f.46d6a","type":"inject","z":"8cc9c6eb.ff7ab8","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"puller","payloadType":"flow","x":100,"y":780,"wires":[[]]},{"id":"64652cb5.4fc5b4","type":"inject","z":"8cc9c6eb.ff7ab8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":93.5,"y":840,"wires":[["8e614b4f.1596f8"]]},{"id":"8e614b4f.1596f8","type":"function","z":"8cc9c6eb.ff7ab8","name":"get row from Access Table","func":"var aT = flow.get('accessTable');\nvar aTDate = flow.get('accessTableUpdate');\nvar nowDate = Date();\nvar diff = 2000;\n\nmsg.do = true;\n//if access table is not actual\nif (nowDate-aTDate > diff){\n    msg.do = false;\n}else{\nfor (var i = 0; i < aT.length; i++){\n    if ((aT[i].ip === msg.ip)&&Number(aT[i].antenna)===msg.tag.antennaID){\n        msg.accessTable = aT[i];\n        msg.aTLength = aT.length;\n        break;\n     }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":840,"wires":[[]]},{"id":"eb62a402.e20b08","type":"function","z":"8cc9c6eb.ff7ab8","name":"send to 1C","func":"msg.url = flow.get('host1C');\nmsg.tag.lastSeenTimestampUTC = new Date();\nmsg.tag.ip = msg.ip;\nmsg.tag.antenna = String(msg.antennaID);\nmsg.tag.antennaID = String(msg.antennaID);\nmsg.tag.direction = 'IN';\nmsg.tag.weight = JSON.parse(msg.payload);\n\nmsg.payload = [msg.tag];\n\nglobal.set('zeroWeight',false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2230,"y":520,"wires":[["3dbf7c0d.971174","59736827.1219b8","4bdefe5e.6e685"]]},{"id":"4bdefe5e.6e685","type":"http request","z":"8cc9c6eb.ff7ab8","name":"to 1C","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2390,"y":520,"wires":[["59736827.1219b8"]]},{"id":"85c2444b.76da68","type":"function","z":"8cc9c6eb.ff7ab8","name":"1C conf","func":"//var host1C = \"http://s-app-mir-test/rfid_mir_test/hs/PerimeterControl/api/PrincipNodeRed/getTags\";\n//var host1C = \"http://s-app-yag-test/UE_yag/hs/PerimeterControl/api/PrincipNodeRed/getTags\";\nvar host1C = \"http://10.3.6.253/UE_laz/hs/PerimeterControl/api/PrincipNodeRed/getTags\";\n\nflow.set('host1C',host1C);\nflow.set('actualDiff',86900); //сколько секунда таблица доступа актуальна\nmsg.url = host1C;\nflow.set('puller',[]);\nflow.set('puller_timeout_sec',30);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":40,"wires":[["a7f3518d.4ab38"]]},{"id":"e4487654.c50e58","type":"function","z":"8cc9c6eb.ff7ab8","name":"","func":"msg.payload.ip = msg.req.query.rfidID;\nmsg.payload.event_name = \"Отправка команды\";\nmsg.payload.event_desc = msg.payload.event_name+\" \"+msg.payload.ip+\" \"+msg.payload.cmd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":20,"wires":[[]]},{"id":"a7f3518d.4ab38","type":"http request","z":"8cc9c6eb.ff7ab8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":80,"wires":[["c8c29f17.2a6fd","804536b4.99ede8"]]},{"id":"c8c29f17.2a6fd","type":"function","z":"8cc9c6eb.ff7ab8","name":"set Access Table","func":"flow.set('accessTable',JSON.parse(msg.payload));\nflow.set('accessTableUpdate',new Date());\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["29133332.5c5b4c"]]},{"id":"35bcecb5.e46e14","type":"function","z":"8cc9c6eb.ff7ab8","name":"Filling Puller","func":"var puller = flow.get('puller');\nvar puller_timeout_sec = flow.get('puller_timeout_sec');\nvar current_element = {\n    'ip':msg.ip,\n    'tagID':msg.tagID,\n    'antennaID':msg.tag.antennaID,\n    'lastSeenTimestampUTC':new Date()\n}\nvar pull = true;\nvar finded = false\nfor (var i = 0; i < puller.length; i++){\n    var element = puller[i];\n    if ((element.ip === current_element.ip)&&(element.tagID===current_element.tagID)&&(element.antennaID===current_element.antennaID)){\n        var diff = (current_element.lastSeenTimestampUTC-element.lastSeenTimestampUTC)*1000;\n        if (diff < puller_timeout_sec){\n            pull = false; \n        }else{\n            puller[i]=current_element;\n        }\n        finded = true;\n    }\n}\nif (!finded){\n    puller.push(current_element);\n}\n\nflow.set('puller',puller);\nmsg.pull = pull;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":500,"wires":[["d17ad858.382fb8"]]},{"id":"d17ad858.382fb8","type":"switch","z":"8cc9c6eb.ff7ab8","name":"","property":"pull","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":500,"wires":[["94caf810.b7dd88"]]},{"id":"1793f3e7.93d6bc","type":"link in","z":"8cc9c6eb.ff7ab8","name":"","links":["e4690a36.062b38"],"x":75,"y":360,"wires":[["9b5fb2c5.25ce7"]]},{"id":"699fa55f.843b7c","type":"link in","z":"8cc9c6eb.ff7ab8","name":"","links":["27a1849e.b7fe1c"],"x":75,"y":400,"wires":[["5a2ddf5c.52066"]]},{"id":"1dbc6cc8.424e53","type":"link in","z":"8cc9c6eb.ff7ab8","name":"","links":["a5c4b8d2.74b7c8"],"x":75,"y":440,"wires":[["2b19b7d5.ac5c08"]]},{"id":"e584f523.688858","type":"function","z":"316a9f4f.43109","name":"infrared state 1","func":"global.set('infraredstate1',msg.payload);\nglobal.set('infraredstate1Date', new Date());\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[[]]},{"id":"8ab9c8e5.77a078","type":"function","z":"316a9f4f.43109","name":"infrared state 2","func":"global.set('infraredstate2Date', new Date());\nglobal.set('infraredstate2', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[[]]},{"id":"5488c678.170f48","type":"function","z":"8cc9c6eb.ff7ab8","name":"check infrared state","func":"var payload = {\n    'infraredstate1':0,\n    'infraredstate2':0\n}\nvar infraredtimeout = flow.get('infraredtimeout');\nvar cDate = new Date();\nif ((cDate - global.get('infraredstate1Date')) < infraredtimeout){\n    payload.infraredstate1 = global.get('infraredstate1') ;   \n}\n\nif ((cDate - global.get('infraredstate2Date')) < infraredtimeout){\n    payload.infraredstate2 = global.get('infraredstate2') ;   \n}\n\nmsg.payload = {\"infraredstate\":payload.infraredstate1 == 1 && payload.infraredstate2 == 1};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":600,"wires":[["c55f8759.9337e8"]]},{"id":"1d447f87.ccf7b","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"38fcbfb0.3854e","order":1,"width":0,"height":0,"passthru":true,"label":"Зелений","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":200,"wires":[["6f4c0b6f.5888b4"]]},{"id":"202584d4.b20dfc","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"38fcbfb0.3854e","order":1,"width":0,"height":0,"passthru":true,"label":"Червоний","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":240,"wires":[["b08480cc.97853"]]},{"id":"d3e0a9dd.2eb7b8","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"cb54a8cb.14efb8","order":1,"width":0,"height":0,"passthru":true,"label":"Зелений","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"date","topic":"","x":760,"y":200,"wires":[["92d9f956.5a0328"]]},{"id":"ebcf2230.291eb","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"cb54a8cb.14efb8","order":1,"width":0,"height":0,"passthru":true,"label":"Червоний","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"date","topic":"","x":760,"y":240,"wires":[["7049f213.4de1bc"]]},{"id":"92d9f956.5a0328","type":"link out","z":"55c7dc36.ccf604","name":"T2_side_0_green_t0","links":["7562053b.371fbc"],"x":875,"y":200,"wires":[]},{"id":"7049f213.4de1bc","type":"link out","z":"55c7dc36.ccf604","name":"T2_side_0_red_t0","links":["1e203a1e.3be726"],"x":875,"y":240,"wires":[]},{"id":"315bbc4.086de44","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"38fcbfb0.3854e","order":1,"width":0,"height":0,"passthru":true,"label":"Погасити","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":280,"wires":[["e222007b.f3a62"]]},{"id":"1dad4cde.c4cbf3","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"cb54a8cb.14efb8","order":1,"width":0,"height":0,"passthru":true,"label":"Погасити","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"date","topic":"","x":760,"y":280,"wires":[["f726bdd3.45646"]]},{"id":"f726bdd3.45646","type":"link out","z":"55c7dc36.ccf604","name":"T2_side_0_off_t0","links":["dec6ece.4edc21"],"x":875,"y":280,"wires":[]},{"id":"4c4a774e.379bf8","type":"switch","z":"8cc9c6eb.ff7ab8","name":"board_in_out","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"board_in","vt":"str"},{"t":"eq","v":"board_out","vt":"str"},{"t":"eq","v":"board_in2","vt":"str"},{"t":"eq","v":"board_out2","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1010,"y":159,"wires":[["9ef27156.52089"],["1db54df6.f0a762"],["f4a8783c.06dc78"],["ade0b37f.9639"]]},{"id":"78406186.e1ad1","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_g_1_s_0","links":["1f95baf4.180d55","c4d2e23c.3015d"],"x":1315,"y":20,"wires":[]},{"id":"9ef27156.52089","type":"switch","z":"8cc9c6eb.ff7ab8","name":"green/red","property":"cmd","propertyType":"msg","rules":[{"t":"eq","v":"0100","vt":"str"},{"t":"eq","v":"0180","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":40,"wires":[["78406186.e1ad1"],["d51486ac.d2e2c8"]]},{"id":"1db54df6.f0a762","type":"switch","z":"8cc9c6eb.ff7ab8","name":"green/red","property":"cmd","propertyType":"msg","rules":[{"t":"eq","v":"0100","vt":"str"},{"t":"eq","v":"0180","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":100,"wires":[["22c4a5d5.a7512a"],["58c99b5e.dabde4"]]},{"id":"d51486ac.d2e2c8","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_r_1_s_0","links":["3b5651f6.753dde","5e710da6.a147b4"],"x":1315,"y":60,"wires":[]},{"id":"22c4a5d5.a7512a","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_g_2_s_1","links":["61bac998.34b0d8","a0fb2f4c.029dc"],"x":1315,"y":100,"wires":[]},{"id":"58c99b5e.dabde4","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_r_2_s_1","links":["a622d9c1.240fb8","89fbf93c.b7d8f8"],"x":1315,"y":140,"wires":[]},{"id":"3af31d41.668c12","type":"function","z":"8cc9c6eb.ff7ab8","name":"","func":"msg.ip      = msg.req.query.rfidID;\nmsg.cmd     = msg.payload.cmd;\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":910,"y":60,"wires":[["4c4a774e.379bf8","4e20d801.f89768"]]},{"id":"47a48847.05b148","type":"http in","z":"8cc9c6eb.ff7ab8","name":"","url":"/api/platform/setBoardText","method":"post","upload":false,"swaggerDoc":"","x":150,"y":680,"wires":[["76d40f5.6e694f","c375bf5.7cc544"]]},{"id":"76d40f5.6e694f","type":"function","z":"8cc9c6eb.ff7ab8","name":"get boarad ID","func":"msg.ip      = msg.req.query.boardID;\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":400,"y":680,"wires":[["14fff4a9.5738fb","c403fd6f.da98e"]]},{"id":"14fff4a9.5738fb","type":"switch","z":"8cc9c6eb.ff7ab8","name":"board_in_out","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"board_in","vt":"str"},{"t":"eq","v":"board_out","vt":"str"},{"t":"eq","v":"board_in2","vt":"str"},{"t":"eq","v":"board_out2","vt":"str"},{"t":"eq","v":"board_upload","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":590,"y":680,"wires":[["5dc102d.977f5fc"],["76109ace.f0dd14"],["809964ba.d23fe8"],["5225fbad.4ec544"],["76ad4e03.5014a","4ecffcac.32eb94"]]},{"id":"5dc102d.977f5fc","type":"link out","z":"8cc9c6eb.ff7ab8","name":"1c to Board 1_S0 (rest)","links":["d86a13db.dc44f","2cbfc58e.c4996a"],"x":735,"y":640,"wires":[]},{"id":"76109ace.f0dd14","type":"link out","z":"8cc9c6eb.ff7ab8","name":"1c to Board 2_S1 (rest)","links":["5ff6eb49.f272b4","d95cce62.61b8c"],"x":735,"y":680,"wires":[]},{"id":"c403fd6f.da98e","type":"http response","z":"8cc9c6eb.ff7ab8","name":"","statusCode":"","headers":{},"x":530,"y":740,"wires":[]},{"id":"52f65fc2.77cc5","type":"http request","z":"8cc9c6eb.ff7ab8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.3.6.247:4000/auth/login","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":440,"wires":[["1d6894a4.9037bb","a4495a45.f03688"]]},{"id":"1e483d12.5d6163","type":"function","z":"8cc9c6eb.ff7ab8","name":"Авторизация на весах","func":"flow.set('access_granted',false);\nmsg.payload = {\n    \"username\":\"user\", \n    \"password\":\"user\"\n}\nmsg.headers = {\n    \"Content-Type\":\"application/json\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":440,"wires":[["52f65fc2.77cc5"]]},{"id":"1d6894a4.9037bb","type":"function","z":"8cc9c6eb.ff7ab8","name":"Получаем токен","func":"var payload = JSON.parse(msg.payload);\n\n\nmsg.headers = {\n    \"token\":payload.token\n}\n\nmsg.url = 'http://10.3.6.247:4000/api/platform/laz_avto1/getWeight/status';\n\n//if (msg.tagData){\n//    let tagsObj = flow.get('tagsObj');\n//    msg.url = msg.url+\"?truck1=\"+encodeURI(msg.tagData.truck1)+\"&truck2=\"+encodeURI(msg.tagData.truck2)+\"&reader=\"+encodeURI(tagsObj[msg.tagData.tagID.toUpperCase()]);\n//}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":440,"wires":[["9d94b73d.caa978","609408f7.88d4b8"]]},{"id":"9d94b73d.caa978","type":"http request","z":"8cc9c6eb.ff7ab8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":440,"wires":[["fd6d9a93.c871c8","4dc5696d.c94fb8","a4495a45.f03688"]]},{"id":"7b460bf7.f98a54","type":"debug","z":"55c7dc36.ccf604","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":740,"wires":[]},{"id":"a60c5682.172618","type":"function","z":"ff94a736.741768","name":"в дашборд","func":"//msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":300,"wires":[["32d19d64.654cc2","8bd0af4a.68599"]]},{"id":"846036b2.cfaa58","type":"comment","z":"e9ecd30a.5a31f","name":"","info":"START1;0;0;1;0;Верхня;Нижня<EOR>\n\nSTART1;0;0;1;іва;фів;","x":100,"y":40,"wires":[]},{"id":"781162b5.8215bc","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["45c4dd22.be5614"]]},{"id":"acd7d8a1.a10d28","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1340,"wires":[["39b5d3a2.138f9c"]]},{"id":"45c4dd22.be5614","type":"function","z":"e9ecd30a.5a31f","name":"ТЕСТ 1 сторона 0","func":"\nvar num_avto_r1 = \"ТЕСТ ст 1\";\nvar num_avto_r2 = \"13200 кг\";\n\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n//            START1;0;0;1;0;Верхня;Нижня<EOR>            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":80,"wires":[["49a4486c.614d68"]]},{"id":"39b5d3a2.138f9c","type":"function","z":"e9ecd30a.5a31f","name":"ТЕСТ сторона 1","func":"\nvar num_avto_r1 = \"ТЕСТ ст 2\";\nvar num_avto_r2 = \" ТЕск кг \";\n\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n           \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1340,"wires":[["49a4486c.614d68"]]},{"id":"49a4486c.614d68","type":"converter","z":"e9ecd30a.5a31f","name":"","from":"win1251","x":820,"y":460,"wires":[["270084ae.fb4e6c"]]},{"id":"270084ae.fb4e6c","type":"tcp out","z":"e9ecd30a.5a31f","host":"10.3.6.224","port":"9761","beserver":"client","base64":false,"end":false,"name":"","x":1040,"y":460,"wires":[]},{"id":"fdc39326.d10de","type":"function","z":"e9ecd30a.5a31f","name":"Світлофор червний СТ_0","func":"\n\n\nmsg.payload =\"START1;0;1;3;0;1;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["270084ae.fb4e6c"]]},{"id":"a4de72fc.9531e","type":"function","z":"e9ecd30a.5a31f","name":"Світлофор зелений СТ_0","func":"\n\n\nmsg.payload =\"START1;0;0;3;0;2;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["270084ae.fb4e6c"]]},{"id":"2580bcfa.156244","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":240,"wires":[["a4de72fc.9531e"]]},{"id":"acad485c.3ae0a8","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":280,"wires":[["fdc39326.d10de"]]},{"id":"58ad29a3.a88648","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1460,"wires":[["e327da2e.6c5ba8"]]},{"id":"e327da2e.6c5ba8","type":"function","z":"e9ecd30a.5a31f","name":"погасити світлофори СТ_1","func":"\n\n\nmsg.payload =\"START1;0;0;3;1;0;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1460,"wires":[["559d17e.a1a43e8","270084ae.fb4e6c"]]},{"id":"559d17e.a1a43e8","type":"debug","z":"e9ecd30a.5a31f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1460,"wires":[]},{"id":"11fee7ef.ef4018","type":"debug","z":"e9ecd30a.5a31f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1380,"wires":[]},{"id":"e7cd31e6.ec4d1","type":"debug","z":"e9ecd30a.5a31f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1420,"wires":[]},{"id":"123113c8.f34cac","type":"function","z":"e9ecd30a.5a31f","name":"Світлофор червний СТ_1","func":"\n\n\nmsg.payload =\"START1;0;1;3;1;1;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1420,"wires":[["e7cd31e6.ec4d1","270084ae.fb4e6c"]]},{"id":"cc5e7c73.77eac","type":"function","z":"e9ecd30a.5a31f","name":"Світлофор зелений СТ_1","func":"\n\n\nmsg.payload =\"START1;0;0;3;1;2;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1380,"wires":[["11fee7ef.ef4018","270084ae.fb4e6c"]]},{"id":"9f0efa83.24e578","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1380,"wires":[["cc5e7c73.77eac"]]},{"id":"cb12f130.b9a9a","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1420,"wires":[["123113c8.f34cac"]]},{"id":"6bfab880.613928","type":"comment","z":"e9ecd30a.5a31f","name":"СТОРОНА 0","info":"START1;0;0;1;0;Верхня;Нижня<EOR>\n\nSTART1;0;0;1;іва;фів;","x":70,"y":180,"wires":[]},{"id":"5f5b8200.07d63","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["a2c0a32d.20413"]]},{"id":"a2c0a32d.20413","type":"function","z":"e9ecd30a.5a31f","name":"погасити світлофори СТ_0","func":"\n\n\nmsg.payload =\"START1;0;0;3;0;0;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["270084ae.fb4e6c"]]},{"id":"19b35dc9.365092","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["254c9f3d.592c2"]]},{"id":"254c9f3d.592c2","type":"function","z":"e9ecd30a.5a31f","name":"яскравість 100 всі сторони","func":"\n\n\nmsg.payload =\"START1;0;0;102;255;255;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["270084ae.fb4e6c"]]},{"id":"10cf1259.50ce9e","type":"comment","z":"e9ecd30a.5a31f","name":"СТОРОНА 1 ","info":"START1;0;0;1;0;Верхня;Нижня<EOR>\n\nSTART1;0;0;1;іва;фів;","x":110,"y":680,"wires":[]},{"id":"a2d92f2f.1297e","type":"function","z":"e0072cdc.8f9e","name":"Світлофор зелений СТ_0","func":"\n\n\nmsg.payload =\"START1;0;0;3;0;2;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["95f5854b.4381a8"]]},{"id":"ea94e2b1.1a78e","type":"comment","z":"e0072cdc.8f9e","name":"","info":"START1;0;0;1;0;Верхня;Нижня<EOR>\n\nSTART1;0;0;1;іва;фів;","x":80,"y":20,"wires":[]},{"id":"eb1e6b46.bbe718","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["a06faedc.b4d24"]]},{"id":"255b024a.7dbb7e","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":940,"wires":[["54e879a4.644688"]]},{"id":"a06faedc.b4d24","type":"function","z":"e0072cdc.8f9e","name":"ТЕСТ 1 сторона 0","func":"\nvar num_avto_r1 = \"АК4323ВВ\";\nvar num_avto_r2 = \"13200 кг\";\n\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n//            START1;0;0;1;0;Верхня;Нижня<EOR>            \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["64715f22.8972b"]]},{"id":"54e879a4.644688","type":"function","z":"e0072cdc.8f9e","name":"ТЕСТ сторона 1","func":"\nvar num_avto_r1 = \" 123  \";\nvar num_avto_r2 = \" ТЕск кг \";\n\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n           \nreturn msg;","outputs":1,"noerr":0,"x":540,"y":940,"wires":[["64715f22.8972b"]]},{"id":"64715f22.8972b","type":"converter","z":"e0072cdc.8f9e","name":"","from":"win1251","x":840,"y":440,"wires":[["95f5854b.4381a8"]]},{"id":"95f5854b.4381a8","type":"tcp out","z":"e0072cdc.8f9e","host":"10.3.6.223","port":"9761","beserver":"client","base64":false,"end":false,"name":"","x":1060,"y":440,"wires":[]},{"id":"aac238b6.e27238","type":"function","z":"e0072cdc.8f9e","name":"Світлофор червний СТ_0","func":"\n\n\nmsg.payload =\"START1;0;1;3;0;1;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["95f5854b.4381a8"]]},{"id":"e7b557b1.1e3698","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["a2d92f2f.1297e"]]},{"id":"affc6dc5.664c1","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["aac238b6.e27238"]]},{"id":"1baa9ca8.ab5b13","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":1060,"wires":[["7a6d8d9c.fbe014"]]},{"id":"7a6d8d9c.fbe014","type":"function","z":"e0072cdc.8f9e","name":"погасити світлофори СТ_1","func":"\n\n\nmsg.payload =\"START1;0;0;3;1;0;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1060,"wires":[["8bda45d4.aeedd8","95f5854b.4381a8"]]},{"id":"8bda45d4.aeedd8","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":1060,"wires":[]},{"id":"b8c09693.358ba8","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":980,"wires":[]},{"id":"8048a367.248a6","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":1020,"wires":[]},{"id":"1f1f1650.0f609a","type":"function","z":"e0072cdc.8f9e","name":"Світлофор червний СТ_1","func":"\n\n\nmsg.payload =\"START1;0;1;3;1;1;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1020,"wires":[["8048a367.248a6","95f5854b.4381a8"]]},{"id":"215bef7c.f6d","type":"function","z":"e0072cdc.8f9e","name":"Світлофор зелений СТ_1","func":"\n\n\nmsg.payload =\"START1;0;0;3;1;2;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":580,"y":980,"wires":[["b8c09693.358ba8","95f5854b.4381a8"]]},{"id":"f41df794.be0518","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":980,"wires":[["215bef7c.f6d"]]},{"id":"7fca5555.9883ec","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":1020,"wires":[["1f1f1650.0f609a"]]},{"id":"a629565c.573978","type":"comment","z":"e0072cdc.8f9e","name":"СТОРОНА 0","info":"START1;0;0;1;0;Верхня;Нижня<EOR>\n\nSTART1;0;0;1;іва;фів;","x":70,"y":160,"wires":[]},{"id":"aacfa6e6.aec2b8","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["b253837d.b897b"]]},{"id":"b253837d.b897b","type":"function","z":"e0072cdc.8f9e","name":"погасити світлофори СТ_0","func":"\n\n\nmsg.payload =\"START1;0;0;3;0;0;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["95f5854b.4381a8"]]},{"id":"b13c5b53.8fa8f8","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["445df88f.1fe478"]]},{"id":"445df88f.1fe478","type":"function","z":"e0072cdc.8f9e","name":"яскравість 100 всі сторони","func":"\n\n\nmsg.payload =\"START1;0;0;102;255;255;\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["95f5854b.4381a8"]]},{"id":"cca1cb72.72c0d8","type":"comment","z":"e0072cdc.8f9e","name":"СТОРОНА 1 ","info":"START1;0;0;1;0;Верхня;Нижня<EOR>\n\nSTART1;0;0;1;іва;фів;","x":70,"y":820,"wires":[]},{"id":"c71c5ddd.20773","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з форми СТ_0","func":"var num_avto_r1 = msg.payload.r1;\nvar num_avto_r2 = msg.payload.r2;\n\n\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["49a4486c.614d68"]]},{"id":"2227014.3da42fe","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з форми СТ_1","func":"var num_avto_r1 = msg.payload.r1;\nvar num_avto_r2 = msg.payload.r2;\n\n\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1300,"wires":[["49a4486c.614d68"]]},{"id":"2e547fd7.a60c8","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з форми СТ_0","func":"var num_avto_r1 = msg.payload.r1;\nvar num_avto_r2 = msg.payload.r2;\n\n\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["64715f22.8972b"]]},{"id":"6fcf7888.02f368","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з форми СТ_1","func":"var num_avto_r1 = msg.payload.r1;\nvar num_avto_r2 = msg.payload.r2;\n\n\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":580,"y":900,"wires":[["64715f22.8972b"]]},{"id":"8897893.1c34a78","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з NFC CТ_0","func":"var num_avto_r1 = msg.truck1;\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[[]]},{"id":"8a1ccfdb.2bdc","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з NFC CТ_1","func":"var num_avto_r1 = msg.truck1;\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1260,"wires":[[]]},{"id":"cf79849c.096be8","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з NFC CТ_0","func":"var num_avto_r1 = msg.truck1;\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["64715f22.8972b"]]},{"id":"86de6787.ef3e18","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з NFC CТ_1","func":"var num_avto_r1 = msg.truck1;\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":860,"wires":[["64715f22.8972b"]]},{"id":"67dd0c5d.8dba54","type":"ui_form","z":"55c7dc36.ccf604","name":"","label":"Табло 1 IN Сторона 1 (Від вагів)","group":"96d8624a.a86e5","order":1,"width":0,"height":0,"options":[{"label":"Номер","value":"r1","type":"text","required":false},{"label":"Вага","value":"r2","type":"text","required":false}],"formValue":{"r1":"","r2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":460,"y":160,"wires":[["18f2b300.0152fd"]]},{"id":"a2afc4.42c6504","type":"ui_form","z":"55c7dc36.ccf604","name":"","label":"Табло2 OUT Сторона 1 (До вагів)","group":"220c91a4.27f1ae","order":1,"width":0,"height":0,"options":[{"label":"Номер","value":"r1","type":"text","required":false,"rows":null},{"label":"Вага","value":"r2","type":"text","required":false,"rows":null}],"formValue":{"r1":"","r2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1160,"y":160,"wires":[["dccd1589.5d3c18"]]},{"id":"18f2b300.0152fd","type":"link out","z":"55c7dc36.ccf604","name":"T1 _ side 1","links":["cfedd617.d438b8"],"x":635,"y":160,"wires":[]},{"id":"dccd1589.5d3c18","type":"link out","z":"55c7dc36.ccf604","name":"T2_side 1","links":["31edfa45.1160e6"],"x":1335,"y":160,"wires":[]},{"id":"cfedd617.d438b8","type":"link in","z":"e0072cdc.8f9e","name":"","links":["18f2b300.0152fd"],"x":355,"y":900,"wires":[["6fcf7888.02f368"]]},{"id":"25d3686e.c17138","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"96d8624a.a86e5","order":1,"width":0,"height":0,"passthru":true,"label":"Зелений","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"date","topic":"","x":400,"y":200,"wires":[["d854b97.a9f2c48"]]},{"id":"dc510c6d.033cf","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"96d8624a.a86e5","order":1,"width":0,"height":0,"passthru":true,"label":"Червоний","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"date","topic":"","x":400,"y":240,"wires":[["2acf3522.7f7f4a"]]},{"id":"8f4a1e3.e47d7e","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"96d8624a.a86e5","order":1,"width":0,"height":0,"passthru":true,"label":"Погасити","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"date","topic":"","x":400,"y":280,"wires":[["4db556d6.b0c238"]]},{"id":"f2da5a4d.0c60c8","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"220c91a4.27f1ae","order":1,"width":0,"height":0,"passthru":true,"label":"Зелений","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"date","topic":"","x":1160,"y":200,"wires":[["d81eeb93.bdc388"]]},{"id":"e30e4832.5e8f18","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"220c91a4.27f1ae","order":1,"width":0,"height":0,"passthru":true,"label":"Червоний","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"date","topic":"","x":1160,"y":240,"wires":[["b8571b06.d6f318"]]},{"id":"d81eeb93.bdc388","type":"link out","z":"55c7dc36.ccf604","name":"Зелений Т2","links":["f0399798.800098"],"x":1275,"y":200,"wires":[]},{"id":"b8571b06.d6f318","type":"link out","z":"55c7dc36.ccf604","name":"Чероний Т2","links":["4c5c871b.c4b798"],"x":1275,"y":240,"wires":[]},{"id":"71419022.9f5fe","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"220c91a4.27f1ae","order":1,"width":0,"height":0,"passthru":true,"label":"Погасити","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"date","topic":"","x":1160,"y":280,"wires":[["b79f04fd.5c3788"]]},{"id":"b79f04fd.5c3788","type":"link out","z":"55c7dc36.ccf604","name":" погасити Т2","links":["40eaa1f9.def41"],"x":1275,"y":280,"wires":[]},{"id":"d854b97.a9f2c48","type":"link out","z":"55c7dc36.ccf604","name":"T1_side_1_green","links":["2185708e.dcbc3"],"x":540,"y":200,"wires":[]},{"id":"2acf3522.7f7f4a","type":"link out","z":"55c7dc36.ccf604","name":"T1_side_1_red","links":["c0b63759.4b97e8"],"x":535,"y":240,"wires":[]},{"id":"4db556d6.b0c238","type":"link out","z":"55c7dc36.ccf604","name":"T1_side_1_off","links":["61c36902.7ef988"],"x":535,"y":280,"wires":[]},{"id":"2185708e.dcbc3","type":"link in","z":"e0072cdc.8f9e","name":"","links":["d854b97.a9f2c48"],"x":355,"y":1000,"wires":[["215bef7c.f6d"]]},{"id":"c0b63759.4b97e8","type":"link in","z":"e0072cdc.8f9e","name":"","links":["2acf3522.7f7f4a"],"x":355,"y":1040,"wires":[["1f1f1650.0f609a"]]},{"id":"61c36902.7ef988","type":"link in","z":"e0072cdc.8f9e","name":"","links":["4db556d6.b0c238"],"x":355,"y":1080,"wires":[["7a6d8d9c.fbe014"]]},{"id":"b9ece431.79e8a8","type":"link out","z":"55c7dc36.ccf604","name":"T1 _ side 0","links":["579cfe0b.1d12a"],"x":315,"y":160,"wires":[]},{"id":"6f4c0b6f.5888b4","type":"link out","z":"55c7dc36.ccf604","name":"T1_side_0_green","links":["898d6678.ddf818"],"x":215,"y":200,"wires":[]},{"id":"b08480cc.97853","type":"link out","z":"55c7dc36.ccf604","name":"T1_side_0_red","links":["8e0ad8a0.a85518"],"x":210,"y":240,"wires":[]},{"id":"e222007b.f3a62","type":"link out","z":"55c7dc36.ccf604","name":"T1_side_0_off","links":["8ddb0515.2b9548"],"x":210,"y":280,"wires":[]},{"id":"579cfe0b.1d12a","type":"link in","z":"e0072cdc.8f9e","name":"T1 _ side 0_t","links":["b9ece431.79e8a8"],"x":315,"y":340,"wires":[["2e547fd7.a60c8"]]},{"id":"898d6678.ddf818","type":"link in","z":"e0072cdc.8f9e","name":"T1_side_0_gree_t","links":["6f4c0b6f.5888b4"],"x":275,"y":200,"wires":[["a2d92f2f.1297e"]]},{"id":"8e0ad8a0.a85518","type":"link in","z":"e0072cdc.8f9e","name":"T1_side_0_red_t","links":["b08480cc.97853"],"x":275,"y":240,"wires":[["aac238b6.e27238"]]},{"id":"8ddb0515.2b9548","type":"link in","z":"e0072cdc.8f9e","name":"T1_side_0_off_t","links":["e222007b.f3a62"],"x":275,"y":280,"wires":[["b253837d.b897b"]]},{"id":"65ef34cd.17e22c","type":"link in","z":"e9ecd30a.5a31f","name":"","links":["2a824c53.a21f54"],"x":235,"y":360,"wires":[["c71c5ddd.20773"]]},{"id":"7562053b.371fbc","type":"link in","z":"e9ecd30a.5a31f","name":"","links":["92d9f956.5a0328"],"x":235,"y":220,"wires":[["a4de72fc.9531e"]]},{"id":"1e203a1e.3be726","type":"link in","z":"e9ecd30a.5a31f","name":"","links":["7049f213.4de1bc"],"x":235,"y":260,"wires":[["fdc39326.d10de"]]},{"id":"dec6ece.4edc21","type":"link in","z":"e9ecd30a.5a31f","name":"","links":["f726bdd3.45646"],"x":235,"y":300,"wires":[["a2c0a32d.20413"]]},{"id":"31edfa45.1160e6","type":"link in","z":"e9ecd30a.5a31f","name":"T2_side_1","links":["dccd1589.5d3c18"],"x":395,"y":1300,"wires":[["2227014.3da42fe"]]},{"id":"f0399798.800098","type":"link in","z":"e9ecd30a.5a31f","name":"T2_side_1_green","links":["d81eeb93.bdc388"],"x":395,"y":1360,"wires":[["cc5e7c73.77eac"]]},{"id":"4c5c871b.c4b798","type":"link in","z":"e9ecd30a.5a31f","name":"T2_side_1_red","links":["b8571b06.d6f318"],"x":395,"y":1400,"wires":[["123113c8.f34cac"]]},{"id":"40eaa1f9.def41","type":"link in","z":"e9ecd30a.5a31f","name":"T2_side_1_off","links":["b79f04fd.5c3788"],"x":395,"y":1440,"wires":[["e327da2e.6c5ba8"]]},{"id":"c6413b96.27f538","type":"comment","z":"55c7dc36.ccf604","name":"До вагів T2 S1","info":"","x":1100,"y":120,"wires":[]},{"id":"9995883e.e30cd8","type":"comment","z":"55c7dc36.ccf604","name":"Від вагів T2 S0","info":"","x":760,"y":120,"wires":[]},{"id":"1dcafe85.1efac1","type":"comment","z":"55c7dc36.ccf604","name":"Від вагів T1 S1","info":"","x":420,"y":120,"wires":[]},{"id":"9ae0fc3d.e4b05","type":"comment","z":"55c7dc36.ccf604","name":"До вагів T1 S0","info":"","x":100,"y":120,"wires":[]},{"id":"bcc4b678.212a38","type":"comment","z":"e0072cdc.8f9e","name":"До вагів T1 S0","info":"","x":220,"y":160,"wires":[]},{"id":"e413ed84.8b55f","type":"comment","z":"e0072cdc.8f9e","name":"Від вагів T1 S1","info":"","x":220,"y":820,"wires":[]},{"id":"b6c9a1dc.86e35","type":"comment","z":"e9ecd30a.5a31f","name":"Від вагів T2 S0","info":"","x":220,"y":180,"wires":[]},{"id":"9e44f599.9edc08","type":"comment","z":"e9ecd30a.5a31f","name":"До вагів T2 S1","info":"","x":280,"y":680,"wires":[]},{"id":"9b5d9168.0644f","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з NFC","func":"\nvar num_avto_r1 = msg.payload;\nvar num_avto_r2 = \"\";\n\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":440,"wires":[["64715f22.8972b"]]},{"id":"47390084.f994a","type":"link in","z":"e0072cdc.8f9e","name":"","links":["27a1849e.b7fe1c","e4690a36.062b38"],"x":295,"y":420,"wires":[[]]},{"id":"f7855857.cbc9c8","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з NFC CT_0","func":"\nvar num_avto_r1 = msg.payload;\nvar num_avto_r2 = \"\";\n\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + num_avto_r2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["49a4486c.614d68"]]},{"id":"c23506e5.4fd798","type":"link in","z":"e9ecd30a.5a31f","name":"","links":["a5c4b8d2.74b7c8"],"x":235,"y":440,"wires":[["f7855857.cbc9c8"]]},{"id":"d86a13db.dc44f","type":"link in","z":"e0072cdc.8f9e","name":"1C to Board 1","links":["5dc102d.977f5fc"],"x":155,"y":500,"wires":[["65ab8a86.8b0be4","74289964.b82148"]]},{"id":"3827c245.b98cfe","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з 1C","func":"msg.payload =\"START1;0;0;1;0;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["64715f22.8972b"]]},{"id":"1d4f39fa.e7e156","type":"link in","z":"e0072cdc.8f9e","name":"rfid truck 1 table 1","links":["46f16a9d.111e54"],"x":155,"y":540,"wires":[["91748f68.a7583"]]},{"id":"91748f68.a7583","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з NFC","func":"var num_avto_r1 = msg.truck1;\n\nmsg.payload =\"START1;0;0;1;0;\" + num_avto_r1 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["485c7589.86adcc","64715f22.8972b"]]},{"id":"485c7589.86adcc","type":"switch","z":"e0072cdc.8f9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"finded","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":540,"wires":[["aac238b6.e27238"]]},{"id":"c4d2e23c.3015d","type":"link in","z":"e0072cdc.8f9e","name":"table_in_green_1_S0","links":["78406186.e1ad1"],"x":155,"y":360,"wires":[["a2d92f2f.1297e"]]},{"id":"5e710da6.a147b4","type":"link in","z":"e0072cdc.8f9e","name":"table_in_red_1_S0","links":["d51486ac.d2e2c8","c7734ae5.72b348"],"x":155,"y":400,"wires":[["aac238b6.e27238"]]},{"id":"3b054c68.2eea04","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з NFC","func":"var num_avto_r1 = msg.truck1;\n\nmsg.payload =\"START1;0;0;1;1;\" + num_avto_r1 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1120,"wires":[["7661d123.72cba","49a4486c.614d68"]]},{"id":"dc107842.e17f88","type":"link in","z":"e9ecd30a.5a31f","name":"rfid truck 1 table 2","links":["46f16a9d.111e54"],"x":235,"y":1120,"wires":[["3b054c68.2eea04"]]},{"id":"7661d123.72cba","type":"switch","z":"e9ecd30a.5a31f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"finded","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1120,"wires":[["123113c8.f34cac"]]},{"id":"61bac998.34b0d8","type":"link in","z":"e9ecd30a.5a31f","name":"table_out_green_2_S1","links":["22c4a5d5.a7512a"],"x":215,"y":1200,"wires":[["cc5e7c73.77eac"]]},{"id":"89fbf93c.b7d8f8","type":"link in","z":"e9ecd30a.5a31f","name":"table_out_red_2_S1","links":["58c99b5e.dabde4"],"x":215,"y":1240,"wires":[["123113c8.f34cac"]]},{"id":"d95cce62.61b8c","type":"link in","z":"e9ecd30a.5a31f","name":"1C to board 2","links":["76109ace.f0dd14"],"x":195,"y":760,"wires":[["eea719f6.408d28","256b2cea.820874"]]},{"id":"4eca8a9.9282774","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з 1C","func":"msg.payload =\"START1;0;0;1;1;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["49a4486c.614d68"]]},{"id":"809964ba.d23fe8","type":"link out","z":"8cc9c6eb.ff7ab8","name":"1c to Board 1_S1 (rest)","links":["40d84725.888aa8"],"x":735,"y":720,"wires":[]},{"id":"5225fbad.4ec544","type":"link out","z":"8cc9c6eb.ff7ab8","name":"1c to Board 2_S0 (rest)","links":["ca3a5d4f.6a9f3"],"x":735,"y":760,"wires":[]},{"id":"40d84725.888aa8","type":"link in","z":"e0072cdc.8f9e","name":"1C to Board 1 S1","links":["809964ba.d23fe8"],"x":175,"y":1140,"wires":[["2d78407f.de72f"]]},{"id":"2d78407f.de72f","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з 1C","func":"msg.payload =\"START1;0;0;1;1;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1140,"wires":[["64715f22.8972b"]]},{"id":"ca3a5d4f.6a9f3","type":"link in","z":"e9ecd30a.5a31f","name":"1C to board 2 S0","links":["5225fbad.4ec544"],"x":235,"y":480,"wires":[["b9b3d4be.29c058"]]},{"id":"b9b3d4be.29c058","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з 1C","func":"msg.payload =\"START1;0;0;1;0;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["49a4486c.614d68","e48f5f6b.b4f55"]]},{"id":"50e61a47.8e6e94","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_g_1_s_1","links":["c048a916.c599d8"],"x":1315,"y":180,"wires":[]},{"id":"f4a8783c.06dc78","type":"switch","z":"8cc9c6eb.ff7ab8","name":"green/red","property":"cmd","propertyType":"msg","rules":[{"t":"eq","v":"0100","vt":"str"},{"t":"eq","v":"0180","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":160,"wires":[["50e61a47.8e6e94"],["e6eace85.6312f"]]},{"id":"e6eace85.6312f","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_r_1_s_1","links":["3b5651f6.753dde","cf77e745.f01fa8"],"x":1315,"y":220,"wires":[]},{"id":"ade0b37f.9639","type":"switch","z":"8cc9c6eb.ff7ab8","name":"green/red","property":"cmd","propertyType":"msg","rules":[{"t":"eq","v":"0100","vt":"str"},{"t":"eq","v":"0180","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":220,"wires":[["9dc4ed5.902fe1"],["b50311ed.b7ec6"]]},{"id":"c048a916.c599d8","type":"link in","z":"e0072cdc.8f9e","name":"table_in_green_1_S1","links":["50e61a47.8e6e94"],"x":195,"y":880,"wires":[["215bef7c.f6d"]]},{"id":"cf77e745.f01fa8","type":"link in","z":"e0072cdc.8f9e","name":"table_in_red_1_S1","links":["e6eace85.6312f"],"x":195,"y":920,"wires":[["1f1f1650.0f609a"]]},{"id":"29f8704e.647af","type":"link in","z":"e9ecd30a.5a31f","name":"table_out_green_2_S0","links":["9dc4ed5.902fe1"],"x":115,"y":380,"wires":[["a4de72fc.9531e"]]},{"id":"4a69095a.837128","type":"link in","z":"e9ecd30a.5a31f","name":"table_out_red_2_S0","links":["b50311ed.b7ec6"],"x":115,"y":420,"wires":[["fdc39326.d10de"]]},{"id":"9dc4ed5.902fe1","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_g_2_s_0","links":["29f8704e.647af","a0fb2f4c.029dc"],"x":1315,"y":260,"wires":[]},{"id":"b50311ed.b7ec6","type":"link out","z":"8cc9c6eb.ff7ab8","name":"t_r_2_s_0","links":["4a69095a.837128"],"x":1315,"y":300,"wires":[]},{"id":"a84d8c29.7ccd1","type":"http in","z":"8cc9c6eb.ff7ab8","name":"","url":"/api/platform/getAccessTable","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["2c454a62.eb6d06","1cd3bab2.b26535","56a3f1c9.b248e"]]},{"id":"2c454a62.eb6d06","type":"function","z":"8cc9c6eb.ff7ab8","name":"set Access Table","func":"msg.payload = flow.get('accessTable');\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["b0a9a869.91aea8"]]},{"id":"b0a9a869.91aea8","type":"http response","z":"8cc9c6eb.ff7ab8","name":"","statusCode":"","headers":{},"x":630,"y":160,"wires":[]},{"id":"94caf810.b7dd88","type":"function","z":"8cc9c6eb.ff7ab8","name":"check infrared state","func":"var payload = {\n    'infraredstate1':0,\n    'infraredstate2':0\n}\nvar infraredtimeout = flow.get('infraredtimeout');\nvar cDate = new Date();\nif ((cDate - global.get('infraredstate1Date')) < infraredtimeout){\n    payload.infraredstate1 = global.get('infraredstate1') ;   \n}\n\nif ((cDate - global.get('infraredstate2Date')) < infraredtimeout){\n    payload.infraredstate2 = global.get('infraredstate2') ;   \n}\nmsg.infraredstate1 = Number(payload.infraredstate1.substring(0,1));\nmsg.infraredstate2 = Number(payload.infraredstate2.substring(0,1));\n\nmsg.perimetr = (msg.infraredstate1 == 1 && msg.infraredstate2 == 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":500,"wires":[["2725d8ae.5ff288"]]},{"id":"16257e65.765292","type":"switch","z":"8cc9c6eb.ff7ab8","name":"access_granted","property":"access_granted","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1260,"y":580,"wires":[["3fae6685.ce39ba"],["16898129.b602cf"]]},{"id":"16898129.b602cf","type":"function","z":"8cc9c6eb.ff7ab8","name":"send text to board","func":"flow.set('temp_tagID',msg.tagID);\n\nmsg.payload = {\n                \"row1\":\"датчик\",\n                \"row2\":\"перекрито\"\n            };\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":640,"wires":[["5dc102d.977f5fc","76109ace.f0dd14"]]},{"id":"7df632fb.37a58c","type":"switch","z":"8cc9c6eb.ff7ab8","name":"access granted","property":"do","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":340,"wires":[["c0e45757.76bde8"],["35bcecb5.e46e14"]]},{"id":"c0e45757.76bde8","type":"function","z":"8cc9c6eb.ff7ab8","name":"set granted ","func":"flow.set('access_granted',true);\nglobal.set('zeroWeight',true);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":340,"wires":[["b68aa817.7a9b58"]]},{"id":"b68aa817.7a9b58","type":"function","z":"8cc9c6eb.ff7ab8","name":"send text to board","func":"msg.payload = {\n                \"row1\":\"пр. карту\",\n                \"row2\":\"#вес\"\n            };\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":340,"wires":[["5dc102d.977f5fc","76109ace.f0dd14"]]},{"id":"918d45d0.3575d8","type":"http request","z":"8cc9c6eb.ff7ab8","name":"to 1C ","method":"POST","ret":"txt","url":"","tls":"","x":2390,"y":560,"wires":[["8a971c07.329a7"]]},{"id":"e24c9b8a.b47f48","type":"function","z":"8cc9c6eb.ff7ab8","name":"Взвесили с пересеченным периметром","func":"var host = 'http://10.3.6.253/UE_laz/hs/PerimeterControl/api/SmartScales/yag_avto2';\nmsg.payload = {\n    'ИдентификаторОбъекта':msg.tag.tagID,\n    'ИдентификаторАктивности':'ab2abea2-8602-11e9-4782-0242ac130003',\n    'ЗначениеВеса':global.get('weight')\n};\nmsg.url = host;\nmsg.headers = {};\nmsg.req = {};\nmsg.res = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2140,"y":560,"wires":[["8a971c07.329a7","918d45d0.3575d8","3dbf7c0d.971174"]]},{"id":"93aaf7c1.4275b8","type":"switch","z":"8cc9c6eb.ff7ab8","name":"","property":"perimetr","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1910,"y":560,"wires":[["e24c9b8a.b47f48"]]},{"id":"2725d8ae.5ff288","type":"switch","z":"8cc9c6eb.ff7ab8","name":"perimetr true/false","property":"perimetr","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":580,"wires":[["3fae6685.ce39ba"],["16257e65.765292"]]},{"id":"fd6d9a93.c871c8","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"obj","pretty":false,"x":1740,"y":500,"wires":[["152a2806.8a38b8"]]},{"id":"804536b4.99ede8","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":120,"wires":[]},{"id":"3fae6685.ce39ba","type":"function","z":"8cc9c6eb.ff7ab8","name":"1C get Tag Data","func":"msg.url = \"http://10.3.6.253/UE_laz/hs/PerimeterControl/api/PrincipNodeRed/getTagData\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":700,"wires":[["9ebddc43.0ee93"]]},{"id":"9ebddc43.0ee93","type":"http request","z":"8cc9c6eb.ff7ab8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":700,"wires":[["a12bac00.cf612","9dce4c5c.0549d"]]},{"id":"a12bac00.cf612","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"obj","pretty":false,"x":1730,"y":700,"wires":[["eb6d27aa.0b22e8"]]},{"id":"eb6d27aa.0b22e8","type":"function","z":"8cc9c6eb.ff7ab8","name":"get tag Data","func":"var tagID   = msg.tag.tagID.toUpperCase();\nvar tagdDataArray = msg.payload;\nvar tagData = {};\nfor(var i=0; i < tagdDataArray.length; i++){\n    if (tagdDataArray[i].tagID === tagID){\n        tagData = tagdDataArray[i];        \n    }\n}\n\nmsg.tagData = tagData;\nmsg.req = {};\nmsg.res = {};\nmsg.url = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":700,"wires":[["1e483d12.5d6163"]]},{"id":"59736827.1219b8","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2550,"y":520,"wires":[]},{"id":"ed57d0be.a6348","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з 1C","func":"var row1 = flow.get(\"row1\");\nvar row2 = flow.get(\"row2\");\n\n//msg.payload.row1 = flow.get(\"row1\");\n//msg.payload.row2 = flow.get(\"row2\");\n\n\nif(row1 == \"#вес\" ){\n   msg.payload.row1 = global.get(\"weight\");\n   msg.payload.row2 = flow.get(\"row2\"); \n   }else if(row2 == \"#вес\" ){\n   msg.payload.row2 = global.get(\"weight\");\n   msg.payload.row1 = flow.get(\"row1\"); \n}\n\n\nmsg.payload =\"START1;0;0;1;1;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1780,"wires":[["83aa746f.998338"]]},{"id":"83aa746f.998338","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":1780,"wires":[]},{"id":"6129ae20.47517","type":"function","z":"e0072cdc.8f9e","name":"true","func":"msg.payload = {\n    row2: \"Очіування \",\n    row1: \"#вес\",\n    ident: \"cmd\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1620,"wires":[["acae9021.db911"]]},{"id":"15db7fef.9bce","type":"function","z":"e0072cdc.8f9e","name":"true","func":"msg.payload = {\n    row2: \"Очіування \",\n    row1: \"TEST\",\n    ident: \"cmd\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":233.55554962158203,"y":1574.9166717529297,"wires":[["acae9021.db911"]]},{"id":"44028e62.9cc94","type":"inject","z":"e0072cdc.8f9e","name":"1с","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"row2\":\"Аналіз\",\"row1\":\"Очікування\",\"ident\":\"cmd\"}","payloadType":"json","x":93.88886260986328,"y":1615.2777700424194,"wires":[["6129ae20.47517"]]},{"id":"cc86e53a.f1f1a8","type":"switch","z":"e0072cdc.8f9e","name":"","property":"cmdOts1","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":1780,"wires":[["acae9021.db911"]]},{"id":"d174e0b4.102a5","type":"inject","z":"e0072cdc.8f9e","name":"1с","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"row2\":\"Аналіз\",\"row1\":\"Очікування\",\"ident\":\"cmd\"}","payloadType":"json","x":83.19442367553711,"y":1576.9445180892944,"wires":[["15db7fef.9bce"]]},{"id":"dce53582.519848","type":"inject","z":"e0072cdc.8f9e","name":"reset","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"msgPayload","payloadType":"flow","x":70,"y":1780,"wires":[["cc86e53a.f1f1a8","15d74484.662c4b"]]},{"id":"de85b7a6.4a4318","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":1700,"wires":[["c2376780.ed91d8"]]},{"id":"c2376780.ed91d8","type":"function","z":"e0072cdc.8f9e","name":"init Змінні для події    #вага","func":"flow.set(\"cmdOts1\",false);\nflow.set(\"msgPayload\",{});\nflow.set(\"row1\",\"\");\nflow.set(\"row2\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1700,"wires":[[]]},{"id":"ca0a21ad.a7f5a","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"weight","payloadType":"global","x":430,"y":1820,"wires":[["8d0d9d0a.d4b07"]]},{"id":"8d0d9d0a.d4b07","type":"debug","z":"e0072cdc.8f9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1820,"wires":[]},{"id":"933f4da8.de66","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1500,"wires":[[]]},{"id":"2f559c63.9f3254","type":"function","z":"e0072cdc.8f9e","name":"true","func":"flow.set(\"cmdOts1\",true);\n\n\n\nmsg.payload = {\n    row2: \"Очіування \",\n    row1: \"#вес\",\n    ident: \"cmd\"\n}\n\nflow.set(\"row1\", msg.payload.row1);\nflow.set(\"row2\", msg.payload.row2);\nflow.set(\"msgPayload\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1500,"wires":[[]]},{"id":"acae9021.db911","type":"function","z":"e0072cdc.8f9e","name":"true","func":"var dies_1 = msg.payload.row1;\nvar dies_2 = msg.payload.row2;\n\n    if(dies_1 == \"#вес\" || dies_2 == \"#вес\"){\n        flow.set(\"cmdOts1\",true);\n    }else if(dies_1 !== \"#вес\" && dies_2 !== \"#вес\"){\n        flow.set(\"cmdOts1\",false);\n    }\n\nvar last_mes = {\n    row1: dies_1,\n    row2: dies_2\n}\n\nflow.set(\"row1\", msg.payload.row1);\nflow.set(\"row2\", msg.payload.row2);\nflow.set(\"msgPayload\", last_mes);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1620,"wires":[["ed57d0be.a6348","dd924d9e.77f9c"]]},{"id":"e61166cb.ee4548","type":"inject","z":"e0072cdc.8f9e","name":"1с","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"row2\":\"Аналіз\",\"row1\":\"Очікування\",\"ident\":\"cmd\"}","payloadType":"json","x":110,"y":1660,"wires":[["23f9a8d3.68fd08"]]},{"id":"23f9a8d3.68fd08","type":"function","z":"e0072cdc.8f9e","name":"true","func":"msg.payload = {\n    row2: \"#вес\",\n    row1: \"АНАЛІЗ\",\n    ident: \"cmd\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1680,"wires":[["acae9021.db911","e5ce4be1.e9ba18"]]},{"id":"847e7083.a93a5","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"row1","payloadType":"flow","x":260,"y":1400,"wires":[["85598e46.36b25"]]},{"id":"85598e46.36b25","type":"debug","z":"e0072cdc.8f9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":1440,"wires":[]},{"id":"90700b23.1f7a98","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"row2","payloadType":"flow","x":260,"y":1440,"wires":[["85598e46.36b25"]]},{"id":"e5ce4be1.e9ba18","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":1540,"wires":[]},{"id":"dd924d9e.77f9c","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":1600,"wires":[]},{"id":"15d74484.662c4b","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":210,"y":1860,"wires":[]},{"id":"a04a8cd0.7f794","type":"inject","z":"e0072cdc.8f9e","name":"reset","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"msgPayload","payloadType":"flow","x":70,"y":720,"wires":[["87194e65.82a05"]]},{"id":"87194e65.82a05","type":"switch","z":"e0072cdc.8f9e","name":"","property":"cmdOts1","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":720,"wires":[["65ab8a86.8b0be4"]]},{"id":"65ab8a86.8b0be4","type":"function","z":"e0072cdc.8f9e","name":"true","func":"var dies_1 = msg.payload.row1;\nvar dies_2 = msg.payload.row2;\n\n    if(dies_1 == \"#вес\" || dies_2 == \"#вес\"){\n        flow.set(\"cmdOts1\",true);\n    }else if(dies_1 !== \"#вес\" && dies_2 !== \"#вес\"){\n        flow.set(\"cmdOts1\",false);\n    }\n\nvar last_mes = {\n    row1: dies_1,\n    row2: dies_2\n}\n\nflow.set(\"row1\", msg.payload.row1);\nflow.set(\"row2\", msg.payload.row2);\nflow.set(\"msgPayload\", last_mes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":660,"wires":[["37926bab.0a29a4"]]},{"id":"37926bab.0a29a4","type":"function","z":"e0072cdc.8f9e","name":"Дані строки з 1C","func":"var row1 = flow.get(\"row1\");\nvar row2 = flow.get(\"row2\");\n\n//msg.payload.row1 = flow.get(\"row1\");\n//msg.payload.row2 = flow.get(\"row2\");\n\n\nif(row1 == \"#вес\" ){\n   msg.payload.row1 = global.get(\"weight\");\n   msg.payload.row2 = flow.get(\"row2\"); \n   }else if(row2 == \"#вес\" ){\n   msg.payload.row2 = global.get(\"weight\");\n   msg.payload.row1 = flow.get(\"row1\"); \n}\n\n\nmsg.payload =\"START1;0;0;1;0;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":720,"wires":[["f8d48f55.e1ba4","64715f22.8972b","a9791a74.13af08"]]},{"id":"f8d48f55.e1ba4","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":800,"wires":[]},{"id":"66691352.f8b74c","type":"function","z":"e0072cdc.8f9e","name":"init Змінні для події    #вага","func":"flow.set(\"cmdOts1\",false);\nflow.set(\"msgPayload\",{});\nflow.set(\"row1\",\"\");\nflow.set(\"row2\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":620,"wires":[[]]},{"id":"b8c7b64d.3c0258","type":"inject","z":"e0072cdc.8f9e","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":620,"wires":[["66691352.f8b74c"]]},{"id":"e821906d.36928","type":"inject","z":"e9ecd30a.5a31f","name":"reset","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"msgPayload","payloadType":"flow","x":110,"y":920,"wires":[["fd91195a.f09d48"]]},{"id":"fd91195a.f09d48","type":"switch","z":"e9ecd30a.5a31f","name":"","property":"cmdOts1","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":920,"wires":[["eea719f6.408d28"]]},{"id":"eea719f6.408d28","type":"function","z":"e9ecd30a.5a31f","name":"true","func":"var dies_1 = msg.payload.row1;\nvar dies_2 = msg.payload.row2;\n\n    if(dies_1 == \"#вес\" || dies_2 == \"#вес\"){\n        flow.set(\"cmdOts1\",true);\n    }else if(dies_1 !== \"#вес\" && dies_2 !== \"#вес\"){\n        flow.set(\"cmdOts1\",false);\n    }\n\nvar last_mes = {\n    row1: dies_1,\n    row2: dies_2\n}\n\nflow.set(\"row1\", msg.payload.row1);\nflow.set(\"row2\", msg.payload.row2);\nflow.set(\"msgPayload\", last_mes);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":860,"wires":[["d91243e.40c93c"]]},{"id":"d91243e.40c93c","type":"function","z":"e9ecd30a.5a31f","name":"Дані строки з 1C","func":"var row1 = flow.get(\"row1\");\nvar row2 = flow.get(\"row2\");\n\n//msg.payload.row1 = flow.get(\"row1\");\n//msg.payload.row2 = flow.get(\"row2\");\n\n\nif(row1 == \"#вес\" ){\n   msg.payload.row1 = global.get(\"weight\");\n   msg.payload.row2 = flow.get(\"row2\"); \n   }else if(row2 == \"#вес\" ){\n   msg.payload.row2 = global.get(\"weight\");\n   msg.payload.row1 = flow.get(\"row1\"); \n}\n\n\nmsg.payload =\"START1;0;0;1;1;\" +  msg.payload.row1 +\";\" + msg.payload.row2 +\";\" + String.fromCharCode(10) + String.fromCharCode(13);\n             \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":920,"wires":[["e355f26e.a8e3f","49a4486c.614d68"]]},{"id":"66fecb0c.2a0fe4","type":"function","z":"e9ecd30a.5a31f","name":"init Змінні для події    #вага","func":"flow.set(\"cmdOts1\",false);\nflow.set(\"msgPayload\",{});\nflow.set(\"row1\",\"\");\nflow.set(\"row2\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":820,"wires":[[]]},{"id":"b2ed4fb3.523d","type":"inject","z":"e9ecd30a.5a31f","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":820,"wires":[["66fecb0c.2a0fe4"]]},{"id":"e355f26e.a8e3f","type":"debug","z":"e9ecd30a.5a31f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":1000,"wires":[]},{"id":"256b2cea.820874","type":"debug","z":"e9ecd30a.5a31f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":720,"wires":[]},{"id":"74289964.b82148","type":"debug","z":"e0072cdc.8f9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":580,"wires":[]},{"id":"e48f5f6b.b4f55","type":"delay","z":"e9ecd30a.5a31f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":620,"wires":[["b1bad233.fd37"]]},{"id":"a9791a74.13af08","type":"delay","z":"e0072cdc.8f9e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":660,"wires":[["114e49a.c3f9bb6"]]},{"id":"114e49a.c3f9bb6","type":"delay","z":"e0072cdc.8f9e","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":600,"wires":[["445df88f.1fe478"]]},{"id":"b1bad233.fd37","type":"delay","z":"e9ecd30a.5a31f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":560,"wires":[["254c9f3d.592c2"]]},{"id":"2adbf65.04f5a0a","type":"function","z":"ff94a736.741768","name":"set global zero weight","func":"var weight = Number(msg.payload);\n\nif (weight === 0){\n    global.set('zeroWeight',true);\n}\nmsg.weight = weight;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["15289d4d.6a2a83","c8546662.867b08"]]},{"id":"15289d4d.6a2a83","type":"debug","z":"ff94a736.741768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":400,"wires":[]},{"id":"d2bcb98a.a06408","type":"inject","z":"55c7dc36.ccf604","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"zeroWeight","payloadType":"global","x":170,"y":360,"wires":[["29f227dd.a2cf98","e14f7b97.4f28e8"]]},{"id":"29f227dd.a2cf98","type":"ui_text","z":"55c7dc36.ccf604","group":"ca5b9a5e.962308","order":1,"width":0,"height":0,"name":"","label":"Ноль установлен","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":320,"wires":[]},{"id":"4dc5696d.c94fb8","type":"switch","z":"8cc9c6eb.ff7ab8","name":"zero Weight","property":"zeroWeight","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":440,"wires":[["285cddbf.78b172"],["e283349a.017c48"]]},{"id":"b582d5a3.b5cf58","type":"inject","z":"ff94a736.741768","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":500,"wires":[["1bf049c8.5321b6"]]},{"id":"1bf049c8.5321b6","type":"function","z":"ff94a736.741768","name":"","func":" global.set('zeroWeight',true);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[[]]},{"id":"e283349a.017c48","type":"function","z":"8cc9c6eb.ff7ab8","name":"send text to board","func":"msg.payload = {\n                \"row1\":\"ваги\",\n                \"row2\":\"не обнулені\"\n            };\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":500,"wires":[["5dc102d.977f5fc","76109ace.f0dd14"]]},{"id":"c8546662.867b08","type":"ui_chart","z":"ff94a736.741768","name":"","group":"3d92b1aa.58660e","order":2,"width":0,"height":0,"label":"Графік ваги","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"65000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":180,"wires":[[]]},{"id":"e14f7b97.4f28e8","type":"function","z":"55c7dc36.ccf604","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["e1612d91.12e87"]]},{"id":"e1612d91.12e87","type":"ui_chart","z":"55c7dc36.ccf604","name":"","group":"38fcbfb0.3854e","order":4,"width":0,"height":0,"label":"Графік нуля","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":380,"wires":[[]]},{"id":"a92c6152.5b429","type":"debug","z":"7fbc3aed.2fc7a4","name":"rfid_out","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":600,"y":260,"wires":[]},{"id":"2ef6c4ce.48613c","type":"function","z":"7fbc3aed.2fc7a4","name":"Парсинг строки","func":"var keycode = \"\";\nvar el = \"\";\n\n\nmsg.payload.reverse().forEach(function(element) {\n  if (element.toString('16').length <2) el = \"0\" + element.toString('16'); else el = element.toString('16');\n  keycode = keycode + el;\n});\n\nmsg.payload = keycode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["a92c6152.5b429","fadfae97.22d5d"]]},{"id":"7c81bbf7.3a3954","type":"comment","z":"7fbc3aed.2fc7a4","name":"Виїзд ближче до воріт","info":"","x":120,"y":160,"wires":[]},{"id":"cdd0973f.81b1a8","type":"delay","z":"7fbc3aed.2fc7a4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":620,"y":100,"wires":[["27a1849e.b7fe1c"]]},{"id":"fadfae97.22d5d","type":"delay","z":"7fbc3aed.2fc7a4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":620,"y":200,"wires":[["a5c4b8d2.74b7c8"]]},{"id":"ac9c87c.830b078","type":"serial in","z":"7fbc3aed.2fc7a4","name":"","serial":"649c659.618be9c","x":210,"y":200,"wires":[["2ef6c4ce.48613c","f5d64211.231a2"]]},{"id":"f77dae0e.dfe42","type":"serial in","z":"7fbc3aed.2fc7a4","name":"","serial":"8e569540.6150a8","x":230,"y":100,"wires":[["45aed370.efe8ec","1d1118ea.f53407"]]},{"id":"45aed370.efe8ec","type":"function","z":"7fbc3aed.2fc7a4","name":"Парсинг строки","func":"var keycode = \"\";\nvar el = \"\";\n\n\nmsg.payload.reverse().forEach(function(element) {\n  if (element.toString('16').length <2) el = \"0\" + element.toString('16'); else el = element.toString('16');\n  keycode = keycode + el;\n});\n\nmsg.payload = keycode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["c116c4e7.caaaf8","cdd0973f.81b1a8"]]},{"id":"c116c4e7.caaaf8","type":"debug","z":"7fbc3aed.2fc7a4","name":"rfid_in","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":600,"y":140,"wires":[]},{"id":"674b04f6.57518c","type":"tcp in","z":"8cc9c6eb.ff7ab8","name":"","server":"server","host":"","port":"10001","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":540,"wires":[["b4776d0a.38993","9945ce0e.58261"]]},{"id":"b4776d0a.38993","type":"function","z":"8cc9c6eb.ff7ab8","name":"UPLOAD","func":"msg.ip = \"NFC_upload\";\nmsg.antennaID = 1;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["ccf9f0f4.0e3e9"]]},{"id":"c3b97821.473758","type":"tcp out","z":"8cc9c6eb.ff7ab8","host":"10.3.6.175","port":"10005","beserver":"client","base64":false,"end":false,"name":"","x":860,"y":820,"wires":[]},{"id":"76ad4e03.5014a","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":630,"y":820,"wires":[["c3b97821.473758","1053859d.0768ca"]]},{"id":"ccf9f0f4.0e3e9","type":"function","z":"8cc9c6eb.ff7ab8","name":"get IP","func":"msg.tagID = msg.payload;\nvar  s = \"-\";\nmsg.tagID = msg.tagID.substring(0,2)+s+msg.tagID.substring(2,4)+s+msg.tagID.substring(4,6)+s+msg.tagID.substring(6,8);\nmsg.tag   = {\"tagID\":msg.tagID};\nmsg.antennaID = msg.antennaID;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["16275b59.d14a05"]]},{"id":"16275b59.d14a05","type":"function","z":"8cc9c6eb.ff7ab8","name":"send to 1C","func":"msg.url = flow.get('host1C');\nmsg.tag.lastSeenTimestampUTC = new Date();\nmsg.tag.ip = msg.ip;\nmsg.tag.antenna = String(msg.antennaID);\nmsg.tag.antennaID = String(msg.antennaID);\nmsg.tag.direction = 'IN';\n\nmsg.payload = [msg.tag];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["4bdefe5e.6e685"]]},{"id":"4efbb928.fc0418","type":"ui_button","z":"ff94a736.741768","name":"","group":"ca5b9a5e.962308","order":2,"width":0,"height":0,"passthru":false,"label":"Зкинути 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":380,"wires":[["1bf049c8.5321b6"]]},{"id":"c55d2a52.882758","type":"link in","z":"55c7dc36.ccf604","name":"","links":["c64b828c.ce41f"],"x":75,"y":960,"wires":[["ded13dd0.81fb8"]]},{"id":"f3bc6aa8.e7cd18","type":"link in","z":"55c7dc36.ccf604","name":"","links":["cefa3d2c.7eec"],"x":75,"y":1040,"wires":[["cdc31af6.ff4aa8"]]},{"id":"ded13dd0.81fb8","type":"function","z":"55c7dc36.ccf604","name":"","func":"msg.payload = msg.payload.number;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":960,"wires":[["6874fa8a.cb01e4"]]},{"id":"6874fa8a.cb01e4","type":"ui_text","z":"55c7dc36.ccf604","group":"b3372e76.9d3b4","order":5,"width":0,"height":0,"name":"","label":"Номер вїзд:","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":960,"wires":[]},{"id":"cdc31af6.ff4aa8","type":"function","z":"55c7dc36.ccf604","name":"","func":"msg.payload = msg.payload.number;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1040,"wires":[["1e6c949.a110e6b"]]},{"id":"1e6c949.a110e6b","type":"ui_text","z":"55c7dc36.ccf604","group":"b3372e76.9d3b4","order":5,"width":0,"height":0,"name":"","label":"Номер виїзд:","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":1040,"wires":[]},{"id":"8b067a8e.bc97c8","type":"rpi-gpio in","z":"316a9f4f.43109","name":"","pin":"11","intype":"down","debounce":"1000","read":false,"x":200,"y":100,"wires":[["9ce3e82c.695988"]]},{"id":"9ce3e82c.695988","type":"debug","z":"316a9f4f.43109","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"152a2806.8a38b8","type":"function","z":"8cc9c6eb.ff7ab8","name":"check infrared state","func":"var payload = {\n    'infraredstate1':0,\n    'infraredstate2':0\n}\nvar infraredtimeout = flow.get('infraredtimeout');\nvar cDate = new Date();\nif ((cDate - global.get('infraredstate1Date')) < infraredtimeout){\n    payload.infraredstate1 = global.get('infraredstate1') ;   \n}\n\nif ((cDate - global.get('infraredstate2Date')) < infraredtimeout){\n    payload.infraredstate2 = global.get('infraredstate2') ;   \n}\n\nmsg.infraredstate1 = Number(payload.infraredstate1.substring(0,1));\nmsg.infraredstate2 = Number(payload.infraredstate2.substring(0,1));\nmsg.perimetr = (msg.infraredstate1 == 1 && msg.infraredstate2 == 1);\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":560,"wires":[["93aaf7c1.4275b8"]]},{"id":"8a971c07.329a7","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2550,"y":560,"wires":[]},{"id":"9945ce0e.58261","type":"debug","z":"8cc9c6eb.ff7ab8","name":"tcp:10001","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":260,"y":500,"wires":[]},{"id":"11f3e26.9aac81e","type":"inject","z":"8cc9c6eb.ff7ab8","name":"","props":[{"p":"payload","v":"123213123","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123213123","payloadType":"num","x":170,"y":1340,"wires":[["df470a8e.5c2608"]]},{"id":"df470a8e.5c2608","type":"debug","z":"8cc9c6eb.ff7ab8","name":"test","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":340,"y":1360,"wires":[]},{"id":"1053859d.0768ca","type":"debug","z":"8cc9c6eb.ff7ab8","name":"board_upload","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":780,"wires":[]},{"id":"5c31949d.e36dfc","type":"debug","z":"8cc9c6eb.ff7ab8","name":"api/platform/setBoardText","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":300,"y":720,"wires":[]},{"id":"b378f3db.b5c66","type":"debug","z":"8cc9c6eb.ff7ab8","name":"api/platform/getReaderConfig","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":350,"y":640,"wires":[]},{"id":"450bad55.406f84","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":150,"y":640,"wires":[["b378f3db.b5c66"]]},{"id":"c375bf5.7cc544","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":110,"y":720,"wires":[["5c31949d.e36dfc"]]},{"id":"a171b5d0.f95e18","type":"inject","z":"7fbc3aed.2fc7a4","name":"","props":[{"p":"payload","v":"121332","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"121332","payloadType":"num","x":390,"y":140,"wires":[["c116c4e7.caaaf8","1d1118ea.f53407","f5d64211.231a2"]]},{"id":"9aa4bc70.2964c","type":"debug","z":"8cc9c6eb.ff7ab8","name":"send to 1C","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":2420,"y":460,"wires":[]},{"id":"3dbf7c0d.971174","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":2270,"y":460,"wires":[["9aa4bc70.2964c"]]},{"id":"e3bf08f8.39de88","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":390,"y":280,"wires":[["9965be36.75c74","29133332.5c5b4c"]]},{"id":"9965be36.75c74","type":"debug","z":"8cc9c6eb.ff7ab8","name":"POST_/api/platform/setDefaultTable","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":610,"y":280,"wires":[]},{"id":"dc39c54d.ea63c8","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":370,"y":200,"wires":[["980dc1bb.0b22f","29133332.5c5b4c"]]},{"id":"980dc1bb.0b22f","type":"debug","z":"8cc9c6eb.ff7ab8","name":"POST_/api/platform/getAccessTable","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":590,"y":200,"wires":[]},{"id":"1cd3bab2.b26535","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"str","pretty":false,"x":390,"y":120,"wires":[["e79352c6.b343f"]]},{"id":"e79352c6.b343f","type":"debug","z":"8cc9c6eb.ff7ab8","name":"GET_/api/platform/getAccessTable","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":610,"y":120,"wires":[]},{"id":"109f73d8.af2cfc","type":"debug","z":"ff94a736.741768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"285cddbf.78b172","type":"function","z":"8cc9c6eb.ff7ab8","name":"Stable weight check","func":"var msg1 = msg;\nvar msg2 = msg;\nvar weight = JSON.parse(msg.payload);\n\n\nif(weight.stable === true){\n    msg1.payload = msg.payload;\n    return [msg1, null];\n}else{\n    global.set('zeroWeight',true);\n    msg2.payload = {\n                \"row1\":\"вага\",\n                \"row2\":\"нестабільна\"\n    };\n    return [null,msg2];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2060,"y":420,"wires":[["323a0816.c13a18","eb62a402.e20b08"],["da214180.b510e","5dc102d.977f5fc","76109ace.f0dd14","6bf09d08.6b50b4"]]},{"id":"323a0816.c13a18","type":"debug","z":"8cc9c6eb.ff7ab8","name":"if true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2250,"y":320,"wires":[]},{"id":"da214180.b510e","type":"debug","z":"8cc9c6eb.ff7ab8","name":"if false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2270,"y":360,"wires":[]},{"id":"6bf09d08.6b50b4","type":"delay","z":"8cc9c6eb.ff7ab8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2040,"y":360,"wires":[["b68aa817.7a9b58"]]},{"id":"29133332.5c5b4c","type":"function","z":"8cc9c6eb.ff7ab8","name":"tagsObjCreate","func":"let guidObj = {};\nlet serviceTagsObj = {};\nJSON.parse(msg.payload).forEach(function(obj){\n    obj.tags_data.forEach(function(item){\n        if(item.tag.trim() !== '') guidObj[item.tag.toUpperCase()] = item.guid;\n    });\n});\nJSON.parse(msg.payload).forEach(function(obj){\n    if(obj.pointID === 'Неопределенно'){\n        obj.tags.forEach(function(item){\n            if(item !== '') serviceTagsObj[item.toUpperCase()] = 'service';\n        });\n    }\n});\nflow.set('tagsObj',guidObj);\nflow.set('serviceTagsObj',serviceTagsObj);\nmsg.payload = {guidObj: guidObj, serviceTagsObj: serviceTagsObj};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":60,"wires":[["d08b90ab.afcbf"]]},{"id":"9b94adb3.52b14","type":"debug","z":"8cc9c6eb.ff7ab8","name":"NewTagsObjFromAccessTable","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1500,"y":100,"wires":[]},{"id":"8acfbe71.06236","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":280,"wires":[]},{"id":"4c0ca4bb.63733c","type":"function","z":"8cc9c6eb.ff7ab8","name":"check infrared state","func":"var serviceTagsObj = flow.get('serviceTagsObj');\nmsg.do = false;\nmsg.tag = {tagID: 'fc-7a-cd-63'};\nif(serviceTagsObj[msg.tag.tagID.toUpperCase()] === 'service'){\n    msg.do = true;\n}\nmsg.testRes = serviceTagsObj[msg.tag.tagID.toUpperCase()];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1200,"wires":[["430bc2fe.0e6ffc"]]},{"id":"71afc56f.67c9dc","type":"inject","z":"8cc9c6eb.ff7ab8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1200,"wires":[["4c0ca4bb.63733c","c43593ed.5ee4e"]]},{"id":"430bc2fe.0e6ffc","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1200,"wires":[]},{"id":"c43593ed.5ee4e","type":"function","z":"8cc9c6eb.ff7ab8","name":"check infrared state","func":"var payload = {\n    'infraredstate1':0,\n    'infraredstate2':0\n}\nvar infraredtimeout = flow.get('infraredtimeout');\nvar cDate = new Date();\nif ((cDate - global.get('infraredstate1Date')) < infraredtimeout){\n    payload.infraredstate1 = global.get('infraredstate1') ;   \n}\n\nif ((cDate - global.get('infraredstate2Date')) < infraredtimeout){\n    payload.infraredstate2 = global.get('infraredstate2') ;   \n}\n\nmsg.infraredstate1 = Number(payload.infraredstate1.substring(0,1));\nmsg.infraredstate2 = Number(payload.infraredstate2.substring(0,1));\nmsg.perimetr = (msg.infraredstate1 == 1 && msg.infraredstate2 == 1);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1260,"wires":[["4456bf87.8d03b"]]},{"id":"4456bf87.8d03b","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1260,"wires":[]},{"id":"35ff096c.02cb36","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":840,"y":220,"wires":[]},{"id":"4e20d801.f89768","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":240,"wires":[]},{"id":"cb6b21fc.a3278","type":"debug","z":"8cc9c6eb.ff7ab8","name":"ScanCard","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"elk_log","x":470,"y":420,"wires":[]},{"id":"d08b90ab.afcbf","type":"json","z":"8cc9c6eb.ff7ab8","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":60,"wires":[["9b94adb3.52b14"]]},{"id":"609408f7.88d4b8","type":"debug","z":"8cc9c6eb.ff7ab8","name":"SOVA URL","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"url","x":1800,"y":280,"wires":[]},{"id":"9dce4c5c.0549d","type":"debug","z":"8cc9c6eb.ff7ab8","name":"TruckNumberParseService","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"paylaod","x":2020,"y":760,"wires":[]},{"id":"f5d64211.231a2","type":"debug","z":"7fbc3aed.2fc7a4","name":"rfid_out","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":380,"y":260,"wires":[]},{"id":"1d1118ea.f53407","type":"debug","z":"7fbc3aed.2fc7a4","name":"rfid_in","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":380,"y":60,"wires":[]},{"id":"a4495a45.f03688","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":380,"wires":[]},{"id":"ec7ab72e.3acfc8","type":"inject","z":"7fbc3aed.2fc7a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[46,83,194,68]","payloadType":"bin","x":450,"y":460,"wires":[["45aed370.efe8ec"]]},{"id":"3853721c.6c227e","type":"inject","z":"7fbc3aed.2fc7a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[68,194,83,46]","payloadType":"bin","x":70,"y":380,"wires":[["2ef6c4ce.48613c"]]},{"id":"4ecffcac.32eb94","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":940,"wires":[]},{"id":"34468ee3.5c5442","type":"inject","z":"8cc9c6eb.ff7ab8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"row1\":\"test1\", \"row2\":\"test2\"}","payloadType":"str","x":260,"y":1000,"wires":[["c3b97821.473758"]]},{"id":"8ff0be23.b1c33","type":"link in","z":"7fbc3aed.2fc7a4","name":"","links":["e4f43791.629858"],"x":115,"y":280,"wires":[["45aed370.efe8ec"]]},{"id":"945b3b1d.4a0ac8","type":"ui_button","z":"55c7dc36.ccf604","name":"","group":"ce30736.849af9","order":7,"width":0,"height":0,"passthru":false,"label":"NFC Выезд","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"[68,68,83,46]","payloadType":"bin","topic":"","x":670,"y":660,"wires":[["e4f43791.629858"]]},{"id":"e4f43791.629858","type":"link out","z":"55c7dc36.ccf604","name":"","links":["8ff0be23.b1c33"],"x":785,"y":660,"wires":[]},{"id":"56a3f1c9.b248e","type":"debug","z":"8cc9c6eb.ff7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":120,"y":140,"wires":[]}]
