Kysto_AGRO/analizatoru/gmerenka.js
[{"id":"2088567f.69bdaa","type":"tab","label":"Infratek_Жмеренка"},{"id":"1e735005.a49d9","type":"tab","label":"processing_sсelya"},{"id":"c44d866.733de78","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"false","out":"time","addchar":false},{"id":"7104a1a3.55bb7","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"8e4f8d39.61c8f","type":"tcp in","z":"2088567f.69bdaa","name":"","server":"server","host":"","port":"4011","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":89,"y":38,"wires":[["8cda761e.15ea48","49ff7456.b7ef74"]]},{"id":"8cda761e.15ea48","type":"function","z":"2088567f.69bdaa","name":"set last Analys","func":"flow.set('lastAnalys',msg.payload);\nflow.set('barcode',\"\");\nglobal.set('device_id','2d892b17-4328-0456-ec30-52981f019000');\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":42,"wires":[["d33a977d.9688e8"]]},{"id":"c5fb498f.176c38","type":"http in","z":"2088567f.69bdaa","name":"","url":"/getQuality2","method":"get","swaggerDoc":"","x":139,"y":167,"wires":[["a6a1af51.437b5"]]},{"id":"cb2fef04.52b87","type":"http response","z":"2088567f.69bdaa","name":"","x":629,"y":167,"wires":[]},{"id":"a6a1af51.437b5","type":"function","z":"2088567f.69bdaa","name":"create response","func":"var load = flow.get('load');\nif (load){\n    msg.payload = flow.get('parseQA');    \n    msg.load = true;\n}else{\n    msg.payload = {};\n    msg.load = false;\n}\nmsg.payload.barcode = flow.get('barcode');\nflow.set(\"load\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":167,"wires":[["cb2fef04.52b87","49e7c7a9.c1ad58","db02bc5b.0926"]]},{"id":"d33a977d.9688e8","type":"function","z":"2088567f.69bdaa","name":"parse quality","func":"var result = {\n    localdate:new Date()\n};\n\nvar sdata = msg.payload;\nvar arr_sdata = sdata.split('\\n');\n\nresult.length = arr_sdata.length;\n\n//Ambient Temperature\nvar ambietTemperature = arr_sdata[7];\nvar arr_ambietTemperature = ambietTemperature.split(\":\");\nresult.ambietTemperature = arr_ambietTemperature[1];\n\n//Analysis Counter\nvar analysisCounter = arr_sdata[8];\nvar arr_analysisCounter = analysisCounter.split(\":\");\nresult.analysisCounter = arr_analysisCounter[1];\n\n//Sub sample\nvar subSample = arr_sdata[11];\nvar arr_subSample = subSample.split(\":\");\nvar arr_subSample_1 = arr_subSample[0].split(\"     \");\n\nresult.subsample = {\n   id : arr_subSample[0].replace(\"NrOFSubSamples\",\"\"),\n   NrOFSubSamples : arr_subSample[1]\n}\n\n//Sample hash\nvar sampleHash = arr_sdata[13];\nresult.sampleHash = sampleHash;\n\n//read quailities \nvar startQ  = 14;\nvar qLength = 7;\nvar endStr  = \"#\";\n\nvar qualities = [];\n\nfor( var i = startQ; i <= arr_sdata.length-qLength; ){\n    \n    var q = {\n        id:arr_sdata[i],\n        value:arr_sdata[i+1].split(String.fromCharCode(20)),\n        minmax:arr_sdata[i+4].split(String.fromCharCode(20))\n    }\n    qualities.push(q);   \n    i = i+qLength;\n    \n}\n\nresult.qualities = qualities;\nresult.datahash  = JSON.stringify(result);\n// msg.payload = arr_sdata;\nmsg.payload = result;\nflow.set('parseQA',result);\n\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":42,"wires":[["fc1f22b9.646ef","279eb439.0c4ebc"]]},{"id":"5377ca4e.861964","type":"serial in","z":"2088567f.69bdaa","name":"","serial":"c44d866.733de78","x":118,"y":274,"wires":[["b7d203ec.94df3","38c69233.f3580e","7139f512.84e1ec"]]},{"id":"56894dae.321804","type":"inject","z":"2088567f.69bdaa","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":101,"y":464,"wires":[["177d3625.efe91a"]]},{"id":"177d3625.efe91a","type":"function","z":"2088567f.69bdaa","name":"init config","func":"flow.set('load',false);\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":469,"wires":[[]]},{"id":"b7d203ec.94df3","type":"function","z":"2088567f.69bdaa","name":"read barcode","func":"flow.set(\"barcode\",msg.payload.replace(\"\\r\",\"\"));\nflow.set('load',true);\nmsg.payload = {\n    \"barcode\":msg.payload.replace(\"\\r\",\"\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":264,"wires":[["5ac711bb.45126"]]},{"id":"fc1f22b9.646ef","type":"link out","z":"2088567f.69bdaa","name":"get quality throw tcp","links":["1eeea2fa.bf324d"],"x":604,"y":42,"wires":[]},{"id":"7b979c61.399a34","type":"link out","z":"2088567f.69bdaa","name":"1c request","links":["e061afec.d0986","de42ffd5.a85b5"],"x":683,"y":234,"wires":[]},{"id":"5ac711bb.45126","type":"link out","z":"2088567f.69bdaa","name":"read barcode","links":["2468c402.7cd90c","8f7506df.d82fd8"],"x":450,"y":239,"wires":[]},{"id":"38c69233.f3580e","type":"debug","z":"2088567f.69bdaa","name":"","active":false,"console":"false","complete":"false","x":317,"y":310,"wires":[]},{"id":"1eeea2fa.bf324d","type":"link in","z":"1e735005.a49d9","name":"quality","links":["fc1f22b9.646ef"],"x":35,"y":300,"wires":[["424e54c3.48e08c"]]},{"id":"5aa8def9.a7516","type":"http request","z":"1e735005.a49d9","name":"EVENTS","method":"POST","ret":"txt","url":"","tls":"7104a1a3.55bb7","x":975,"y":300,"wires":[["244e62f4.42e58e"]]},{"id":"b54ba5e2.66abf8","type":"function","z":"1e735005.a49d9","name":"events payload","func":"var event_id = msg.event_id;\nvar device_id = global.get('device_id');\n\n\nmsg.payload = {\n    'event':{\n        'id':msg.event_id\n    },\n    'devices':[{'id':device_id}],\n    'data':msg.metadata,\n    'description':msg.description\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\"\n}\n\nmsg.url = flow.get('main_host')+flow.get('event_url');\nmsg.main_host = flow.get('main_host');\nmsg.event_url = flow.get('event_url');\n\nreturn msg;","outputs":1,"noerr":0,"x":728,"y":294,"wires":[["5aa8def9.a7516","b1cb6078.3351d","b2eea569.a5784"]]},{"id":"50794f7f.e40e2","type":"inject","z":"1e735005.a49d9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":460,"wires":[["22878d90.47a3a2"]]},{"id":"22878d90.47a3a2","type":"function","z":"1e735005.a49d9","name":"check scale health","func":"// var lastcheckHealth = flow.get('checkHealth');\n// var checkHealth = null;\n// var lasttimedata = flow.get('lasttimedata');\n\n// var currenttimedata = new Date();\n\n// if ((currenttimedata - lasttimedata) > 3000){\n//     checkHealth = false;\n// } else {\n//     checkHealth = true;\n// }\n\n// flow.set(\"checkHealth\",checkHealth);\n\n// if (lastcheckHealth != checkHealth){\n//     msg.checkHealth = checkHealth;\n// }else{\n//     msg.checkHealth = null;\n// }\nmsg.checkHealth = true;\nmsg.payload     = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":458,"wires":[["9d4c0bfe.a82298"]]},{"id":"8a6e3df1.971ea","type":"function","z":"1e735005.a49d9","name":"main config","func":"flow.set('checkHealth',null);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":240,"wires":[[]]},{"id":"93777a77.a9c538","type":"inject","z":"1e735005.a49d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"10800","crontab":"","once":true,"x":90,"y":220,"wires":[["a4f11987.832cd8","8a6e3df1.971ea"]]},{"id":"f119f7d0.105ff8","type":"http request","z":"1e735005.a49d9","name":"STATE","method":"POST","ret":"txt","url":"","tls":"","x":618,"y":485,"wires":[["eff42d44.f3631"]]},{"id":"9d4c0bfe.a82298","type":"function","z":"1e735005.a49d9","name":"device state","func":"msg.payload = {\n    \"state\":msg.payload\n}\nmsg.headers = {\n    \"content-type\":\"application/json\"\n}\nmsg.url = flow.get('main_host')+flow.get('state_url')+\"?id=\"+global.get(\"scale_id\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["f119f7d0.105ff8"]]},{"id":"6a0a480d.54fa08","type":"function","z":"1e735005.a49d9","name":"device config","func":"var device_config = JSON.parse(msg.payload);\n\nflow.set('event_make_quality_id',device_config.event_make_quality_id);\nflow.set('event_read_barcode_id',device_config.event_read_barcode_id);\nflow.set('event_send_to_accsystem_id',device_config.event_send_to_accsystem_id);\nflow.set('event_no_conditional',device_config.event_no_conditional);\nflow.set('main_host',device_config.main_host);\nflow.set('event_url',device_config.event_url);\nflow.set('state_url',device_config.state_url);\nflow.set('snapshot_url',device_config.snapshot_url);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["f32898b.f0d3d68"]]},{"id":"803216ef.682b28","type":"http in","z":"1e735005.a49d9","name":"","url":"/firmware","method":"post","swaggerDoc":"","x":140,"y":160,"wires":[["e757321a.f6dc5"]]},{"id":"e757321a.f6dc5","type":"file","z":"1e735005.a49d9","name":"deivce_config","filename":"deivce_config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":380,"y":160,"wires":[]},{"id":"a4f11987.832cd8","type":"file in","z":"1e735005.a49d9","name":"deivce_config","filename":"deivce_config.json","format":"utf8","x":380,"y":200,"wires":[["6a0a480d.54fa08"]]},{"id":"8fb06798.9d2b88","type":"http in","z":"1e735005.a49d9","name":"","url":"/serial","method":"get","swaggerDoc":"","x":120,"y":40,"wires":[["949ee380.2a72e"]]},{"id":"949ee380.2a72e","type":"exec","z":"1e735005.a49d9","command":"cat /proc/cpuinfo","addpay":true,"append":"| grep Serial","useSpawn":"","timer":"5","name":"","x":350,"y":40,"wires":[["b636e55a.7aa128","2e253819.ec3948"],[],[]]},{"id":"b636e55a.7aa128","type":"http response","z":"1e735005.a49d9","name":"","x":550,"y":20,"wires":[]},{"id":"2e253819.ec3948","type":"function","z":"1e735005.a49d9","name":"","func":"msg.payload = msg.payload.split(':')[1].replace('\\n','').replace(' ','');\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["31336553.10b4ba"]]},{"id":"31336553.10b4ba","type":"debug","z":"1e735005.a49d9","name":"","active":true,"console":"false","complete":"false","x":680,"y":100,"wires":[]},{"id":"f0d640.cc1909c","type":"inject","z":"1e735005.a49d9","name":"DEMO","topic":"","payload":"","payloadType":"str","repeat":"10800","crontab":"","once":false,"x":90,"y":100,"wires":[["68c362b2.98cf0c"]]},{"id":"68c362b2.98cf0c","type":"function","z":"1e735005.a49d9","name":"DEMO Data","func":"var device_config = {\n    'event_make_quality_id':'8B9482814EDB2FC9E055000000000001',\n    'event_read_barcode_id':'8B9482814EDC2FC9E055000000000001',\n    'event_send_to_accsystem_id':'8B9482814EDD2FC9E055000000000001',\n    'event_no_conditional':'8C4D78A0466C7B36E055000000000001',\n    'main_host':'https://156.67.53.93:8443/ords/ettn',\n    'event_url':'/iot_cli/events/log',\n    'state_url':'/iot_cli/device',\n    'snapshot_url':'/iot_cli/events/snapshot'\n}\nmsg.payload = device_config;\n// flow.set('scale_id','80096CB0EFD83B63E0533300000A4334');\n// flow.set('event_move_in_id','80096D9ABE7F68F3E0533300000A6C0D');\n// flow.set('event_move_out_id','80096D9ABE8068F3E0533300000A6C0D');\n// flow.set('event_max_weight_id','85A255F950F9BEF4E0533300000AC45D');\n// flow.set('event_off_id','85A2CC4570292DD1E0533300000A0C94');\n// flow.set('event_on_id', '85A2CC45702A2DD1E0533300000A0C94');\n// flow.set('event_max_duration','8642EE858DE89BAAE0533300000AFCC7');\n// flow.set('main_host','http://prod.apex.rest/ords/ettn');\n// flow.set('event_url','/iot_cli/events/log');\n// flow.set('state_url','/v1/device');\n// flow.set('maxWeight',40000);\n// flow.set('maxDuration',20000);\n// flow.set('checkHealthTimeout',3000);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["e757321a.f6dc5"]]},{"id":"2546c29b.c53d5e","type":"function","z":"1e735005.a49d9","name":"send quality","func":"msg.event_id = flow.get('event_make_quality_id');\nmsg.description = 'Отримали якість із аналізатору. Номер аналізу: ' + msg.payload.analysisCounter+\". Калібровка \"+msg.payload.subsample_id;\nmsg.metadata = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["b54ba5e2.66abf8"]]},{"id":"eff42d44.f3631","type":"debug","z":"1e735005.a49d9","name":"","active":true,"console":"false","complete":"false","x":758,"y":486,"wires":[]},{"id":"f32898b.f0d3d68","type":"debug","z":"1e735005.a49d9","name":"","active":true,"console":"false","complete":"payload","x":750,"y":200,"wires":[]},{"id":"8f7506df.d82fd8","type":"link in","z":"1e735005.a49d9","name":"barcode","links":["5ac711bb.45126"],"x":35,"y":340,"wires":[["6fffebe0.004924"]]},{"id":"6fffebe0.004924","type":"function","z":"1e735005.a49d9","name":"read barcode","func":"msg.event_id = flow.get('event_read_barcode_id');\nmsg.description = 'Зчитування штрих-коду: ' + msg.payload.barcode;\nmsg.metadata = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["b54ba5e2.66abf8"]]},{"id":"5b7e4178.8e3a1","type":"function","z":"1e735005.a49d9","name":"send to 1c","func":"msg.event_id = flow.get('event_send_to_accsystem_id');\nmsg.description = 'Отримання аналізу в 1С: ' + msg.payload.barcode;\nmsg.metadata = {\n    'barcode':msg.payload.barcode\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["b54ba5e2.66abf8"]]},{"id":"de42ffd5.a85b5","type":"link in","z":"1e735005.a49d9","name":"1c","links":["7b979c61.399a34"],"x":35,"y":380,"wires":[["5b7e4178.8e3a1"]]},{"id":"8cbc3213.74e","type":"switch","z":"1e735005.a49d9","name":"","property":"isNotConditional","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":410,"y":400,"wires":[["fc27c55d.b61bb8"]]},{"id":"fc27c55d.b61bb8","type":"function","z":"1e735005.a49d9","name":"send quality","func":"msg.event_id = flow.get('event_no_conditional');\nmsg.description = 'Некодинційня якість. Номер аналізу ' + msg.payload.analysisCounter;\n\nvar payload = {};\nfor (var i = 0; i < msg.notcondition.length; i++){\n    payload = msg.notcondition[i];  \n}\nmsg.metadata = payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["b54ba5e2.66abf8","df2c175f.9084a8"]]},{"id":"df2c175f.9084a8","type":"debug","z":"1e735005.a49d9","name":"","active":true,"console":"false","complete":"true","x":664,"y":450,"wires":[]},{"id":"424e54c3.48e08c","type":"function","z":"1e735005.a49d9","name":"parse result","func":"var p = msg.payload;\n\nvar result = {\n    \"ambietTemperature\":p.ambietTemperature,\n    \"analysisCounter\":p.analysisCounter,\n    \"subsample_id\":p.subsample.id,\n    \"subsample_NrOFSubSamples\":p.subsample.NrOFSubSamples,\n    \"sampleHash\":p.sampleHash\n};\nvar notcondition = [];\nvar isNotConditional = false;\n\nfor (var i = 0; i < p.qualities.length; i++){\n    \n    var valueid = p.qualities[i].id.replace(\" \",\"\"); \n    var temp_value_name = p.qualities[i].value[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value = parseFloat(p.qualities[i].value[0].match(/\\d+.\\d+/g));\n    result[temp_value_name] = temp_value;\n    \n    var temp_value_min_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value_min = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[0]);\n    // result[temp_value_name+\"_\"+temp_value_min_name] = temp_value_min;\n    \n    var temp_value_max_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[1];\n    var temp_value_max = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[1]);\n    // result[temp_value_name+\"_\"+temp_value_max_name] = temp_value_max;\n    \n    if ((temp_value>temp_value_max) || (temp_value<temp_value_min)){\n        notcondition.push({\n            [temp_value_name]:temp_value,\n            [temp_value_min_name]:temp_value_min,\n            [temp_value_max_name]:temp_value_max\n        });\n        isNotConditional = true;\n    }\n}\nmsg.payload = result;\nmsg.notcondition = notcondition;\nmsg.isNotConditional = isNotConditional;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["2546c29b.c53d5e","8cbc3213.74e"]]},{"id":"49e7c7a9.c1ad58","type":"switch","z":"2088567f.69bdaa","name":"","property":"load","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":598,"y":234,"wires":[["7b979c61.399a34"]]},{"id":"279eb439.0c4ebc","type":"json","z":"2088567f.69bdaa","name":"","x":606,"y":77,"wires":[["d1ee6708.4ed3f8"]]},{"id":"d1ee6708.4ed3f8","type":"debug","z":"2088567f.69bdaa","name":"parse quality","active":false,"console":"true","complete":"payload","x":753,"y":80,"wires":[]},{"id":"db02bc5b.0926","type":"json","z":"2088567f.69bdaa","name":"","x":562,"y":298,"wires":[["22c03851.370c48"]]},{"id":"22c03851.370c48","type":"debug","z":"2088567f.69bdaa","name":"getQuality","active":false,"console":"true","complete":"payload","x":718,"y":299,"wires":[]},{"id":"7139f512.84e1ec","type":"function","z":"2088567f.69bdaa","name":"","func":"msg.payload = {\n    barcode: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":388,"wires":[["a84a99f7.beb008"]]},{"id":"a84a99f7.beb008","type":"json","z":"2088567f.69bdaa","name":"","x":368,"y":388,"wires":[["8eb2beaf.f4caf"]]},{"id":"8eb2beaf.f4caf","type":"debug","z":"2088567f.69bdaa","name":"read barcode","active":false,"console":"true","complete":"payload","x":527,"y":388,"wires":[]},{"id":"b1cb6078.3351d","type":"json","z":"1e735005.a49d9","name":"","x":953,"y":240,"wires":[["af3b039a.538a3"]]},{"id":"af3b039a.538a3","type":"debug","z":"1e735005.a49d9","name":"event","active":true,"console":"true","complete":"payload","x":1099,"y":242,"wires":[]},{"id":"97e2f708.1780c8","type":"inject","z":"1e735005.a49d9","name":"","topic":"","payload":"1212","payloadType":"num","repeat":"","crontab":"","once":false,"x":980,"y":146,"wires":[["af3b039a.538a3"]]},{"id":"800273b2.9ef2","type":"json","z":"2088567f.69bdaa","name":"","x":222,"y":106,"wires":[[]]},{"id":"49ff7456.b7ef74","type":"function","z":"2088567f.69bdaa","name":"","func":"msg.payload = {\n    msg:\"\" + msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":88,"y":104,"wires":[["cc1e6855.0c21e8"]]},{"id":"cc1e6855.0c21e8","type":"debug","z":"2088567f.69bdaa","name":"Analysis wihout parse","active":true,"console":"true","complete":"payload","x":409,"y":105,"wires":[]},{"id":"244e62f4.42e58e","type":"debug","z":"1e735005.a49d9","name":"","active":true,"console":"true","complete":"payload","x":1138,"y":300,"wires":[]},{"id":"e7c72db2.790c5","type":"inject","z":"2088567f.69bdaa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":225,"wires":[["5ac711bb.45126"]]},{"id":"b2eea569.a5784","type":"debug","z":"1e735005.a49d9","name":"event","active":true,"console":"true","complete":"payload","x":946,"y":200,"wires":[]}]
