Kysto_AGRO/analizatoru/roshosha.js
[{"id":"3325b6a0.ddf4c2","type":"tab","label":"Infratek Rososha"},{"id":"cccbdaf9.c3196","type":"tab","label":"processing_sñelya"},{"id":"695b2143.fd9518","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"time","addchar":false},{"id":"6ab3225.830135c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"f93b952f.2d2cf","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"11288f6e.ddd619","type":"tcp in","z":"3325b6a0.ddf4c2","name":"","server":"server","host":"","port":"4011","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":74,"y":60,"wires":[["89e659d.01be1a8","603bc983.933378","f02767c7.ae8cf"]]},{"id":"89e659d.01be1a8","type":"function","z":"3325b6a0.ddf4c2","name":"set last Analys","func":"flow.set('lastAnalys',msg.payload);\nflow.set('barcode',\"\");\nglobal.set('device_id','6c01d820-29dd-cfb3-ec30-5a231f019000');\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":60,"wires":[["66aeb881.ffcf7","7e9d2d29.7d30ac"]]},{"id":"6f64402c.fb1e88","type":"http in","z":"3325b6a0.ddf4c2","name":"","url":"/getQuality2","method":"get","swaggerDoc":"","x":134,"y":196,"wires":[["61588b60.57b074"]]},{"id":"b7af2684.c141d","type":"http response","z":"3325b6a0.ddf4c2","name":"","x":624,"y":196,"wires":[]},{"id":"61588b60.57b074","type":"function","z":"3325b6a0.ddf4c2","name":"create response","func":"var load = flow.get('load');\nif (load){\n    msg.payload = flow.get('parseQA');    \n    msg.load = true;\n}else{\n    msg.payload = {};\n    msg.load = false;\n}\nmsg.payload.barcode = flow.get('barcode');\nflow.set(\"load\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":196,"wires":[["b7af2684.c141d","2bfabc52.365d44","a4d8c66b.287e58"]]},{"id":"66aeb881.ffcf7","type":"function","z":"3325b6a0.ddf4c2","name":"parse quality","func":"var result = {\n    localdate:new Date()\n};\n\nvar sdata = msg.payload;\nvar arr_sdata = sdata.split('\\n');\n\nresult.length = arr_sdata.length;\n\n//Ambient Temperature\nvar ambietTemperature = arr_sdata[7];\nvar arr_ambietTemperature = ambietTemperature.split(\":\");\nresult.ambietTemperature = arr_ambietTemperature[1];\n\n//Analysis Counter\nvar analysisCounter = arr_sdata[8];\nvar arr_analysisCounter = analysisCounter.split(\":\");\nresult.analysisCounter = arr_analysisCounter[1];\n\n//Sub sample\nvar subSample = arr_sdata[11];\nvar arr_subSample = subSample.split(\":\");\nvar arr_subSample_1 = arr_subSample[0].split(\"     \");\n\nresult.subsample = {\n   id : arr_subSample[0].replace(\"NrOFSubSamples\",\"\"),\n   NrOFSubSamples : arr_subSample[1]\n}\n\n//Sample hash\nvar sampleHash = arr_sdata[13];\nresult.sampleHash = sampleHash;\n\n//read quailities \nvar startQ  = 14;\nvar qLength = 7;\nvar endStr  = \"#\";\n\nvar qualities = [];\n\nfor( var i = startQ; i <= arr_sdata.length-qLength; ){\n    \n    var q = {\n        id:arr_sdata[i],\n        value:arr_sdata[i+1].split(String.fromCharCode(20)),\n        minmax:arr_sdata[i+4].split(String.fromCharCode(20))\n    }\n    qualities.push(q);   \n    i = i+qLength;\n    \n}\n\nresult.qualities = qualities;\nresult.datahash  = JSON.stringify(result);\n// msg.payload = arr_sdata;\nmsg.payload = result;\nflow.set('parseQA',result);\n\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":60,"wires":[["6523174b.829f3","3a34fe37.08c3fa"]]},{"id":"76512126.ce25f","type":"inject","z":"3325b6a0.ddf4c2","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":84,"y":356,"wires":[["d2cc9ce3.9b8f7"]]},{"id":"d2cc9ce3.9b8f7","type":"function","z":"3325b6a0.ddf4c2","name":"init config","func":"flow.set('load',false);\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":356,"wires":[[]]},{"id":"293bb9b8.6d30ce","type":"function","z":"3325b6a0.ddf4c2","name":"read barcode","func":"flow.set(\"barcode\",msg.payload.replace(\"\\r\",\"\"));\nflow.set('load',true);\nmsg.payload = {\n    \"barcode\":msg.payload.replace(\"\\r\",\"\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":276,"wires":[["e3e30b3b.0e493"]]},{"id":"e57d6f6c.aff248","type":"link in","z":"cccbdaf9.c3196","name":"quality","links":["6523174b.829f3"],"x":31,"y":302,"wires":[["394df823.c5a1d8"]]},{"id":"b8a9485d.58d82","type":"http request","z":"cccbdaf9.c3196","name":"EVENTS","method":"POST","ret":"txt","url":"","tls":"6ab3225.830135c","x":920,"y":300,"wires":[["2b8a0f22.502b"]]},{"id":"ff15a846.8fc58","type":"function","z":"cccbdaf9.c3196","name":"events payload","func":"var event_id = msg.event_id;\nvar device_id = global.get('device_id');\n\n\nmsg.payload = {\n    'event':{\n        'id':msg.event_id\n    },\n    'devices':[{'id':device_id}],\n    'data':msg.metadata,\n    'description':msg.description\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\"\n}\n\nmsg.url = flow.get('main_host')+flow.get('event_url');\nmsg.main_host = flow.get('main_host');\nmsg.event_url = flow.get('event_url');\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["b8a9485d.58d82"]]},{"id":"1e3da66d.26512a","type":"inject","z":"cccbdaf9.c3196","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":460,"wires":[["42821565.9eab24"]]},{"id":"42821565.9eab24","type":"function","z":"cccbdaf9.c3196","name":"check scale health","func":"// var lastcheckHealth = flow.get('checkHealth');\n// var checkHealth = null;\n// var lasttimedata = flow.get('lasttimedata');\n\n// var currenttimedata = new Date();\n\n// if ((currenttimedata - lasttimedata) > 3000){\n//     checkHealth = false;\n// } else {\n//     checkHealth = true;\n// }\n\n// flow.set(\"checkHealth\",checkHealth);\n\n// if (lastcheckHealth != checkHealth){\n//     msg.checkHealth = checkHealth;\n// }else{\n//     msg.checkHealth = null;\n// }\nmsg.checkHealth = true;\nmsg.payload     = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["5ce52a43.054fdc"]]},{"id":"ea9e30ab.47f07","type":"function","z":"cccbdaf9.c3196","name":"main config","func":"flow.set('checkHealth',null);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":371,"y":246,"wires":[[]]},{"id":"1e211948.b072a7","type":"inject","z":"cccbdaf9.c3196","name":"","topic":"","payload":"","payloadType":"str","repeat":"10800","crontab":"","once":true,"x":120,"y":219,"wires":[["ed2fd882.198a9","ea9e30ab.47f07"]]},{"id":"5a77e258.9c7c04","type":"http request","z":"cccbdaf9.c3196","name":"STATE","method":"POST","ret":"txt","url":"","tls":"f93b952f.2d2cf","x":610,"y":460,"wires":[["48c9d0f7.efa63"]]},{"id":"5ce52a43.054fdc","type":"function","z":"cccbdaf9.c3196","name":"device state","func":"msg.payload = {\n    \"state\":msg.payload\n}\nmsg.headers = {\n    \"content-type\":\"application/json\"\n}\nmsg.url = flow.get('main_host')+flow.get('state_url')+\"?id=\"+global.get(\"scale_id\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["5a77e258.9c7c04"]]},{"id":"d740f8b4.14e6b8","type":"function","z":"cccbdaf9.c3196","name":"device config","func":"var device_config = JSON.parse(msg.payload);\n\nflow.set('event_make_quality_id',device_config.event_make_quality_id);\nflow.set('event_read_barcode_id',device_config.event_read_barcode_id);\nflow.set('event_send_to_accsystem_id',device_config.event_send_to_accsystem_id);\nflow.set('event_no_conditional',device_config.event_no_conditional);\nflow.set('main_host',device_config.main_host);\nflow.set('event_url',device_config.event_url);\nflow.set('state_url',device_config.state_url);\nflow.set('snapshot_url',device_config.snapshot_url);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":571,"y":206,"wires":[["d63de978.3cc6c8"]]},{"id":"54b36668.661fd","type":"http in","z":"cccbdaf9.c3196","name":"","url":"/firmware","method":"post","swaggerDoc":"","x":137,"y":154,"wires":[["d68a3f19.350df8"]]},{"id":"d68a3f19.350df8","type":"file","z":"cccbdaf9.c3196","name":"deivce_config","filename":"deivce_config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":377,"y":154,"wires":[]},{"id":"ed2fd882.198a9","type":"file in","z":"cccbdaf9.c3196","name":"deivce_config","filename":"deivce_config.json","format":"utf8","x":381,"y":206,"wires":[["d740f8b4.14e6b8"]]},{"id":"ac6ea23f.a51418","type":"http in","z":"cccbdaf9.c3196","name":"","url":"/serial","method":"get","swaggerDoc":"","x":120,"y":40,"wires":[["7c134d4b.548e74"]]},{"id":"7c134d4b.548e74","type":"exec","z":"cccbdaf9.c3196","command":"cat /proc/cpuinfo","addpay":true,"append":"| grep Serial","useSpawn":"","timer":"5","name":"","x":350,"y":40,"wires":[["ad2c13d5.085768","29c9a859.428d3"],[],[]]},{"id":"ad2c13d5.085768","type":"http response","z":"cccbdaf9.c3196","name":"","x":550,"y":20,"wires":[]},{"id":"29c9a859.428d3","type":"function","z":"cccbdaf9.c3196","name":"","func":"msg.payload = msg.payload.split(':')[1].replace('\\n','').replace(' ','');\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["4720894e.231e28"]]},{"id":"4720894e.231e28","type":"debug","z":"cccbdaf9.c3196","name":"","active":false,"console":"false","complete":"false","x":680,"y":100,"wires":[]},{"id":"722ba2fa.19c974","type":"inject","z":"cccbdaf9.c3196","name":"DEMO","topic":"","payload":"","payloadType":"str","repeat":"10800","crontab":"","once":true,"x":111,"y":94,"wires":[["a26a8583.b5a988"]]},{"id":"a26a8583.b5a988","type":"function","z":"cccbdaf9.c3196","name":"DEMO Data","func":"var device_config = {\n    'event_make_quality_id':'8B9482814EDB2FC9E055000000000001',\n    'event_read_barcode_id':'8B9482814EDC2FC9E055000000000001',\n    'event_send_to_accsystem_id':'8B9482814EDD2FC9E055000000000001',\n    'event_no_conditional':'8C4D78A0466C7B36E055000000000001',\n    'main_host':'https://156.67.53.93:8443/ords/ettn',\n    'event_url':'/iot_cli/events/log',\n    'state_url':'/iot_cli/device',\n    'snapshot_url':'/iot_cli/events/snapshot'\n}\nmsg.payload = device_config;\n// flow.set('scale_id','80096CB0EFD83B63E0533300000A4334');\n// flow.set('event_move_in_id','80096D9ABE7F68F3E0533300000A6C0D');\n// flow.set('event_move_out_id','80096D9ABE8068F3E0533300000A6C0D');\n// flow.set('event_max_weight_id','85A255F950F9BEF4E0533300000AC45D');\n// flow.set('event_off_id','85A2CC4570292DD1E0533300000A0C94');\n// flow.set('event_on_id', '85A2CC45702A2DD1E0533300000A0C94');\n// flow.set('event_max_duration','8642EE858DE89BAAE0533300000AFCC7');\n// flow.set('main_host','http://prod.apex.rest/ords/ettn');\n// flow.set('event_url','/iot_cli/events/log');\n// flow.set('state_url','/v1/device');\n// flow.set('maxWeight',40000);\n// flow.set('maxDuration',20000);\n// flow.set('checkHealthTimeout',3000);\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":94,"wires":[["d68a3f19.350df8"]]},{"id":"aedc1475.eaeb58","type":"function","z":"cccbdaf9.c3196","name":"send quality","func":"msg.event_id = flow.get('event_make_quality_id');\nmsg.description = 'Отримали якість із аналізатору. Номер аналізу: ' + msg.payload.analysisCounter+\". Калібровка \"+msg.payload.subsample_id;\nmsg.metadata = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["ff15a846.8fc58"]]},{"id":"48c9d0f7.efa63","type":"debug","z":"cccbdaf9.c3196","name":"","active":false,"console":"false","complete":"false","x":750,"y":460,"wires":[]},{"id":"d63de978.3cc6c8","type":"debug","z":"cccbdaf9.c3196","name":"","active":true,"console":"false","complete":"payload","x":751,"y":206,"wires":[]},{"id":"10b76e2c.56dff2","type":"link in","z":"cccbdaf9.c3196","name":"barcode","links":["e3e30b3b.0e493"],"x":35,"y":340,"wires":[["fbdf1629.829bf"]]},{"id":"fbdf1629.829bf","type":"function","z":"cccbdaf9.c3196","name":"read barcode","func":"msg.event_id = flow.get('event_read_barcode_id');\nmsg.description = 'Зчитування штрих-коду: ' + msg.payload.barcode;\nmsg.metadata = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["ff15a846.8fc58"]]},{"id":"c00f32d9.a05628","type":"function","z":"cccbdaf9.c3196","name":"send to 1c","func":"msg.event_id = flow.get('event_send_to_accsystem_id');\nmsg.description = 'Отримання аналізу в 1С: ' + msg.payload.barcode;\nmsg.metadata = {\n    'barcode':msg.payload.barcode\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["ff15a846.8fc58"]]},{"id":"b04eb5a6.5836c","type":"link in","z":"cccbdaf9.c3196","name":"1c","links":["a75f7403.0f4958"],"x":35,"y":380,"wires":[["c00f32d9.a05628"]]},{"id":"6523174b.829f3","type":"link out","z":"3325b6a0.ddf4c2","name":"get quality throw tcp","links":["e57d6f6c.aff248"],"x":769,"y":60,"wires":[]},{"id":"a75f7403.0f4958","type":"link out","z":"3325b6a0.ddf4c2","name":"1c request","links":["b04eb5a6.5836c"],"x":729,"y":236,"wires":[]},{"id":"e3e30b3b.0e493","type":"link out","z":"3325b6a0.ddf4c2","name":"read barcode","links":["10b76e2c.56dff2"],"x":429,"y":276,"wires":[]},{"id":"401d56b1.54f808","type":"switch","z":"cccbdaf9.c3196","name":"","property":"isNotConditional","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":410,"y":400,"wires":[["bfc2febb.c1aa78"]]},{"id":"bfc2febb.c1aa78","type":"function","z":"cccbdaf9.c3196","name":"send quality","func":"msg.event_id = flow.get('event_no_conditional');\nmsg.description = 'Некодинційня якість. Номер аналізу  ' + msg.payload.analysisCounter;\n\nvar payload = {};\nfor (var i = 0; i < msg.notcondition.length; i++){\n    payload = msg.notcondition[i];  \n}\nmsg.metadata = payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["ff15a846.8fc58","a55b33d3.a1006"]]},{"id":"a55b33d3.a1006","type":"debug","z":"cccbdaf9.c3196","name":"","active":false,"console":"false","complete":"true","x":760,"y":400,"wires":[]},{"id":"394df823.c5a1d8","type":"function","z":"cccbdaf9.c3196","name":"parse result","func":"var p = msg.payload;\n\nvar result = {\n    \"ambietTemperature\":p.ambietTemperature,\n    \"analysisCounter\":p.analysisCounter,\n    \"subsample_id\":p.subsample.id,\n    \"subsample_NrOFSubSamples\":p.subsample.NrOFSubSamples,\n    \"sampleHash\":p.sampleHash\n};\nvar notcondition = [];\nvar isNotConditional = false;\n\nfor (var i = 0; i < p.qualities.length; i++){\n    \n    var valueid = p.qualities[i].id.replace(\" \",\"\"); \n    var temp_value_name = p.qualities[i].value[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value = parseFloat(p.qualities[i].value[0].match(/\\d+.\\d+/g));\n    result[temp_value_name] = temp_value;\n    \n    var temp_value_min_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value_min = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[0]);\n    // result[temp_value_name+\"_\"+temp_value_min_name] = temp_value_min;\n    \n    var temp_value_max_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[1];\n    var temp_value_max = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[1]);\n    // result[temp_value_name+\"_\"+temp_value_max_name] = temp_value_max;\n    \n    if ((temp_value>temp_value_max) || (temp_value<temp_value_min)){\n        notcondition.push({\n            [temp_value_name]:temp_value,\n            [temp_value_min_name]:temp_value_min,\n            [temp_value_max_name]:temp_value_max\n        });\n        isNotConditional = true;\n    }\n}\nmsg.payload = result;\nmsg.notcondition = notcondition;\nmsg.isNotConditional = isNotConditional;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["aedc1475.eaeb58","401d56b1.54f808"]]},{"id":"2bfabc52.365d44","type":"switch","z":"3325b6a0.ddf4c2","name":"","property":"load","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":624,"y":236,"wires":[["a75f7403.0f4958"]]},{"id":"3769e0e.20ba9a","type":"serial in","z":"3325b6a0.ddf4c2","name":"","serial":"695b2143.fd9518","x":107,"y":279,"wires":[["293bb9b8.6d30ce","aea523ec.34976"]]},{"id":"aea523ec.34976","type":"debug","z":"3325b6a0.ddf4c2","name":"barkode","active":true,"console":"true","complete":"payload","x":302,"y":313,"wires":[]},{"id":"603bc983.933378","type":"debug","z":"3325b6a0.ddf4c2","name":"","active":true,"console":"false","complete":"true","x":332,"y":91,"wires":[]},{"id":"7e9d2d29.7d30ac","type":"debug","z":"3325b6a0.ddf4c2","name":"","active":true,"console":"false","complete":"true","x":434,"y":22,"wires":[]},{"id":"2b8a0f22.502b","type":"debug","z":"cccbdaf9.c3196","name":"","active":true,"console":"false","complete":"true","x":855,"y":346,"wires":[]},{"id":"b4fac856.f7da88","type":"inject","z":"3325b6a0.ddf4c2","name":"","topic":"","payload":"123 ","payloadType":"str","repeat":"","crontab":"","once":false,"x":268,"y":242,"wires":[["293bb9b8.6d30ce"]]},{"id":"1d288bf.2e502f4","type":"inject","z":"3325b6a0.ddf4c2","name":"","topic":"","payload":"parseQA","payloadType":"flow","repeat":"","crontab":"","once":false,"x":93,"y":488,"wires":[["e4b536c0.f3a438","cbedec0f.e0039"]]},{"id":"e4b536c0.f3a438","type":"debug","z":"3325b6a0.ddf4c2","name":"","active":true,"console":"false","complete":"false","x":472,"y":483,"wires":[]},{"id":"cbedec0f.e0039","type":"json","z":"3325b6a0.ddf4c2","name":"","x":271,"y":529,"wires":[["e4b536c0.f3a438"]]},{"id":"a4d8c66b.287e58","type":"debug","z":"3325b6a0.ddf4c2","name":"1c","active":true,"console":"true","complete":"payload","x":545,"y":313,"wires":[]},{"id":"f02767c7.ae8cf","type":"function","z":"3325b6a0.ddf4c2","name":"","func":"msg.payload = {\n    msg:\"\" + msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":122,"y":136,"wires":[["a1089ea1.c75268"]]},{"id":"a1089ea1.c75268","type":"json","z":"3325b6a0.ddf4c2","name":"","x":245,"y":134,"wires":[["8be0f171.ff225"]]},{"id":"8be0f171.ff225","type":"debug","z":"3325b6a0.ddf4c2","name":"Analysis wihout parse","active":true,"console":"true","complete":"payload","x":433,"y":134,"wires":[]},{"id":"3a34fe37.08c3fa","type":"json","z":"3325b6a0.ddf4c2","name":"","x":634,"y":115,"wires":[["75f54bb9.345764"]]},{"id":"75f54bb9.345764","type":"debug","z":"3325b6a0.ddf4c2","name":"Analysis","active":true,"console":"true","complete":"payload","x":787,"y":117,"wires":[]}]
