Kysto_AGRO/analizatoru/roshosha.js
[{"id":"73f7ec54.02071c","type":"tab","label":"Infratek Ðîñîøà"},{"id":"86b7bbea.fd446","type":"tab","label":"processing_sñelya"},{"id":"44e59cad.470394","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"false","out":"time","addchar":false},{"id":"ee61a63f.54a628","type":"tcp in","z":"73f7ec54.02071c","name":"","server":"server","host":"","port":"4003","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":60,"wires":[["5086103f.f25508"]]},{"id":"5086103f.f25508","type":"function","z":"73f7ec54.02071c","name":"set last Analys","func":"flow.set('lastAnalys',msg.payload);\nflow.set('barcode',\"\");\nglobal.set('device_id','6c01d820-29dd-cfb3-ec30-5a231f019000');\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["d07907d5.aa169"]]},{"id":"bffbe528.4ab1e8","type":"http in","z":"73f7ec54.02071c","name":"","url":"/getQuality2","method":"get","swaggerDoc":"","x":140,"y":120,"wires":[["bad5fe04.63d94"]]},{"id":"cf49fdc6.b876","type":"http response","z":"73f7ec54.02071c","name":"","x":630,"y":120,"wires":[]},{"id":"bad5fe04.63d94","type":"function","z":"73f7ec54.02071c","name":"create response","func":"var load = flow.get('load');\nif (load){\n    msg.payload = flow.get('parseQA');    \n    msg.load = true;\n}else{\n    msg.payload = {};\n    msg.load = false;\n}\nmsg.payload.barcode = flow.get('barcode');\nflow.set(\"load\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["cf49fdc6.b876","27c31a54.805d86"]]},{"id":"d07907d5.aa169","type":"function","z":"73f7ec54.02071c","name":"parse quality","func":"var result = {\n    localdate:new Date()\n};\n\nvar sdata = msg.payload;\nvar arr_sdata = sdata.split('\\n');\n\nresult.length = arr_sdata.length;\n\n//Ambient Temperature\nvar ambietTemperature = arr_sdata[7];\nvar arr_ambietTemperature = ambietTemperature.split(\":\");\nresult.ambietTemperature = arr_ambietTemperature[1];\n\n//Analysis Counter\nvar analysisCounter = arr_sdata[8];\nvar arr_analysisCounter = analysisCounter.split(\":\");\nresult.analysisCounter = arr_analysisCounter[1];\n\n//Sub sample\nvar subSample = arr_sdata[11];\nvar arr_subSample = subSample.split(\":\");\nvar arr_subSample_1 = arr_subSample[0].split(\"     \");\n\nresult.subsample = {\n   id : arr_subSample[0].replace(\"NrOFSubSamples\",\"\"),\n   NrOFSubSamples : arr_subSample[1]\n}\n\n//Sample hash\nvar sampleHash = arr_sdata[13];\nresult.sampleHash = sampleHash;\n\n//read quailities \nvar startQ  = 14;\nvar qLength = 7;\nvar endStr  = \"#\";\n\nvar qualities = [];\n\nfor( var i = startQ; i <= arr_sdata.length-qLength; ){\n    \n    var q = {\n        id:arr_sdata[i],\n        value:arr_sdata[i+1].split(String.fromCharCode(20)),\n        minmax:arr_sdata[i+4].split(String.fromCharCode(20))\n    }\n    qualities.push(q);   \n    i = i+qLength;\n    \n}\n\nresult.qualities = qualities;\nresult.datahash  = JSON.stringify(result);\n// msg.payload = arr_sdata;\nmsg.payload = result;\nflow.set('parseQA',result);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["8710ee4.f70d41"]]},{"id":"56eb715f.dc01a8","type":"inject","z":"73f7ec54.02071c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":280,"wires":[["57884bf3.6808ec"]]},{"id":"57884bf3.6808ec","type":"function","z":"73f7ec54.02071c","name":"init config","func":"flow.set('load',false);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[[]]},{"id":"90bd0867.15ddf","type":"function","z":"73f7ec54.02071c","name":"read barcode","func":"flow.set(\"barcode\",msg.payload.replace(\"\\r\",\"\"));\nflow.set('load',true);\nmsg.payload = {\n    \"barcode\":msg.payload.replace(\"\\r\",\"\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["fa31f8e1.0e5ae"]]},{"id":"323b896f.a562be","type":"link in","z":"86b7bbea.fd446","name":"quality","links":["8710ee4.f70d41"],"x":35,"y":300,"wires":[["88361bd7.9252d8"]]},{"id":"f01c2f38.9f16b8","type":"http request","z":"86b7bbea.fd446","name":"EVENTS","method":"POST","ret":"txt","url":"","tls":"","x":920,"y":300,"wires":[[]]},{"id":"e965f101.b41c88","type":"function","z":"86b7bbea.fd446","name":"events payload","func":"var event_id = msg.event_id;\nvar device_id = global.get('device_id');\n\n\nmsg.payload = {\n    'event':{\n        'id':msg.event_id\n    },\n    'devices':[{'id':device_id}],\n    'data':msg.metadata,\n    'description':msg.description\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\"\n}\n\nmsg.url = flow.get('main_host')+flow.get('event_url');\nmsg.main_host = flow.get('main_host');\nmsg.event_url = flow.get('event_url');\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["f01c2f38.9f16b8"]]},{"id":"be89335.0fc9c5","type":"inject","z":"86b7bbea.fd446","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":460,"wires":[["a542fcf4.3c4608"]]},{"id":"a542fcf4.3c4608","type":"function","z":"86b7bbea.fd446","name":"check scale health","func":"// var lastcheckHealth = flow.get('checkHealth');\n// var checkHealth = null;\n// var lasttimedata = flow.get('lasttimedata');\n\n// var currenttimedata = new Date();\n\n// if ((currenttimedata - lasttimedata) > 3000){\n//     checkHealth = false;\n// } else {\n//     checkHealth = true;\n// }\n\n// flow.set(\"checkHealth\",checkHealth);\n\n// if (lastcheckHealth != checkHealth){\n//     msg.checkHealth = checkHealth;\n// }else{\n//     msg.checkHealth = null;\n// }\nmsg.checkHealth = true;\nmsg.payload     = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["98dcfd64.0f3fd"]]},{"id":"ef0a4cea.a41358","type":"function","z":"86b7bbea.fd446","name":"main config","func":"flow.set('checkHealth',null);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":240,"wires":[[]]},{"id":"ac7b1abf.6236a","type":"inject","z":"86b7bbea.fd446","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":220,"wires":[["dad023fc.7ba46","ef0a4cea.a41358"]]},{"id":"25b72815.dd30f","type":"http request","z":"86b7bbea.fd446","name":"STATE","method":"POST","ret":"txt","url":"","tls":"","x":610,"y":460,"wires":[["8b5367ae.1c5a08"]]},{"id":"98dcfd64.0f3fd","type":"function","z":"86b7bbea.fd446","name":"device state","func":"msg.payload = {\n    \"state\":msg.payload\n}\nmsg.headers = {\n    \"content-type\":\"application/json\"\n}\nmsg.url = flow.get('main_host')+flow.get('state_url')+\"?id=\"+global.get(\"scale_id\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["25b72815.dd30f"]]},{"id":"598796d5.40ff18","type":"function","z":"86b7bbea.fd446","name":"device config","func":"var device_config = JSON.parse(msg.payload);\n\nflow.set('event_make_quality_id',device_config.event_make_quality_id);\nflow.set('event_read_barcode_id',device_config.event_read_barcode_id);\nflow.set('event_send_to_accsystem_id',device_config.event_send_to_accsystem_id);\nflow.set('event_no_conditional',device_config.event_no_conditional);\nflow.set('main_host',device_config.main_host);\nflow.set('event_url',device_config.event_url);\nflow.set('state_url',device_config.state_url);\nflow.set('snapshot_url',device_config.snapshot_url);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["c2203e5b.314518"]]},{"id":"d23ac9d7.9aac58","type":"http in","z":"86b7bbea.fd446","name":"","url":"/firmware","method":"post","swaggerDoc":"","x":140,"y":160,"wires":[["d284fe78.b93a98"]]},{"id":"d284fe78.b93a98","type":"file","z":"86b7bbea.fd446","name":"deivce_config","filename":"deivce_config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":380,"y":160,"wires":[]},{"id":"dad023fc.7ba46","type":"file in","z":"86b7bbea.fd446","name":"deivce_config","filename":"deivce_config.json","format":"utf8","x":380,"y":200,"wires":[["598796d5.40ff18"]]},{"id":"a4a9d78e.4d781","type":"http in","z":"86b7bbea.fd446","name":"","url":"/serial","method":"get","swaggerDoc":"","x":120,"y":40,"wires":[["c753c1ee.48c3b8"]]},{"id":"c753c1ee.48c3b8","type":"exec","z":"86b7bbea.fd446","command":"cat /proc/cpuinfo","addpay":true,"append":"| grep Serial","useSpawn":"","timer":"5","name":"","x":350,"y":40,"wires":[["cc933cee.020bd8","e646eb7.9a58498"],[],[]]},{"id":"cc933cee.020bd8","type":"http response","z":"86b7bbea.fd446","name":"","x":550,"y":20,"wires":[]},{"id":"e646eb7.9a58498","type":"function","z":"86b7bbea.fd446","name":"","func":"msg.payload = msg.payload.split(':')[1].replace('\\n','').replace(' ','');\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["c90dca1c.bf95"]]},{"id":"c90dca1c.bf95","type":"debug","z":"86b7bbea.fd446","name":"","active":false,"console":"false","complete":"false","x":680,"y":100,"wires":[]},{"id":"cfb9270f.a8f348","type":"inject","z":"86b7bbea.fd446","name":"DEMO","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":100,"wires":[["1666505b.8b309"]]},{"id":"1666505b.8b309","type":"function","z":"86b7bbea.fd446","name":"DEMO Data","func":"var device_config = {\n    'event_make_quality_id':'8B9482814EDB2FC9E055000000000001',\n    'event_read_barcode_id':'8B9482814EDC2FC9E055000000000001',\n    'event_send_to_accsystem_id':'8B9482814EDD2FC9E055000000000001',\n    'event_no_conditional':'8C4D78A0466C7B36E055000000000001',\n    'main_host':'http://skelya.prncp.org/ords/ettn',\n    'event_url':'/iot_cli/events/log',\n    'state_url':'/iot_cli/device',\n    'snapshot_url':'/iot_cli/events/snapshot'\n}\nmsg.payload = device_config;\n// flow.set('scale_id','80096CB0EFD83B63E0533300000A4334');\n// flow.set('event_move_in_id','80096D9ABE7F68F3E0533300000A6C0D');\n// flow.set('event_move_out_id','80096D9ABE8068F3E0533300000A6C0D');\n// flow.set('event_max_weight_id','85A255F950F9BEF4E0533300000AC45D');\n// flow.set('event_off_id','85A2CC4570292DD1E0533300000A0C94');\n// flow.set('event_on_id', '85A2CC45702A2DD1E0533300000A0C94');\n// flow.set('event_max_duration','8642EE858DE89BAAE0533300000AFCC7');\n// flow.set('main_host','http://prod.apex.rest/ords/ettn');\n// flow.set('event_url','/iot_cli/events/log');\n// flow.set('state_url','/v1/device');\n// flow.set('maxWeight',40000);\n// flow.set('maxDuration',20000);\n// flow.set('checkHealthTimeout',3000);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["d284fe78.b93a98"]]},{"id":"ce3d4e07.87bb7","type":"function","z":"86b7bbea.fd446","name":"send quality","func":"msg.event_id = flow.get('event_make_quality_id');\nmsg.description = 'Îòðèìàëè ÿê³ñòü ³ç àíàë³çàòîðó. Íîìåð àíàë³çó: ' + msg.payload.analysisCounter+\". Êàë³áðîâêà \"+msg.payload.subsample_id;\nmsg.metadata = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["e965f101.b41c88"]]},{"id":"8b5367ae.1c5a08","type":"debug","z":"86b7bbea.fd446","name":"","active":false,"console":"false","complete":"false","x":750,"y":460,"wires":[]},{"id":"c2203e5b.314518","type":"debug","z":"86b7bbea.fd446","name":"","active":false,"console":"false","complete":"payload","x":750,"y":200,"wires":[]},{"id":"5dc1fd5e.9cad3c","type":"link in","z":"86b7bbea.fd446","name":"barcode","links":["fa31f8e1.0e5ae"],"x":35,"y":340,"wires":[["cab4c263.7e8f18"]]},{"id":"cab4c263.7e8f18","type":"function","z":"86b7bbea.fd446","name":"read barcode","func":"msg.event_id = flow.get('event_read_barcode_id');\nmsg.description = 'Ç÷èòóâàííÿ øòðèõ-êîäó: ' + msg.payload.barcode;\nmsg.metadata = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["e965f101.b41c88"]]},{"id":"3ff9f506.4d0a62","type":"function","z":"86b7bbea.fd446","name":"send to 1c","func":"msg.event_id = flow.get('event_send_to_accsystem_id');\nmsg.description = 'Îòðèìàííÿ àíàë³çó â 1Ñ: ' + msg.payload.barcode;\nmsg.metadata = {\n    'barcode':msg.payload.barcode\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["e965f101.b41c88"]]},{"id":"c6cdb99d.cbaae","type":"link in","z":"86b7bbea.fd446","name":"1c","links":["913be140.7d1cc8"],"x":35,"y":380,"wires":[["3ff9f506.4d0a62"]]},{"id":"8710ee4.f70d41","type":"link out","z":"73f7ec54.02071c","name":"get quality throw tcp","links":["323b896f.a562be"],"x":775,"y":60,"wires":[]},{"id":"913be140.7d1cc8","type":"link out","z":"73f7ec54.02071c","name":"1c request","links":["c6cdb99d.cbaae"],"x":735,"y":160,"wires":[]},{"id":"fa31f8e1.0e5ae","type":"link out","z":"73f7ec54.02071c","name":"read barcode","links":["5dc1fd5e.9cad3c"],"x":435,"y":200,"wires":[]},{"id":"c5f0a8b4.a0abe8","type":"switch","z":"86b7bbea.fd446","name":"","property":"isNotConditional","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":410,"y":400,"wires":[["591c222f.3804ac"]]},{"id":"591c222f.3804ac","type":"function","z":"86b7bbea.fd446","name":"send quality","func":"msg.event_id = flow.get('event_no_conditional');\nmsg.description = 'Íåêîäèíö³éíÿ ÿê³ñòü. Íîìåð àíàë³çó ' + msg.payload.analysisCounter;\n\nvar payload = {};\nfor (var i = 0; i < msg.notcondition.length; i++){\n    payload = msg.notcondition[i];  \n}\nmsg.metadata = payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["e965f101.b41c88","fbe66ec8.1a9238"]]},{"id":"fbe66ec8.1a9238","type":"debug","z":"86b7bbea.fd446","name":"","active":false,"console":"false","complete":"true","x":760,"y":400,"wires":[]},{"id":"88361bd7.9252d8","type":"function","z":"86b7bbea.fd446","name":"parse result","func":"var p = msg.payload;\n\nvar result = {\n    \"ambietTemperature\":p.ambietTemperature,\n    \"analysisCounter\":p.analysisCounter,\n    \"subsample_id\":p.subsample.id,\n    \"subsample_NrOFSubSamples\":p.subsample.NrOFSubSamples,\n    \"sampleHash\":p.sampleHash\n};\nvar notcondition = [];\nvar isNotConditional = false;\n\nfor (var i = 0; i < p.qualities.length; i++){\n    \n    var valueid = p.qualities[i].id.replace(\" \",\"\"); \n    var temp_value_name = p.qualities[i].value[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value = parseFloat(p.qualities[i].value[0].match(/\\d+.\\d+/g));\n    result[temp_value_name] = temp_value;\n    \n    var temp_value_min_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value_min = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[0]);\n    // result[temp_value_name+\"_\"+temp_value_min_name] = temp_value_min;\n    \n    var temp_value_max_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[1];\n    var temp_value_max = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[1]);\n    // result[temp_value_name+\"_\"+temp_value_max_name] = temp_value_max;\n    \n    if ((temp_value>temp_value_max) || (temp_value<temp_value_min)){\n        notcondition.push({\n            [temp_value_name]:temp_value,\n            [temp_value_min_name]:temp_value_min,\n            [temp_value_max_name]:temp_value_max\n        });\n        isNotConditional = true;\n    }\n}\nmsg.payload = result;\nmsg.notcondition = notcondition;\nmsg.isNotConditional = isNotConditional;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["ce3d4e07.87bb7","c5f0a8b4.a0abe8"]]},{"id":"27c31a54.805d86","type":"switch","z":"73f7ec54.02071c","name":"","property":"load","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":630,"y":160,"wires":[["913be140.7d1cc8"]]},{"id":"d61337d6.c8c9a8","type":"serial in","z":"73f7ec54.02071c","name":"","serial":"44e59cad.470394","x":115,"y":193,"wires":[["90bd0867.15ddf","d896b43.b90dac8"]]},{"id":"d896b43.b90dac8","type":"debug","z":"73f7ec54.02071c","name":"","active":true,"console":"false","complete":"true","x":288,"y":237,"wires":[]}]
