Skelya/Agro_region/172.16.9.192.js
[
    {
        "id": "0bc2226584652c89",
        "type": "tab",
        "label": "Завальна яма 3 (new)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f221f996621bf70",
        "type": "tab",
        "label": "CARD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b41289ad69477f1",
        "type": "tab",
        "label": "Шлагбаум",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a21c7d12624fa5bd",
        "type": "tab",
        "label": "Світлофори",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c38cb5b08722655c",
        "type": "tab",
        "label": "Екран",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "876c14bfc5b90235",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18b3c137.7408a7",
        "type": "tab",
        "label": "jd  3 платформи",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aacdf143dc2db16a",
        "type": "tab",
        "label": "jd  2 платформи",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5fc2ebbc60840936",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "67b282b525f9fa54",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8802b36fb32ba5be",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "3f05b7c4137ac6b3",
        "type": "ui_group",
        "name": "Weight",
        "tab": "fa890cb01fe3b58c",
        "order": 1,
        "disp": false,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa890cb01fe3b58c",
        "type": "ui_tab",
        "name": "AgroRegion1",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fdfadbc.97ddc2",
        "type": "ui_group",
        "name": "Дані з вагопроцесора",
        "tab": "6c1b24c7.6c19d4",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "6c1b24c7.6c19d4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "ef05d164a14ed7ee",
        "type": "comment",
        "z": "0bc2226584652c89",
        "name": "",
        "info": "Завальна яма 3(нова): Екран - 192, зчитувач: 191,190,189. \nЗавальна яма 2 (стара): екран -196, зчитувач: 195,194,193. \nЗагрузка: екран- 188, зчитувач: 208,209,187",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd65df4c2baf6aad",
        "type": "tcp in",
        "z": "8f221f996621bf70",
        "name": "",
        "server": "client",
        "host": "172.16.9.191",
        "port": "9761",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "b8ced80273f5fd68",
                "98843298f354bb35"
            ]
        ]
    },
    {
        "id": "2eb5bb6126de0be7",
        "type": "debug",
        "z": "8f221f996621bf70",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "703acbaa9495683b",
        "type": "comment",
        "z": "8f221f996621bf70",
        "name": "Зчитувач",
        "info": "3C 00 48 B6 8A",
        "x": 100,
        "y": 140,
        "wires": []
    },
    {
        "id": "b8ced80273f5fd68",
        "type": "function",
        "z": "8f221f996621bf70",
        "name": "function 2",
        "func": "var tmp = flow.get(\"card\")\n\nfor(let el of msg.payload){\n    tmp.push(el)\n}\nflow.set(\"card\", tmp)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "6c85933ed5294c73"
            ]
        ]
    },
    {
        "id": "6c85933ed5294c73",
        "type": "trigger",
        "z": "8f221f996621bf70",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "ff1e0883037b82fa"
            ]
        ]
    },
    {
        "id": "731171307e215b27",
        "type": "inject",
        "z": "8f221f996621bf70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "0bb40e0a4b7ca4fc"
            ]
        ]
    },
    {
        "id": "0bb40e0a4b7ca4fc",
        "type": "function",
        "z": "8f221f996621bf70",
        "name": "init",
        "func": "flow.set(\"card\", [])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ff1e0883037b82fa",
        "type": "function",
        "z": "8f221f996621bf70",
        "name": "function 3",
        "func": "var tmp = flow.get(\"card\")\nvar newTmp = []\nfor (let el of tmp) {\n    let elCard = el.toString(\"16\")\n    if (elCard === \"0\") {\n        newTmp.push(\"00\")\n    } else {\n        newTmp.push(el.toString(\"16\"))\n    }\n\n}\nmsg.payload = newTmp.join(\"\")\nconst decimalValue = parseInt(msg.payload, 16);\nmsg.payload = decimalValue\nflow.set(\"card\", [])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 180,
        "wires": [
            [
                "2eb5bb6126de0be7",
                "c1d94071c156f84f"
            ]
        ]
    },
    {
        "id": "98843298f354bb35",
        "type": "debug",
        "z": "8f221f996621bf70",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "c1d94071c156f84f",
        "type": "function",
        "z": "8f221f996621bf70",
        "name": "в 1С выдправка",
        "func": "msg.payload = {\n    \"procname\": \"EventCard\",\n    \"cardnumber\": msg.payload,\n    \"control_point_num\": 21,\n    \"clockseconds\": Date.now()\n}\nmsg.url = global.get(\"url1C\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "6d3315ef144ac017",
                "9db5fe1e8cc70463"
            ]
        ]
    },
    {
        "id": "6d3315ef144ac017",
        "type": "http request",
        "z": "8f221f996621bf70",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.16.9.7/bc/hs/elevator",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "da0894534398d724"
            ]
        ]
    },
    {
        "id": "da0894534398d724",
        "type": "debug",
        "z": "8f221f996621bf70",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f5850c634a72f72",
        "type": "inject",
        "z": "8f221f996621bf70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8760977",
        "payloadType": "str",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "c1d94071c156f84f"
            ]
        ]
    },
    {
        "id": "9a4ac7f9749d4f32",
        "type": "comment",
        "z": "8f221f996621bf70",
        "name": "ынфо",
        "info": "http://172.16.9.7/bc/hs/agb\n\nbasic auth\n\nusername: AGB\n\n\npassword: 12345",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "9db5fe1e8cc70463",
        "type": "debug",
        "z": "8f221f996621bf70",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "4a0a82c4a1e9a734",
        "type": "inject",
        "z": "8f221f996621bf70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8711111",
        "payloadType": "str",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "c1d94071c156f84f"
            ]
        ]
    },
    {
        "id": "2731460c75dc6def",
        "type": "inject",
        "z": "8f221f996621bf70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1234567",
        "payloadType": "str",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "c1d94071c156f84f"
            ]
        ]
    },
    {
        "id": "8fb4b6d52b451349",
        "type": "inject",
        "z": "8f221f996621bf70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8760977",
        "payloadType": "str",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "c1d94071c156f84f"
            ]
        ]
    },
    {
        "id": "727cb712a9128158",
        "type": "comment",
        "z": "8f221f996621bf70",
        "name": "",
        "info": "0300866665\n\n9600 [ 0 ] [ 134, 102 ] [ 101 ]\n19200 [ 0 ] [ 120, 120 ] [ 102, 120 ]\n115200 [ 0 ] [ 0, 0, 0, 0 ] [ 0, 0, 0, 0, 0 ]\n38400 [ 0 ] [ 128, 0, 128 ] [ 128, 120, 120, 248 ]",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "5f3f4babeecc0185",
        "type": "debug",
        "z": "8f221f996621bf70",
        "name": "debug 93",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "6ab1251038328007",
        "type": "http request",
        "z": "5b41289ad69477f1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://admin:vkmodule@172.16.9.190/protect/status.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "eb57eab117e82099",
                "025547e0e366ae0c"
            ]
        ]
    },
    {
        "id": "eb57eab117e82099",
        "type": "xml",
        "z": "5b41289ad69477f1",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "6c5f2a955cb82212",
                "edbe86c03cb66c9b"
            ]
        ]
    },
    {
        "id": "53933d2cf67da69c",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "Socket 2 status",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "05c461a425fed6fd",
        "type": "inject",
        "z": "5b41289ad69477f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "6ab1251038328007"
            ]
        ]
    },
    {
        "id": "4189ddd13b9397fb",
        "type": "http in",
        "z": "5b41289ad69477f1",
        "name": "",
        "url": "/status/gate",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "6ab1251038328007",
                "82e875a479f2f30e"
            ]
        ]
    },
    {
        "id": "b74ebc48c407ec51",
        "type": "debug",
        "z": "5b41289ad69477f1",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "6c5f2a955cb82212",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event",
        "func": "let closed = msg.payload.response.btn0[0]\nif ('dn' === closed){\n    closed = false\n}\nmsg.payload = {\n    \"procname\": \"MagneticLoop\",\n    \"control_point_num\": 22,\n    \"clockseconds\": Date.now(),\n    \"closed\": closed // true = э машина; false -немаэ машини\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "b74ebc48c407ec51",
                "4cb8242b94af8852"
            ]
        ]
    },
    {
        "id": "4cb8242b94af8852",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a878d0507c6dada",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "Socket 2 шлагбаум open/close",
        "info": "",
        "x": 190,
        "y": 380,
        "wires": []
    },
    {
        "id": "d216a44f94311705",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "url",
        "func": "msg.url = 'http://admin:vkmodule@172.16.9.190/protect/leds.cgi?led=1&timeout=2'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "9a4a9e5db5900d31"
            ]
        ]
    },
    {
        "id": "86fa2ad0bb51b8cb",
        "type": "http in",
        "z": "5b41289ad69477f1",
        "name": "",
        "url": "/gate/barrier",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "d5dc6602ca42f756",
                "d216a44f94311705"
            ]
        ]
    },
    {
        "id": "790d205c77424103",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a4a9e5db5900d31",
        "type": "http request",
        "z": "5b41289ad69477f1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 440,
        "wires": [
            [
                "132f25ac7289113e",
                "1c19aec479bb81d6"
            ]
        ]
    },
    {
        "id": "f9973cba42fde219",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "edbe86c03cb66c9b",
        "type": "debug",
        "z": "5b41289ad69477f1",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "132f25ac7289113e",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event",
        "func": "msg.payload = {\n    \"procname\": \"Barrier\",\n    \"control_point_num\": 22,\n    \"clockseconds\": Date.now()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 440,
        "wires": [
            [
                "f9973cba42fde219"
            ]
        ]
    },
    {
        "id": "d5dc6602ca42f756",
        "type": "trigger",
        "z": "5b41289ad69477f1",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "2a69867981dde1e6"
            ]
        ]
    },
    {
        "id": "1c19aec479bb81d6",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "reset",
        "func": "if (msg.statusCode == 200){\n    msg.reset = true\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 480,
        "wires": [
            [
                "d5dc6602ca42f756"
            ]
        ]
    },
    {
        "id": "11b5738f1e068f5a",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 540,
        "wires": []
    },
    {
        "id": "2a69867981dde1e6",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event",
        "func": "msg.payload = {\n    \"procname\": \"Barrier\",\n    \"control_point_num\": 22,\n    \"clockseconds\": Date.now()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 540,
        "wires": [
            [
                "11b5738f1e068f5a"
            ]
        ]
    },
    {
        "id": "82e875a479f2f30e",
        "type": "trigger",
        "z": "5b41289ad69477f1",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "a1ec343dd39e1f94"
            ]
        ]
    },
    {
        "id": "025547e0e366ae0c",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "reset",
        "func": "if (msg.statusCode == 200){\n    msg.reset = true\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "82e875a479f2f30e"
            ]
        ]
    },
    {
        "id": "44f549c96356d258",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1ec343dd39e1f94",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event",
        "func": "msg.payload = {\n    \"procname\": \"MagneticLoop\",\n    \"control_point_num\": 22,\n    \"clockseconds\": Date.now(),\n    \"closed\": true // true = э машина; false -немаэ машини\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "44f549c96356d258"
            ]
        ]
    },
    {
        "id": "817254a390f00fa1",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event test",
        "func": "msg.payload = {\n    \"procname\": \"Barrier\",\n    \"control_point_num\": 1,\n    \"clockseconds\": Date.now()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "790d205c77424103"
            ]
        ]
    },
    {
        "id": "167443805a8090d8",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "Socket 2 шлагбаум status open/close",
        "info": "",
        "x": 210,
        "y": 640,
        "wires": []
    },
    {
        "id": "ebb3daabb719481d",
        "type": "http in",
        "z": "5b41289ad69477f1",
        "name": "",
        "url": "/gate/barrier/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "a0de1adc71a7812f"
            ]
        ]
    },
    {
        "id": "c4337b79e2ce726d",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "ab1abd7cfe88b529",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "f5b60ea989875ae2",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event",
        "func": "msg.payload = {\n    \"procname\": \"Barrier\",\n    \"control_point_num\": 1,\n    \"clockseconds\": Date.now(),\n    \"open\": false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 640,
        "wires": [
            [
                "ab1abd7cfe88b529"
            ]
        ]
    },
    {
        "id": "6d896f49e42ed8d1",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "2349a58799ce55b8",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event",
        "func": "msg.payload = {\n    \"procname\": \"Barrier\",\n    \"control_point_num\": 1,\n    \"clockseconds\": Date.now(),\n    \"open\": false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "6d896f49e42ed8d1"
            ]
        ]
    },
    {
        "id": "a0de1adc71a7812f",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "event test",
        "func": "msg.payload = {\n    \"procname\": \"Barrier\",\n    \"control_point_num\": 22,\n    \"clockseconds\": Date.now(),\n    \"open\": false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 680,
        "wires": [
            [
                "c4337b79e2ce726d"
            ]
        ]
    },
    {
        "id": "a34b20bcef368b17",
        "type": "inject",
        "z": "5b41289ad69477f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "d216a44f94311705"
            ]
        ]
    },
    {
        "id": "13d365223df95feb",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "Socket 2",
        "info": "",
        "x": 120,
        "y": 840,
        "wires": []
    },
    {
        "id": "160f47fecb4be8ec",
        "type": "tcp in",
        "z": "5b41289ad69477f1",
        "name": "172.16.9.190",
        "server": "server",
        "host": "172.16.9.247",
        "port": "9762",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "a6b3949710f6b823",
                "24aef9e4cbc4a40a",
                "841b00660a702df3"
            ]
        ]
    },
    {
        "id": "c096e24b1f8d3ed7",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "Подыъ з оптопар",
        "info": "",
        "x": 290,
        "y": 840,
        "wires": []
    },
    {
        "id": "a6b3949710f6b823",
        "type": "debug",
        "z": "5b41289ad69477f1",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "24aef9e4cbc4a40a",
        "type": "tcp out",
        "z": "5b41289ad69477f1",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 270,
        "y": 960,
        "wires": []
    },
    {
        "id": "841b00660a702df3",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "в 1С выдправка",
        "func": "var inDate = msg.payload\n\nif (inDate.length == 3) {\n    var closed = false\n    // ID события - 0x21(3310)\n    // Назначение: Смена состояния цифрового входа.\n    //     Данные: 0 Байт Номер входа(0...1)\n    // 1 Байт 0–Замкнут; 1–Разомкнут;\n    if (inDate[0] == 33 && inDate[1] === 0) {\n        closed = (inDate[2] == 1) ? true : false\n        msg.payload = {\n            \"procname\": \"OpticalLoop\",\n            \"control_point_num\": 25,\n            \"clockseconds\": Date.now(),\n            \"closed\": closed\n        }\n        msg.url = global.get(\"url1C\")\n        return msg;\n    }\n}\n\n\n\nif (inDate.length == 4) {\n    var closed = false\n    // ID события - 0x21(3310)\n    // Назначение: Смена состояния цифрового входа.\n    //     Данные: 0 Байт Номер входа(0...1)\n    // 1 Байт 0–Замкнут; 1–Разомкнут;\n    if (inDate[1] == 33 && inDate[2] === 0) {\n        closed = (inDate[3] == 1) ? true : false\n        msg.payload = {\n            \"procname\": \"OpticalLoop\",\n            \"control_point_num\": 25,\n            \"clockseconds\": Date.now(),\n            \"closed\": closed\n        }\n        msg.url = global.get(\"url1C\")\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 900,
        "wires": [
            [
                "9942a9515e08b14f"
            ]
        ]
    },
    {
        "id": "76abb24434c34e0d",
        "type": "http request",
        "z": "5b41289ad69477f1",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.9.7/bc/hs/agb",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 900,
        "wires": [
            [
                "0acf5f288749c2e2"
            ]
        ]
    },
    {
        "id": "9942a9515e08b14f",
        "type": "delay",
        "z": "5b41289ad69477f1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 900,
        "wires": [
            [
                "76abb24434c34e0d"
            ]
        ]
    },
    {
        "id": "0acf5f288749c2e2",
        "type": "debug",
        "z": "5b41289ad69477f1",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 940,
        "wires": []
    },
    {
        "id": "8a6e76dae6d13b34",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "ынфо",
        "info": "http://172.16.9.7/bc/hs/agb\n\nbasic auth\n\nusername: AGB\n\n\npassword: 12345",
        "x": 870,
        "y": 840,
        "wires": []
    },
    {
        "id": "edd7bbcafd545fce",
        "type": "http request",
        "z": "5b41289ad69477f1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://admin:vkmodule@172.16.9.190/protect/status.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "8779b7b7c160b3a4"
            ]
        ]
    },
    {
        "id": "8779b7b7c160b3a4",
        "type": "xml",
        "z": "5b41289ad69477f1",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "c1ab948dabd96084"
            ]
        ]
    },
    {
        "id": "b7665d6b9caa8fa0",
        "type": "comment",
        "z": "5b41289ad69477f1",
        "name": "Socket 2 status периметра",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "ed04f3adb1c693c2",
        "type": "http in",
        "z": "5b41289ad69477f1",
        "name": "",
        "url": "/status/perimetr",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "edd7bbcafd545fce"
            ]
        ]
    },
    {
        "id": "c1ab948dabd96084",
        "type": "function",
        "z": "5b41289ad69477f1",
        "name": "function 19",
        "func": "let closed = msg.payload.response.btn0[0]\nif ('dn' === closed){\n    closed = false\n}else{\n    closed = true\n}\nmsg.payload = {\n    \"procname\": \"OpticalLoop\",\n    \"control_point_num\": 24,\n    \"clockseconds\": Date.now(),\n    \"closed\": closed // true = э машина; false -немаэ машини\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "8e8273cd8043871c",
                "55fc073e1a0ab984"
            ]
        ]
    },
    {
        "id": "8e8273cd8043871c",
        "type": "http response",
        "z": "5b41289ad69477f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "9bba3885c27e06ed",
        "type": "inject",
        "z": "5b41289ad69477f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "edd7bbcafd545fce"
            ]
        ]
    },
    {
        "id": "55fc073e1a0ab984",
        "type": "debug",
        "z": "5b41289ad69477f1",
        "name": "debug 93",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "7b33887ac932a130",
        "type": "http request",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://admin:vkmodule@172.16.9.241/protect/status.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "3ec97b05a24c6351"
            ]
        ]
    },
    {
        "id": "3ec97b05a24c6351",
        "type": "xml",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "65d914228f87d118",
                "af89986470a47227"
            ]
        ]
    },
    {
        "id": "8d91f4430ca6dc2f",
        "type": "comment",
        "z": "a21c7d12624fa5bd",
        "name": "Socket 2 status світлофорів",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "0c10d8a82db2c184",
        "type": "inject",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "7b33887ac932a130"
            ]
        ]
    },
    {
        "id": "084e0a2d66685f19",
        "type": "http in",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "url": "/status/traffic/lights",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "7b33887ac932a130"
            ]
        ]
    },
    {
        "id": "0d2dd8083a2936bf",
        "type": "debug",
        "z": "a21c7d12624fa5bd",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4eea352b7f27e9a",
        "type": "http response",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "65d914228f87d118",
        "type": "debug",
        "z": "a21c7d12624fa5bd",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "af89986470a47227",
        "type": "function",
        "z": "a21c7d12624fa5bd",
        "name": "function 21",
        "func": "let traffic_lights_1 = msg.payload.response.led0[0]\nlet traffic_lights_2 = msg.payload.response.led1[0]\n\nmsg.payload = {\n    \"procname\": \"OpticalLoop\",\n    \"control_point_num\": 15,\n    \"clockseconds\": Date.now(),\n    \"traffic_lights_1\": (traffic_lights_1 === \"0\") ? false : true,\n    \"traffic_lights_2\": (traffic_lights_2 === \"0\") ? false : true\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 100,
        "wires": [
            [
                "a4eea352b7f27e9a",
                "0d2dd8083a2936bf"
            ]
        ]
    },
    {
        "id": "dddb3535aed8a6d0",
        "type": "http request",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "afcd606bbf783044",
                "b50d6975b8d87561"
            ]
        ]
    },
    {
        "id": "cbee4ed43e692482",
        "type": "comment",
        "z": "a21c7d12624fa5bd",
        "name": "Socket 2 status перемикання світлофора на зелене",
        "info": "",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "4aeaba460d0ae0a4",
        "type": "http in",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "url": "/traffic/on/off",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "423dd59351a6c369"
            ]
        ]
    },
    {
        "id": "5217ba97220add41",
        "type": "debug",
        "z": "a21c7d12624fa5bd",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "5f059dfce4dc7c26",
        "type": "http response",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "afcd606bbf783044",
        "type": "debug",
        "z": "a21c7d12624fa5bd",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "b50d6975b8d87561",
        "type": "function",
        "z": "a21c7d12624fa5bd",
        "name": "function 22",
        "func": "msg.payload = {\n    \"procname\": \"OpticalLoop\",\n    \"control_point_num\": 15,\n    \"clockseconds\": Date.now(),\n    \"traffic_lights_2\": true\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 340,
        "wires": [
            [
                "5f059dfce4dc7c26",
                "5217ba97220add41"
            ]
        ]
    },
    {
        "id": "423dd59351a6c369",
        "type": "function",
        "z": "a21c7d12624fa5bd",
        "name": "function 23",
        "func": "msg.url = \"http://admin:vkmodule@172.16.9.241/protect/leds.cgi?led=1&timeout=30\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "dddb3535aed8a6d0"
            ]
        ]
    },
    {
        "id": "9334b28f16a96b3b",
        "type": "inject",
        "z": "a21c7d12624fa5bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "423dd59351a6c369"
            ]
        ]
    },
    {
        "id": "b37930d1defba379",
        "type": "inject",
        "z": "c38cb5b08722655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "88c2cb5a21127f3f"
            ]
        ]
    },
    {
        "id": "1ad64c8918a96697",
        "type": "debug",
        "z": "c38cb5b08722655c",
        "name": "debug 88",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "69026e6cae799608",
        "type": "ui_template",
        "z": "c38cb5b08722655c",
        "group": "3f05b7c4137ac6b3",
        "name": "",
        "order": 1,
        "width": "22",
        "height": 17,
        "format": "<style>\n    /*\n    .nr-dashboard-template{\n        background-image: url(\"http://192.168.0.40:1880/logo\");\n        color: #fdc400; yelow\n        #000000; black\n    }\n    */\n\n\n\n    .centered-text {\n        position: absolute;\n        top: 150px;\n        left: 5%;\n        transform: translateX(-5%);\n        text-align: center;\n        font-size: 5em;\n        font-weight: bold;\n        color: black;\n\n    }\n\n    .clock {\n        text-align: right;\n        font-size: 16px;\n        font-weight: bold;\n    }\n\n    .pointName-test {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        font-size: 30px;\n        font-weight: bold;\n    }\n\n    .warning {\n        position: absolute;\n        color: red;\n        bottom: 0;\n        left: 0;\n        font-weight: bold;\n        padding: 10px;\n        width: 90%;\n        text-align: center;\n        font-size: 3em;\n        ;\n    }\n\n    .modal {\n        display: none;\n        position: fixed;\n        z-index: 1;\n        left: 0;\n        top: 0;\n        width: 100%;\n        height: 100%;\n        background-color: rgba(0, 0, 0, 0.5);\n    }\n\n    /* Стилі для вікна */\n    .modal-content {\n        background-color: white;\n        padding: 20px;\n        border-radius: 5px;\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        width: 90%;\n        height: 90%;\n        font-size: 3em;\n        font-weight: bold;\n    }\n\n    .text-modal {\n        margin-top: 5%;\n        text-align: center;\n    }\n</style>\n<div>\n    <div class=\"pointName-test\">\n        <p>Контрольна точка: {{msg.point}}</p>\n        <p>{{msg.time}}</p>\n\n        <div class=\"warning\">\n            {{msg.warning}}\n        </div>\n\n        <div id=\"myModal\" class=\"modal\">\n            <div class=\"modal-content\">\n                <div class=\"text-modal\">\n                    {{msg.message}}\n                </div>\n            </div>\n        </div>\n    </div>\n\n\n    <script type=\"text/javascript\">\n        (function(scope) {\n        scope.$watch('msg', function(data) {\n            \n            // Отримуємо модальне вікно\n            var modal = document.getElementById(\"myModal\");\n            \n            // Показуємо модальне вікно\n            if(data.message){\n\n                console.log('msg', data);\n                modal.style.display = \"block\";\n\n                var textElement = document.getElementById(\"myModal\");\n                let colorModal = (data.error) ? 'red': 'rgb(0, 0, 0)'\n                // Змінюємо колір букв за допомогою стилів\n                textElement.style.color =colorModal;\n                \n                // Через 5 секунд закриваємо модальне вікно\n                setTimeout(function() {\n                    modal.style.display = \"none\";\n                }, data.showTime * 1000);\n            }\n           \n        });\n    })(scope);\n\n    </script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 300,
        "wires": [
            [
                "1ad64c8918a96697"
            ]
        ]
    },
    {
        "id": "2a3e9ab3bc2daa8c",
        "type": "function",
        "z": "c38cb5b08722655c",
        "name": "time",
        "func": "flow.set(\"time\", msg.time)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "47abebae838f67ad",
        "type": "function",
        "z": "c38cb5b08722655c",
        "name": "logic",
        "func": "msg.showTime = (msg.payload.showTime) ? msg.payload.showTime : false\nmsg.message = flow.get(\"message1C\")\nmsg.error = (msg.payload.error) ? msg.payload.error : false\n\nmsg.time = flow.get(\"time\")\nmsg.point = flow.get(\"point\")\n\nlet statusOptical = flow.get(\"opticalSensor\")\n\nmsg.warning = (statusOptical) ? \"Неправильне позиціонування авто на вагах\" : \"\"\n\nmsg.payload = flow.get(\"weight\")\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "dc226516989d14d0",
                "69026e6cae799608"
            ]
        ]
    },
    {
        "id": "dc226516989d14d0",
        "type": "debug",
        "z": "c38cb5b08722655c",
        "name": "debug 89",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "5341e5511472da60",
        "type": "http in",
        "z": "c38cb5b08722655c",
        "name": "",
        "url": "/show/info/screen",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "54b8f30b86575239"
            ]
        ]
    },
    {
        "id": "54b8f30b86575239",
        "type": "function",
        "z": "c38cb5b08722655c",
        "name": "message1C",
        "func": "/**\n * message  showTime    error\n */\nflow.set(\"message1C\", msg.payload.message)\nflow.set(\"block\", true)\nmsg.delay = msg.payload.showTime * 1000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "a5b76268766a4cfe",
                "47abebae838f67ad",
                "635928c652c98daa",
                "209462f351337dd9"
            ]
        ]
    },
    {
        "id": "a5b76268766a4cfe",
        "type": "http response",
        "z": "c38cb5b08722655c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2e573b134e7ef18",
        "type": "inject",
        "z": "c38cb5b08722655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Степан Петрович, сідайте в авто і очікуйте на сигнал світлофора\",\"showTime\":10,\"error\":true}",
        "payloadType": "json",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "54b8f30b86575239"
            ]
        ]
    },
    {
        "id": "a730ef28a0f975ee",
        "type": "inject",
        "z": "c38cb5b08722655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "8f5810060a97f005"
            ]
        ]
    },
    {
        "id": "8f5810060a97f005",
        "type": "function",
        "z": "c38cb5b08722655c",
        "name": "init",
        "func": "//flow.set(\"time\", msg.time)\nflow.set(\"point\", 'Завальна яма 3')\nflow.set(\"message1C\", false)\nflow.set(\"block\", false)\nflow.set(\"opticalSensor\", false)\nflow.set(\"weight\", 0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b708656ae2ffd39e",
        "type": "inject",
        "z": "c38cb5b08722655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Степан Петрович, сідайте в авто і очікуйте на сигнал світлофора\",\"showTime\":5,\"error\":false}",
        "payloadType": "json",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "54b8f30b86575239"
            ]
        ]
    },
    {
        "id": "fdc27e53b5feab7b",
        "type": "http in",
        "z": "c38cb5b08722655c",
        "name": "",
        "url": "/logo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "d5cd3635c9437c49"
            ]
        ]
    },
    {
        "id": "9a245518ebd66576",
        "type": "http response",
        "z": "c38cb5b08722655c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "d5cd3635c9437c49",
        "type": "file in",
        "z": "c38cb5b08722655c",
        "name": "",
        "filename": "/home/pi/e71fb16ad3741ac80b936a9889da660a.jpeg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 660,
        "wires": [
            [
                "9a245518ebd66576"
            ]
        ]
    },
    {
        "id": "34166cb8b8d49721",
        "type": "inject",
        "z": "c38cb5b08722655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "fbe3b517c53961db"
            ]
        ]
    },
    {
        "id": "635928c652c98daa",
        "type": "trigger",
        "z": "c38cb5b08722655c",
        "name": "",
        "op1": "",
        "op2": "false",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 660,
        "y": 400,
        "wires": [
            [
                "fec108f9b284363f"
            ]
        ]
    },
    {
        "id": "fec108f9b284363f",
        "type": "function",
        "z": "c38cb5b08722655c",
        "name": "block",
        "func": "/**\n * message  showTime    error\n */\nflow.set(\"message1C\", false)\nflow.set(\"block\", false)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "209462f351337dd9",
        "type": "debug",
        "z": "c38cb5b08722655c",
        "name": "debug 90",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "fbe3b517c53961db",
        "type": "switch",
        "z": "c38cb5b08722655c",
        "name": "",
        "property": "block",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "47abebae838f67ad"
            ]
        ]
    },
    {
        "id": "aaee8e3e20b20af1",
        "type": "inject",
        "z": "c38cb5b08722655c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "opticalSensor",
        "payloadType": "flow",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "24645f584f1f9e45"
            ]
        ]
    },
    {
        "id": "24645f584f1f9e45",
        "type": "debug",
        "z": "c38cb5b08722655c",
        "name": "debug 92",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "88c2cb5a21127f3f",
        "type": "moment",
        "z": "c38cb5b08722655c",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Kiev",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "en-GB",
        "output": "time",
        "outputType": "msg",
        "outTz": "Europe/Kiev",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "2a3e9ab3bc2daa8c"
            ]
        ]
    },
    {
        "id": "289e4e9d.14846a",
        "type": "inject",
        "z": "18b3c137.7408a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "inputString",
        "payloadType": "flow",
        "x": 120,
        "y": 167,
        "wires": [
            [
                "9d45de33.f1e6b",
                "40dc416210aee0c7"
            ]
        ]
    },
    {
        "id": "46e8ed29.b364d4",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "GET WEIGHT",
        "func": "var payload = msg.payload;\nvar parser = flow.get('parser');\nvar currentWeight = parser(payload);\n\nflow.set('currentWeight',currentWeight);\n\nmsg.payload       = currentWeight;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "cae4641b.81833",
                "244277be.9cd278",
                "a2533b6b.0d7b08",
                "d12f3fc4.d3e6c"
            ]
        ]
    },
    {
        "id": "56fea947.f88c5",
        "type": "http in",
        "z": "18b3c137.7408a7",
        "name": "",
        "url": "/jdVesa/getWeight/status",
        "method": "get",
        "swaggerDoc": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "9a41380f.4bec5"
            ]
        ]
    },
    {
        "id": "ea1fdcc5.d3ec88",
        "type": "http in",
        "z": "18b3c137.7408a7",
        "name": "",
        "url": "/jdVesa/getWeight3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "376e7b27.f9657c"
            ]
        ]
    },
    {
        "id": "376e7b27.f9657c",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "FAST WEIGHT",
        "func": "msg.payload = {\n    weight: flow.get('currentWeight'),\n    weight1: flow.get('w1'),\n    weight2: flow.get('w2'),\n    weight3: flow.get('w3'),\n    status:true,\n    stable:true,    \n    perimetr:true\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "f90519c0.c0d45"
            ]
        ]
    },
    {
        "id": "f90519c0.c0d45",
        "type": "http response",
        "z": "18b3c137.7408a7",
        "name": "",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "1b8c2a9e.45636d",
        "type": "comment",
        "z": "18b3c137.7408a7",
        "name": "Device level",
        "info": "",
        "x": 95,
        "y": 123,
        "wires": []
    },
    {
        "id": "1ad6c0c.c5aa23f",
        "type": "comment",
        "z": "18b3c137.7408a7",
        "name": "INTEGRATION LEVEL (API)",
        "info": "",
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb706868.1d87b",
        "type": "switch",
        "z": "18b3c137.7408a7",
        "name": "Logging",
        "property": "log",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 941,
        "y": 242,
        "wires": [
            [
                "67157990.1f25a",
                "18a43b1f.e4a755"
            ]
        ]
    },
    {
        "id": "6c957e92.7a3dd",
        "type": "inject",
        "z": "18b3c137.7408a7",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "init",
        "payloadType": "str",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "e6b665df.e3bbd"
            ]
        ]
    },
    {
        "id": "86656a63.52abb",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "CONFIG",
        "func": "var config;\n\nconfig = {\n    'scale':'avto1',\n    'deltaWeight':250,\n    'sizeOfArrayOfWeights':5,\n    'inaccuracy':60\n}\n \nflow.set('config',config);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "8e9a9cb3.6c409"
            ]
        ]
    },
    {
        "id": "d04f92e4.fc2a4",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 724,
        "y": 81,
        "wires": []
    },
    {
        "id": "7aa4b5d9.4f286c",
        "type": "comment",
        "z": "18b3c137.7408a7",
        "name": "INITIALIZING",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "cae4641b.81833",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "MAKE PAGE",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 751,
        "y": 202,
        "wires": [
            []
        ]
    },
    {
        "id": "7a84b2f5.296e5c",
        "type": "comment",
        "z": "18b3c137.7408a7",
        "name": "TRAFFIC LIGHT",
        "info": "!",
        "x": 900,
        "y": 20,
        "wires": []
    },
    {
        "id": "9a41380f.4bec5",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "STATUSZERO",
        "func": "var UID = msg.req.query.reader;\nvar lastUID = flow.get('lastUID');\nvar zero    = flow.get('zero');\n\nif (UID!==lastUID && !zero) \n{\n    msg.statusZero = false;    \n} else {\n    msg.statusZero = true;\n   flow.set('zero',false);\n   flow.set('lastUID',UID);\n}\n\nmsg.uid = UID; \n\nmsg.payload = zero;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "fb706868.1d87b",
                "dc8b0589.3b6f88"
            ]
        ]
    },
    {
        "id": "67157990.1f25a",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "Logging to table",
        "func": "var table = flow.get('table');\nvar currentWeight = flow.get('currentWeight');\nvar obj = {\n    'datetime': new Date(),\n    'uid': msg.uid,\n    'weight': currentWeight\n};\n\ntable.push(obj);\n\nflow.set('table',table);\nflow.set('lastWeight',currentWeight);\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 300,
        "wires": [
            [
                "288d3f20.8508d8"
            ]
        ]
    },
    {
        "id": "244277be.9cd278",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "LAST WEIGHT",
        "func": "var lastWeight    = flow.get('lastWeight');\nvar currentWeight = flow.get('currentWeight');\nvar deltaWeight   = flow.get('config').deltaWeight;\n\nvar log = 0;\nif ((lastWeight - currentWeight)>deltaWeight || (lastWeight - currentWeight) < -deltaWeight){\n    log = 1;\n} else if( lastWeight!==0 && currentWeight === 0){\n    log = 1;\n} else {\n    log = 0;\n}\n\nif (log){\n    if (currentWeight > lastWeight){\n        flow.set('in',true);\n        flow.set('out',false);\n    }else{\n        flow.set('in',false);\n        flow.set('out',true);\n    } \n}else{\n    flow.set('in',false);\n    flow.set('out',false);\n}\n\nif (currentWeight === 0){\n    flow.set('zero',true);\n} \n\nmsg.log = log;\nmsg.uid = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 242,
        "wires": [
            [
                "fb706868.1d87b"
            ]
        ]
    },
    {
        "id": "dc8b0589.3b6f88",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "MAKE BODY",
        "func": "msg.payload = {\n    weight:flow.get('currentWeight'),\n    status:msg.statusZero,\n    stable:flow.get('stability'),    \n    perimetr:flow.get('perimetrStatus')\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "98666112.816b18"
            ]
        ]
    },
    {
        "id": "98666112.816b18",
        "type": "http response",
        "z": "18b3c137.7408a7",
        "name": "",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "288d3f20.8508d8",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "18a43b1f.e4a755",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "a2533b6b.0d7b08",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 728,
        "y": 142,
        "wires": []
    },
    {
        "id": "d12f3fc4.d3e6c",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "STABLE",
        "func": "var arrayOfWeights       = flow.get('arrayOfWeights');\nvar sizeOfArrayOfWeights = flow.get('config').sizeOfArrayOfWeights;\nvar inaccuracy           = flow.get('config').inaccuracy;\nvar size = arrayOfWeights.length - 1 - sizeOfArrayOfWeights;\n\narrayOfWeights.push(msg.payload);\n\nif (size > 0){\n    \n    flow.set('stability',true);\n    \n    for (var i = 0; i <= sizeOfArrayOfWeights; i++ ){\n        var ai = (arrayOfWeights.length - 1 - i);\n        var bi = (ai - 1);\n        var a = arrayOfWeights[ai];\n        var b = arrayOfWeights[bi];\n        if ((a-b)>inaccuracy || (a-b)<-inaccuracy){\n            flow.set('stability',false);\n            break;\n        }\n    }\n    \n}else {\n    flow.set('stability',false);\n}\n\nflow.set('arrayOfWeights',arrayOfWeights);\n\nmsg.payload = flow.get('stability');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 741,
        "y": 282,
        "wires": [
            []
        ]
    },
    {
        "id": "e6b665df.e3bbd",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "INIT",
        "func": "flow.set('currentWeight',0);\nflow.set('perimetrStatus',0);\nflow.set('stability',true);\nflow.set('zero',false);\nflow.set('lastUID','');\nflow.set('lastWeight',0);\nflow.set('arrayOfWeights',[]);\nflow.set('table',[]);\nflow.set('log',0);\nflow.set('in',false);\nflow.set('out',true);\n  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "86656a63.52abb"
            ]
        ]
    },
    {
        "id": "4118edd0.91b15c",
        "type": "inject",
        "z": "18b3c137.7408a7",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "arrayOfWeights",
        "payloadType": "flow",
        "x": 206,
        "y": 995,
        "wires": [
            [
                "5359b121.86208"
            ]
        ]
    },
    {
        "id": "5359b121.86208",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 406,
        "y": 995,
        "wires": []
    },
    {
        "id": "8e9a9cb3.6c409",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "Модель весов",
        "func": "flow.set('inputString', String.fromCharCode(0x00)); //тут пишем строку, которую шлем в ком порт, при необходимости\nflow.set('parser',function(v){\n        //тут парсим строку, которая приходит с весовго модуля\n\n    var k1_comon = 0;\n    var k2_comon = 0;\n    var k3_comon = 0;\n    var k4_comon = 0;\n    var k5_comon = 0;\n    var k6_comon = 0;\n    //забираєм елементи\n    var k1_h = v[2];\n    var k1_l = v[1];\n\n    var k2_h = v[4];\n    var k2_l = v[3];\n\n    var k3_h = v[6];\n    var k3_l = v[5];\n\n    var k4_h = v[8];\n    var k4_l = v[7];\n\n    var k5_h = v[10];\n    var k5_l = v[9];\n\n    var k6_h = v[12];\n    var k6_l = v[11];\n\n    //зміщення\n    k1_h = k1_h << 8;\n    k2_h = k2_h << 8;\n    k3_h = k3_h << 8;\n    k4_h = k4_h << 8;\n    k5_h = k5_h << 8;\n    k6_h = k6_h << 8;\n    // a | b  \n    k1_comon = k1_h | k1_l;\n    k2_comon = k2_h | k2_l;\n    k3_comon = k3_h | k3_l;\n    k4_comon = k4_h | k4_l;\n    k5_comon = k5_h | k5_l;\n    k6_comon = k6_h | k6_l;\n\n    v = (k1_comon + k2_comon + k3_comon + k4_comon + k5_comon + k6_comon);\n    var w1 = (k1_comon + k2_comon) * 10;\n    var w2 = (k3_comon + k4_comon) * 10;\n    var w3 = (k5_comon + k6_comon) * 10;\n    flow.set('w1', w1);\n    flow.set('w2', w2);\n    flow.set('w3', w3);\n    return Number(v) * 10;\n    //return Number(v);\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 526.8570861816406,
        "y": 79.71429443359375,
        "wires": [
            [
                "d04f92e4.fc2a4"
            ]
        ]
    },
    {
        "id": "bb3323fe.f234b",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 885.5714492797852,
        "y": 1056.999994277954,
        "wires": []
    },
    {
        "id": "45a06911.22e96",
        "type": "ui_text",
        "z": "18b3c137.7408a7",
        "group": "1fdfadbc.97ddc2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Дані з вагопроцесора",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 912.8571853637695,
        "y": 1097.8571968078613,
        "wires": []
    },
    {
        "id": "95969f05.d1f4e",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "",
        "func": "//msg.payload = msg.payload.toString();\nvar v1 = msg.payload[0].toString();\nvar v2 = msg.payload[1].toString();\nvar v3 = msg.payload[2].toString();\nvar v4 = msg.payload[3].toString();\nvar v5 = msg.payload[4].toString();\nvar v6 = msg.payload[5].toString();\nvar v7 = msg.payload[6].toString();\nvar v8 = msg.payload[7].toString();\nvar v9 = msg.payload[8].toString();\nvar v10 = msg.payload[9].toString();\n\nmsg.payload = v1 + \",\" + v2  + \",\" + \n              v3 + \",\" + v4  + \",\" +\n              v5 + \",\" + v6  + \",\" +\n              v7 + \",\" + v8  + \",\" +\n              v9 + \",\" + v10  ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 629,
        "y": 1098,
        "wires": [
            [
                "45a06911.22e96",
                "bb3323fe.f234b"
            ]
        ]
    },
    {
        "id": "a80454d0.b5d888",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "",
        "func": "var in_d = msg.payload;\nvar len = in_d.length;\nvar find_161 = in_d.indexOf(161, 0);\nvar find_171 = in_d.indexOf(171, 0);\n\n\nif(find_161 == 8)\nmsg.payload = find_161;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 631,
        "y": 1056,
        "wires": [
            [
                "3ecafd6f.08e21a"
            ]
        ]
    },
    {
        "id": "3ecafd6f.08e21a",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 879.1428451538086,
        "y": 1022.1428961753845,
        "wires": []
    },
    {
        "id": "3007f982.b8cb26",
        "type": "file",
        "z": "18b3c137.7408a7",
        "name": "",
        "filename": "/log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 973,
        "y": 967,
        "wires": [
            []
        ]
    },
    {
        "id": "b8532a7f.50cfc",
        "type": "file in",
        "z": "18b3c137.7408a7",
        "name": "",
        "filename": "/log.txt",
        "format": "utf8",
        "x": 306,
        "y": 1028,
        "wires": [
            [
                "5359b121.86208",
                "a90f45c3.c6d3d8"
            ]
        ]
    },
    {
        "id": "4523fc22.20defc",
        "type": "inject",
        "z": "18b3c137.7408a7",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 166,
        "y": 1025,
        "wires": [
            [
                "b8532a7f.50cfc"
            ]
        ]
    },
    {
        "id": "e228bb1f.a9b648",
        "type": "function",
        "z": "18b3c137.7408a7",
        "name": "",
        "func": "var v1 = msg.payload[0].toString();\nvar v2 = msg.payload[1].toString();\nvar v3 = msg.payload[2].toString();\nvar v4 = msg.payload[3].toString();\nvar v5 = msg.payload[4].toString();\nvar v6 = msg.payload[5].toString();\nvar v7 = msg.payload[6].toString();\nvar v8 = msg.payload[7].toString();\nvar v9 = msg.payload[8].toString();\nvar v10 = msg.payload[9].toString();\n\nvar in_d = v1 + \",\" + v2  + \",\" + \n              v3 + \",\" + v4  + \",\" +\n              v5 + \",\" + v6  + \",\" +\n              v7 + \",\" + v8  + \",\" +\n              v9 + \",\" + v10  ;\n\n\nmsg.payload = {\n    in_d: in_d.toString(),\n    date: new Date()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 738,
        "y": 965,
        "wires": [
            [
                "cc6b5981.486e78"
            ]
        ]
    },
    {
        "id": "cc6b5981.486e78",
        "type": "json",
        "z": "18b3c137.7408a7",
        "name": "",
        "x": 859,
        "y": 968,
        "wires": [
            [
                "3007f982.b8cb26"
            ]
        ]
    },
    {
        "id": "b75af663.877688",
        "type": "http in",
        "z": "18b3c137.7408a7",
        "name": "",
        "url": "/red/log",
        "method": "get",
        "swaggerDoc": "",
        "x": 173,
        "y": 1069,
        "wires": [
            [
                "b8532a7f.50cfc"
            ]
        ]
    },
    {
        "id": "a90f45c3.c6d3d8",
        "type": "http response",
        "z": "18b3c137.7408a7",
        "name": "",
        "x": 380,
        "y": 1066,
        "wires": []
    },
    {
        "id": "e1600979.656cf8",
        "type": "inject",
        "z": "18b3c137.7408a7",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99,
        "y": 1167,
        "wires": [
            [
                "980679bb.50c5e"
            ]
        ]
    },
    {
        "id": "980679bb.50c5e",
        "type": "file",
        "z": "18b3c137.7408a7",
        "name": "",
        "filename": "/log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 289,
        "y": 1169,
        "wires": [
            []
        ]
    },
    {
        "id": "9d45de33.f1e6b",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 379,
        "y": 129,
        "wires": []
    },
    {
        "id": "bb264aec.2b9188",
        "type": "debug",
        "z": "18b3c137.7408a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "40dc416210aee0c7",
        "type": "tcp request",
        "z": "18b3c137.7408a7",
        "name": "",
        "server": "172.16.9.23",
        "port": "9761",
        "out": "time",
        "ret": "buffer",
        "splitc": "200",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "46e8ed29.b364d4",
                "bb264aec.2b9188"
            ]
        ]
    },
    {
        "id": "be194716c97b7609",
        "type": "inject",
        "z": "aacdf143dc2db16a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "inputString",
        "payloadType": "flow",
        "x": 120,
        "y": 167,
        "wires": [
            [
                "107a2ebf1506d487",
                "f83c51a788b78e3f"
            ]
        ]
    },
    {
        "id": "268a6792f8c2a5d5",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "GET WEIGHT",
        "func": "var payload = msg.payload;\nvar parser = flow.get('parser');\nvar currentWeight = parser(payload);\n\nflow.set('currentWeight',currentWeight);\n\nmsg.payload       = currentWeight;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "6d87cf33d29305e9",
                "ef8ad350232a381b",
                "81ed3e761db6044e",
                "81da0ff7fe4ffc92"
            ]
        ]
    },
    {
        "id": "c51799fd65708709",
        "type": "http in",
        "z": "aacdf143dc2db16a",
        "name": "",
        "url": "/jdVesa/getWeight/status",
        "method": "get",
        "swaggerDoc": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "8a28cf8e9afba62b"
            ]
        ]
    },
    {
        "id": "5919888612cfd1fe",
        "type": "http in",
        "z": "aacdf143dc2db16a",
        "name": "",
        "url": "/jdVesa/getWeight2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "fd37cb9dbf0ff1e7"
            ]
        ]
    },
    {
        "id": "fd37cb9dbf0ff1e7",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "FAST WEIGHT",
        "func": "msg.payload = {\n    weight: flow.get('currentWeight'),\n    weight1: flow.get('w1'),\n    weight2: flow.get('w2'),\n    weight3: 0,\n    status:true,\n    stable:true,    \n    perimetr:true\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "e8b475a29fb0e815"
            ]
        ]
    },
    {
        "id": "e8b475a29fb0e815",
        "type": "http response",
        "z": "aacdf143dc2db16a",
        "name": "",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "4be32f65f4e74c17",
        "type": "comment",
        "z": "aacdf143dc2db16a",
        "name": "Device level",
        "info": "",
        "x": 95,
        "y": 123,
        "wires": []
    },
    {
        "id": "335e2272b8f018f2",
        "type": "comment",
        "z": "aacdf143dc2db16a",
        "name": "INTEGRATION LEVEL (API)",
        "info": "",
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "f1b978c7cd0a39fd",
        "type": "switch",
        "z": "aacdf143dc2db16a",
        "name": "Logging",
        "property": "log",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 941,
        "y": 242,
        "wires": [
            [
                "0fe3225ecdf4a9cd",
                "1b338df54a30d37f"
            ]
        ]
    },
    {
        "id": "571e3f3d2dd00249",
        "type": "inject",
        "z": "aacdf143dc2db16a",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "init",
        "payloadType": "str",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "ebdb4c1b86612fea"
            ]
        ]
    },
    {
        "id": "07b54f96bafbe24e",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "CONFIG",
        "func": "var config;\n\nconfig = {\n    'scale':'avto1',\n    'deltaWeight':250,\n    'sizeOfArrayOfWeights':5,\n    'inaccuracy':60\n}\n \nflow.set('config',config);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "b8bd329caf3b2cdd"
            ]
        ]
    },
    {
        "id": "df60ab657d9afc9b",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 724,
        "y": 81,
        "wires": []
    },
    {
        "id": "13a4e29b6fa3404e",
        "type": "comment",
        "z": "aacdf143dc2db16a",
        "name": "INITIALIZING",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d87cf33d29305e9",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "MAKE PAGE",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 751,
        "y": 202,
        "wires": [
            []
        ]
    },
    {
        "id": "a77bedba1d1c2ffb",
        "type": "comment",
        "z": "aacdf143dc2db16a",
        "name": "TRAFFIC LIGHT",
        "info": "!",
        "x": 900,
        "y": 20,
        "wires": []
    },
    {
        "id": "8a28cf8e9afba62b",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "STATUSZERO",
        "func": "var UID = msg.req.query.reader;\nvar lastUID = flow.get('lastUID');\nvar zero    = flow.get('zero');\n\nif (UID!==lastUID && !zero) \n{\n    msg.statusZero = false;    \n} else {\n    msg.statusZero = true;\n   flow.set('zero',false);\n   flow.set('lastUID',UID);\n}\n\nmsg.uid = UID; \n\nmsg.payload = zero;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "f1b978c7cd0a39fd",
                "47bd5e2eda1d1f66"
            ]
        ]
    },
    {
        "id": "0fe3225ecdf4a9cd",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "Logging to table",
        "func": "var table = flow.get('table');\nvar currentWeight = flow.get('currentWeight');\nvar obj = {\n    'datetime': new Date(),\n    'uid': msg.uid,\n    'weight': currentWeight\n};\n\ntable.push(obj);\n\nflow.set('table',table);\nflow.set('lastWeight',currentWeight);\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 300,
        "wires": [
            [
                "62fda7b1aeda79f8"
            ]
        ]
    },
    {
        "id": "ef8ad350232a381b",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "LAST WEIGHT",
        "func": "var lastWeight    = flow.get('lastWeight');\nvar currentWeight = flow.get('currentWeight');\nvar deltaWeight   = flow.get('config').deltaWeight;\n\nvar log = 0;\nif ((lastWeight - currentWeight)>deltaWeight || (lastWeight - currentWeight) < -deltaWeight){\n    log = 1;\n} else if( lastWeight!==0 && currentWeight === 0){\n    log = 1;\n} else {\n    log = 0;\n}\n\nif (log){\n    if (currentWeight > lastWeight){\n        flow.set('in',true);\n        flow.set('out',false);\n    }else{\n        flow.set('in',false);\n        flow.set('out',true);\n    } \n}else{\n    flow.set('in',false);\n    flow.set('out',false);\n}\n\nif (currentWeight === 0){\n    flow.set('zero',true);\n} \n\nmsg.log = log;\nmsg.uid = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 242,
        "wires": [
            [
                "f1b978c7cd0a39fd"
            ]
        ]
    },
    {
        "id": "47bd5e2eda1d1f66",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "MAKE BODY",
        "func": "msg.payload = {\n    weight:flow.get('currentWeight'),\n    status:msg.statusZero,\n    stable:flow.get('stability'),    \n    perimetr:flow.get('perimetrStatus')\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "f5bd011c4f67740c"
            ]
        ]
    },
    {
        "id": "f5bd011c4f67740c",
        "type": "http response",
        "z": "aacdf143dc2db16a",
        "name": "",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "62fda7b1aeda79f8",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b338df54a30d37f",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "81ed3e761db6044e",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 728,
        "y": 142,
        "wires": []
    },
    {
        "id": "81da0ff7fe4ffc92",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "STABLE",
        "func": "var arrayOfWeights       = flow.get('arrayOfWeights');\nvar sizeOfArrayOfWeights = flow.get('config').sizeOfArrayOfWeights;\nvar inaccuracy           = flow.get('config').inaccuracy;\nvar size = arrayOfWeights.length - 1 - sizeOfArrayOfWeights;\n\narrayOfWeights.push(msg.payload);\n\nif (size > 0){\n    \n    flow.set('stability',true);\n    \n    for (var i = 0; i <= sizeOfArrayOfWeights; i++ ){\n        var ai = (arrayOfWeights.length - 1 - i);\n        var bi = (ai - 1);\n        var a = arrayOfWeights[ai];\n        var b = arrayOfWeights[bi];\n        if ((a-b)>inaccuracy || (a-b)<-inaccuracy){\n            flow.set('stability',false);\n            break;\n        }\n    }\n    \n}else {\n    flow.set('stability',false);\n}\n\nflow.set('arrayOfWeights',arrayOfWeights);\n\nmsg.payload = flow.get('stability');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 741,
        "y": 282,
        "wires": [
            []
        ]
    },
    {
        "id": "ebdb4c1b86612fea",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "INIT",
        "func": "flow.set('currentWeight',0);\nflow.set('perimetrStatus',0);\nflow.set('stability',true);\nflow.set('zero',false);\nflow.set('lastUID','');\nflow.set('lastWeight',0);\nflow.set('arrayOfWeights',[]);\nflow.set('table',[]);\nflow.set('log',0);\nflow.set('in',false);\nflow.set('out',true);\n  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "07b54f96bafbe24e"
            ]
        ]
    },
    {
        "id": "581e76a0228b034e",
        "type": "inject",
        "z": "aacdf143dc2db16a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "arrayOfWeights",
        "payloadType": "flow",
        "x": 206,
        "y": 995,
        "wires": [
            [
                "bf080232b9bcf1f0"
            ]
        ]
    },
    {
        "id": "bf080232b9bcf1f0",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 406,
        "y": 995,
        "wires": []
    },
    {
        "id": "b8bd329caf3b2cdd",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "Модель весов",
        "func": "flow.set('inputString', String.fromCharCode(0x00)); //тут пишем строку, которую шлем в ком порт, при необходимости\nflow.set('parser',function(v){\n        //тут парсим строку, которая приходит с весовго модуля\n\n    var k1_comon = 0;\n    var k2_comon = 0;\n    var k3_comon = 0;\n    var k4_comon = 0;\n    //забираєм елементи\n    var k1_h = v[2];\n    var k1_l = v[1];\n\n    var k2_h = v[4];\n    var k2_l = v[3];\n\n    var k3_h = v[6];\n    var k3_l = v[5];\n\n    var k4_h = v[8];\n    var k4_l = v[7];\n\n    //зміщення\n    k1_h = k1_h << 8;\n    k2_h = k2_h << 8;\n    k3_h = k3_h << 8;\n    k4_h = k4_h << 8;\n    // a | b  \n    k1_comon = k1_h | k1_l;\n    k2_comon = k2_h | k2_l;\n    k3_comon = k3_h | k3_l;\n    k4_comon = k4_h | k4_l;\n\n    v = (k1_comon + k2_comon + k3_comon + k4_comon);\n    var w1 = (k1_comon + k2_comon) * 10;\n    var w2 = (k3_comon + k4_comon) * 10;\n    flow.set('w1', w1);\n    flow.set('w2', w2);\n    return Number(v) * 10;\n    //return Number(v);\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 526.8570861816406,
        "y": 79.71429443359375,
        "wires": [
            [
                "df60ab657d9afc9b"
            ]
        ]
    },
    {
        "id": "61492cd6f7b9a132",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 885.5714492797852,
        "y": 1056.999994277954,
        "wires": []
    },
    {
        "id": "1e4ffb04b4218fab",
        "type": "ui_text",
        "z": "aacdf143dc2db16a",
        "group": "1fdfadbc.97ddc2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Дані з вагопроцесора",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 912.8571853637695,
        "y": 1097.8571968078613,
        "wires": []
    },
    {
        "id": "024acce9e1084459",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "",
        "func": "//msg.payload = msg.payload.toString();\nvar v1 = msg.payload[0].toString();\nvar v2 = msg.payload[1].toString();\nvar v3 = msg.payload[2].toString();\nvar v4 = msg.payload[3].toString();\nvar v5 = msg.payload[4].toString();\nvar v6 = msg.payload[5].toString();\nvar v7 = msg.payload[6].toString();\nvar v8 = msg.payload[7].toString();\nvar v9 = msg.payload[8].toString();\nvar v10 = msg.payload[9].toString();\n\nmsg.payload = v1 + \",\" + v2  + \",\" + \n              v3 + \",\" + v4  + \",\" +\n              v5 + \",\" + v6  + \",\" +\n              v7 + \",\" + v8  + \",\" +\n              v9 + \",\" + v10  ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 629,
        "y": 1098,
        "wires": [
            [
                "1e4ffb04b4218fab",
                "61492cd6f7b9a132"
            ]
        ]
    },
    {
        "id": "56d2f45476c79766",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "",
        "func": "var in_d = msg.payload;\nvar len = in_d.length;\nvar find_161 = in_d.indexOf(161, 0);\nvar find_171 = in_d.indexOf(171, 0);\n\n\nif(find_161 == 8)\nmsg.payload = find_161;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 631,
        "y": 1056,
        "wires": [
            [
                "59c978157cc04604"
            ]
        ]
    },
    {
        "id": "59c978157cc04604",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 879.1428451538086,
        "y": 1022.1428961753845,
        "wires": []
    },
    {
        "id": "4cf15a51910a4a91",
        "type": "file",
        "z": "aacdf143dc2db16a",
        "name": "",
        "filename": "/log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 973,
        "y": 967,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d43738532c2798",
        "type": "file in",
        "z": "aacdf143dc2db16a",
        "name": "",
        "filename": "/log.txt",
        "format": "utf8",
        "x": 306,
        "y": 1028,
        "wires": [
            [
                "bf080232b9bcf1f0",
                "604001cab787f7f2"
            ]
        ]
    },
    {
        "id": "e4b0c2678c3cf6e0",
        "type": "inject",
        "z": "aacdf143dc2db16a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 166,
        "y": 1025,
        "wires": [
            [
                "d1d43738532c2798"
            ]
        ]
    },
    {
        "id": "4a01309d063e5517",
        "type": "function",
        "z": "aacdf143dc2db16a",
        "name": "",
        "func": "var v1 = msg.payload[0].toString();\nvar v2 = msg.payload[1].toString();\nvar v3 = msg.payload[2].toString();\nvar v4 = msg.payload[3].toString();\nvar v5 = msg.payload[4].toString();\nvar v6 = msg.payload[5].toString();\nvar v7 = msg.payload[6].toString();\nvar v8 = msg.payload[7].toString();\nvar v9 = msg.payload[8].toString();\nvar v10 = msg.payload[9].toString();\n\nvar in_d = v1 + \",\" + v2  + \",\" + \n              v3 + \",\" + v4  + \",\" +\n              v5 + \",\" + v6  + \",\" +\n              v7 + \",\" + v8  + \",\" +\n              v9 + \",\" + v10  ;\n\n\nmsg.payload = {\n    in_d: in_d.toString(),\n    date: new Date()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 738,
        "y": 965,
        "wires": [
            [
                "e5a6ba63528d5462"
            ]
        ]
    },
    {
        "id": "e5a6ba63528d5462",
        "type": "json",
        "z": "aacdf143dc2db16a",
        "name": "",
        "x": 859,
        "y": 968,
        "wires": [
            [
                "4cf15a51910a4a91"
            ]
        ]
    },
    {
        "id": "b8950815a628837b",
        "type": "http in",
        "z": "aacdf143dc2db16a",
        "name": "",
        "url": "/red/log",
        "method": "get",
        "swaggerDoc": "",
        "x": 173,
        "y": 1069,
        "wires": [
            [
                "d1d43738532c2798"
            ]
        ]
    },
    {
        "id": "604001cab787f7f2",
        "type": "http response",
        "z": "aacdf143dc2db16a",
        "name": "",
        "x": 380,
        "y": 1066,
        "wires": []
    },
    {
        "id": "9dd5ca4ed9236ae9",
        "type": "inject",
        "z": "aacdf143dc2db16a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99,
        "y": 1167,
        "wires": [
            [
                "460bec0f3e56da47"
            ]
        ]
    },
    {
        "id": "460bec0f3e56da47",
        "type": "file",
        "z": "aacdf143dc2db16a",
        "name": "",
        "filename": "/log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 289,
        "y": 1169,
        "wires": [
            []
        ]
    },
    {
        "id": "107a2ebf1506d487",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 379,
        "y": 129,
        "wires": []
    },
    {
        "id": "5313ab1a4798568d",
        "type": "debug",
        "z": "aacdf143dc2db16a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "f83c51a788b78e3f",
        "type": "tcp request",
        "z": "aacdf143dc2db16a",
        "name": "",
        "server": "172.16.9.24",
        "port": "9761",
        "out": "time",
        "ret": "buffer",
        "splitc": "200",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "268a6792f8c2a5d5",
                "5313ab1a4798568d"
            ]
        ]
    }
]
