Office/flow_task_IOt.json
[{"id":"ef50565a.f62cf8","type":"tab","label":"Для стажера","disabled":false,"info":""},{"id":"ca62f674.f68588","type":"http in","z":"ef50565a.f62cf8","name":"","url":"/get/info","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["82aa2a5c.02f598"]]},{"id":"994f16cb.0da2b8","type":"http response","z":"ef50565a.f62cf8","name":"","statusCode":"","headers":{},"x":570,"y":80,"wires":[]},{"id":"82aa2a5c.02f598","type":"file in","z":"ef50565a.f62cf8","name":"","filename":"info2.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":80,"wires":[["994f16cb.0da2b8","9abd5d1f.c1a4c"]]},{"id":"83ef4e6f.4145e","type":"file","z":"ef50565a.f62cf8","name":"","filename":"info2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":340,"y":280,"wires":[["ca20e2dd.3d221","f774793.fdc5588"]]},{"id":"632295f5.00524c","type":"http in","z":"ef50565a.f62cf8","name":"","url":"/get/info","method":"post","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["83ef4e6f.4145e","26dde2c7.d4f26e"]]},{"id":"ca20e2dd.3d221","type":"http response","z":"ef50565a.f62cf8","name":"","statusCode":"","headers":{},"x":530,"y":280,"wires":[]},{"id":"f774793.fdc5588","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"239841cd.16064e","type":"inject","z":"ef50565a.f62cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["83ef4e6f.4145e"]]},{"id":"e0439af9.bd15c8","type":"inject","z":"ef50565a.f62cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["82aa2a5c.02f598"]]},{"id":"9abd5d1f.c1a4c","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":120,"wires":[]},{"id":"26dde2c7.d4f26e","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":320,"wires":[]},{"id":"711a3a8c.e2fd94","type":"http in","z":"ef50565a.f62cf8","name":"","url":"/get/photo","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["154a1282.e2e68d"]]},{"id":"69bd9285.d4396c","type":"http request","z":"ef50565a.f62cf8","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://www.imageup.ru/img8/3028485/maz.jpg","tls":"","persist":true,"proxy":"","authType":"","x":330,"y":400,"wires":[["84aa80b7.4051c","cca7f55e.ecd4a8"]]},{"id":"84aa80b7.4051c","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":400,"wires":[]},{"id":"c1b57f4e.987de","type":"http in","z":"ef50565a.f62cf8","name":"","url":"/get/photo/params","method":"post","upload":false,"swaggerDoc":"","x":130,"y":680,"wires":[["f5af2b08.f208c8"]]},{"id":"f2fa64a6.9f0908","type":"http request","z":"ef50565a.f62cf8","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":680,"wires":[["3b31177.bb12ee8"]]},{"id":"ab14d893.a0f8a8","type":"http response","z":"ef50565a.f62cf8","name":"","statusCode":"","headers":{},"x":810,"y":680,"wires":[]},{"id":"3b31177.bb12ee8","type":"function","z":"ef50565a.f62cf8","name":"","func":"msg.headers = {};\nmsg.headers['content-type'] = 'image/jpeg';\nreturn msg;\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":680,"wires":[["ab14d893.a0f8a8"]]},{"id":"f5af2b08.f208c8","type":"function","z":"ef50565a.f62cf8","name":"","func":"var params = msg.payload.url;\nmsg.url = params;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":680,"wires":[["f2fa64a6.9f0908"]]},{"id":"cca7f55e.ecd4a8","type":"file","z":"ef50565a.f62cf8","name":"","filename":"maz.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":520,"y":440,"wires":[["32c1fd3b.94f5e2"]]},{"id":"32c1fd3b.94f5e2","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":440,"wires":[]},{"id":"df1118c4.d76738","type":"inject","z":"ef50565a.f62cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":400,"wires":[["69bd9285.d4396c"]]},{"id":"9fe02d95.79297","type":"http response","z":"ef50565a.f62cf8","name":"","statusCode":"","headers":{},"x":590,"y":520,"wires":[]},{"id":"624b2526.ffcfbc","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":560,"wires":[]},{"id":"154a1282.e2e68d","type":"file in","z":"ef50565a.f62cf8","name":"","filename":"maz.jpg","format":"","chunk":false,"sendError":false,"encoding":"binary","x":300,"y":520,"wires":[["624b2526.ffcfbc","89a28d66.71822"]]},{"id":"89a28d66.71822","type":"function","z":"ef50565a.f62cf8","name":"","func":"msg.headers = {};\nmsg.headers['content-type'] = 'image/jpeg';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["9fe02d95.79297"]]},{"id":"74312109.6b914","type":"http in","z":"ef50565a.f62cf8","name":"","url":"/get/info/queryParams","method":"get","upload":false,"swaggerDoc":"","x":150,"y":920,"wires":[["f38673eb.9188d"]]},{"id":"59d52b81.9915c4","type":"http response","z":"ef50565a.f62cf8","name":"","statusCode":"","headers":{},"x":710,"y":920,"wires":[]},{"id":"df5f9717.c56188","type":"inject","z":"ef50565a.f62cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1020,"wires":[[]]},{"id":"9cb4e89d.cb0d08","type":"debug","z":"ef50565a.f62cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":960,"wires":[]},{"id":"f38673eb.9188d","type":"function","z":"ef50565a.f62cf8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":920,"wires":[["c639da1c.84ff18"]]},{"id":"d388c926.d29118","type":"inject","z":"ef50565a.f62cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":980,"wires":[[]]},{"id":"c639da1c.84ff18","type":"file","z":"ef50565a.f62cf8","name":"","filename":"info2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":520,"y":920,"wires":[["59d52b81.9915c4","9cb4e89d.cb0d08"]]},{"id":"9f24eb68.74d5a8","type":"tcp in","z":"ef50565a.f62cf8","name":"","server":"server","host":"","port":"2001","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":130,"y":1140,"wires":[["71d04136.8c7d8"]]},{"id":"71d04136.8c7d8","type":"tcp out","z":"ef50565a.f62cf8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":360,"y":1140,"wires":[]}]
